<ion-view title="Chats" hide-nav-bar="false" id="page5">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div class="box-expand shadow nivel1" id="mensagem">
      <ul class="book clearfix">
        <li>
          <a ui-sref="mensagem" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> enviou uma mensagem</span>
            <span class="book-desc"><i class="sprite sprite2 sprite-msg"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

        <li>
          <a ui-sref="mensagem" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> enviou uma mensagem</span>
            <span class="book-desc"><i class="sprite sprite2 sprite-msg"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

        <li>
          <a ui-sref="mensagem" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> enviou uma mensagem</span>
            <span class="book-desc"><i class="sprite sprite2 sprite-msg"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

        <li>
          <a ui-sref="mensagem" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> enviou uma mensagem</span>
            <span class="book-desc"><i class="sprite sprite2 sprite-msg"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

        <li>
          <a ui-sref="mensagem" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> enviou uma mensagem</span>
            <span class="book-desc"><i class="sprite sprite2 sprite-msg"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

        <li>
          <a ui-sref="mensagem" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> enviou uma mensagem</span>
            <span class="book-desc"><i class="sprite sprite2 sprite-msg"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

        <li>
          <a ui-sref="mensagem" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> enviou uma mensagem</span>
            <span class="book-desc"><i class="sprite sprite2 sprite-msg"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

        <li>
          <a ui-sref="mensagem" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> enviou uma mensagem</span>
            <span class="book-desc"><i class="sprite sprite2 sprite-msg"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

      </ul>
      <button ui-sref="mensagens" class="button button-full button-positive">Ver todos as MENSAGENS</button>
      <br />
      <br />
    </div>
  </ion-content>
</ion-view>
