<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <div class="bottom-buttons btn-pdf" style="right: 15px;">
    <i class="sprite spritesheet-ciclos ciclos-gen-pdf"></i>
  </div>
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">Acompanhamento das Metas</h2>

      <h3 class="sub-title">Ciclo 01</h3>
      <p class="text-app">
        Meta estabelecida:<span class="text-gray"> 220 horas</span>
        <br />
        Início:<span class="text-gray"> 00/00/0000</span>
        <br />
        Prazo para conclusão:<span class="text-gray"> 00/00/0000</span>
      </p>

    </div>

    <div class="tabela-tipo2 clearfix">
      <span class="tab-title margin-left padding">METAS PARCIAIS</span>
      <div class="tabela-container clearfix">

        <div class="linha-topo clearfix">
          <div class="coluna">
            Período
          </div>
          <div class="coluna">
            Meta
          </div>

        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            00/00/0000 a 00/00/0000
          </div>
          <div class="coluna">
            152 horas
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            00/00/0000 a 00/00/0000
          </div>
          <div class="coluna">
            152 horas
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            00/00/0000 a 00/00/0000
          </div>
          <div class="coluna">
            152 horas
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            00/00/0000 a 00/00/0000
          </div>
          <div class="coluna">
            152 horas
          </div>
        </div>
        <div class="linha fnd-azulclaro clearfix">
          <div class="coluna">
            TOTAL
          </div>
          <div class="coluna">
            152 horas
          </div>
        </div>
      </div>
    </div>

    <!-- fim tabela -->
    <div class="full clearfix left">
      <div class="box-alert clearfix left padding" style="background-color: #31a54a">
        <span class="whitetitle">Parabens!</span>
        <p>Ciclo concluido no prazo. Esse é o caminho da aprovação.</p>
      </div>
      <div class="box-alert clearfix left padding" style="background-color: #e2af00">
        <span class="whitetitle">Atenção!</span>
        <p>Ciclo concluido no prazo. Esse é o caminho da aprovação.</p>
      </div>
      <div class="box-alert clearfix left padding" style="background-color: #c70100">
        <span class="whitetitle">Atenção!</span>
        <p>Ciclo concluido no prazo. Esse é o caminho da aprovação.</p>
      </div>
    </div>

    <!-- fim blocos -->

    <div class="tabela-tipo2 clearfix">
      <span class="tab-title margin-left padding">ACOMPANHAMENTO DA EXECUÇÃO</span>
      <i class="sprite spritesheet-ciclos ciclos-seta-tabela-esquerda left" style="top: 200px;"></i>
      <i class="sprite spritesheet-ciclos ciclos-seta-tabela-direita right no-margin" style="top: 200px;"></i>
      <div class="tabela-container clearfix">

        <div class="linha-topo fnd-azulescuro clearfix">
          <div class="coluna">
            DATA ATUAL
          </div>
          <div class="coluna">
            META DO DIA
          </div>
          <div class="coluna">
            ESTUDADE
          </div>
          <div class="coluna">
            %ATINGIDO
          </div>
        </div>
        <div class="linha fnd-verde clearfix">
          <div class="coluna">
            00/00/0000 a 00/00/0000
          </div>
          <div class="coluna">
            152 horas
          </div>
          <div class="coluna">
            152 horas
          </div>
          <div class="coluna">
            152 horas
          </div>
        </div>
        <div class="linha fnd-verde clearfix">
          <div class="coluna">
            00/00/0000 a 00/00/0000
          </div>
          <div class="coluna">
            152 horas
          </div>
          <div class="coluna">
            152 horas
          </div>
          <div class="coluna">
            152 horas
          </div>
        </div>
        <div class="linha fnd-amarelo clearfix">
          <div class="coluna">
            00/00/0000 a 00/00/0000
          </div>
          <div class="coluna">
            152 horas
          </div>
          <div class="coluna">
            152 horas
          </div>
          <div class="coluna">
            152 horas
          </div>
        </div>
        <div class="linha fnd-vermelho clearfix">
          <div class="coluna">
            00/00/0000 a 00/00/0000
          </div>
          <div class="coluna">
            152 horas
          </div>
          <div class="coluna">
            152 horas
          </div>
          <div class="coluna">
            152 horas
          </div>
        </div>
      </div>
    </div>

    <!-- fim tabela -->

    <div class="container padding">
      <span class="tab-title margin-left">METAS ANTERIORES</span>
      <p class="text-gray">
        - CICLO 01 <br />
        - CICLO 02
      </p>
    </div>

    <div class="padding">
      <button class="botao btn-volta botao-azulclaro center full padding">VOLTAR</button>
    </div>
  </div>



  </ion-content>
</ion-view>
