<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">Confirmação</h2>

      <p class="center-text text-app text-gray">
        De acordo com as informações prestadas, você irá estudar <span class="materias-escolhidas">05 matérias</span>:
      </p>

      <ul class="list-materias clearfix">
        <li>
          Direito tributário
        </li>
        <li>
          Portugues
        </li>
        <li>
          Matematica FInanceira
        </li>
        <li>
          Contabilidade
        </li>
        <li>
          Direito Administrativo
        </li>
      </ul>
      <p class="center-text text-app text-gray">
        As informações estão corretas?
      </p>
      <button class="botao botao-salvar botao-azulclaro half left">CORRIGIR</button>
      <button class="botao botao-salvar botao-azulescuro half right no-margin-right">CONFIRMAR</button>
    </div>


  </div>



  </ion-content>
</ion-view>
