<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">Blocos de estudos</h2>

      <p class="center-text text-app">
        Você deverá dividir o conteúdo teórico de cada matéria em blocos teóricos dos assuntos você irá estudar. Recomendamos que cada bloco tenha de 2 a 5 assuntos a serem estudados.
        <br /><br />
        A cada bloco teórico que você criar, iremos inserir blocos de revisão, sugerindo a quantidade de horas e de resolução de questões, com indicação do número de questões a serem resolvidas.
      </p>

    </div>
    <div class="clearfix margin-top margin-bottom">
        <span class="subtitle padding"></span>
        <div class="tabela-tab clearfix margin-top">
          <div class="tab-linha clearfix">
            <ul class="tab-menu clearfix">
              <!-- <li class="tab-menu-item balizador">Matérias</li> -->
              <li class="tab-menu-item" ng-click="tabClick('t1')" ng-class="{'active' : tabActive == 't1'}"><span>Bloco</span></li>
              <li class="tab-menu-item" ng-click="tabClick('t2')" ng-class="{'active' : tabActive == 't2'}"><span>Teoria</span></li>  
            </ul>
          </div>
          <div class="tab-content">
            <div class="coluna coluna-fixed" id="col-materia">
              <div class="linha odd">Português</div>
              <div class="linha even">Matemática Financeira</div>
              <div class="linha odd">Português</div>
              <div class="linha even">Matemática Financeira</div>
              <div class="linha odd">Português</div>
              <div class="linha even">Matemática Financeira</div>
            </div>
            <div class="coluna coluna-movel" id="t1" ng-show="tabActive == 't1' || tabActive == ''">
              <div class="linha odd">20</div>
              <div class="linha even">20</div>
              <div class="linha odd">20</div>
              <div class="linha even">20</div>
              <div class="linha odd">20</div>
              <div class="linha even">20</div>
            </div>
            <div class="coluna coluna-movel" id="t2" ng-show="tabActive == 't2'">
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
            </div>
          </div>
        </div>
      </div>
    


    <br />
    <div class="clearfix padding">
      <i class="sprite spritesheet-ciclos ciclos-seta-direita right"></i>
      <i class="sprite spritesheet-ciclos ciclos-seta-esquerda left"></i>
    </div>

  </div>



  </ion-content>
</ion-view>
