<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">
    <div class="top-destaque clearfix padding">
        <button class="botao botao-leaderboard botao-verde left"><i class="sprite spritesheet-ciclos ciclos-leaderboard"></i><span class="btn-title">Leaderboard</span></button>
        <i class="sprite spritesheet-ciclos ciclos-pdf right"></i>
    </div>

    <div class="main-content clearfix">
      <div class="cicle-buttons meus-ciclos">
        <i class="sprite spritesheet-ciclos ciclos-meus"></i>
        <span class="bigtitle">Meus Ciclos</span>
      </div>
      <div class="cicle-buttons acompanhar-metas">
        <i class="sprite spritesheet-ciclos ciclos-acompanhar"></i>
        <span class="bigtitle">Acompanhar <br />Metas</span>
      </div>
      <div class="cicle-buttons editar-disciplinas">
        <i class="sprite spritesheet-ciclos ciclos-disciplinas"></i>
        <span class="bigtitle">Editar Disciplinas</span>
        <span class="smalltitle">Suspende o ciclo atual</span>
      </div>
      <div class="cicle-buttons evolucao-ciclos">
        <i class="sprite spritesheet-ciclos ciclos-evolucao"></i>
        <span class="bigtitle">Evolução</span>
      </div>
      <div class="cicle-buttons relatorios-ciclos">
        <i class="sprite spritesheet-ciclos ciclos-relatorios"></i>
        <span class="bigtitle">Relatórios</span>
      </div>
      <div class="cicle-buttons alterar-horas">
        <i class="sprite spritesheet-ciclos ciclos-alterar"></i>
        <span class="bigtitle">Alterar quantidade de horas</span>
        <span class="smalltitle">Apenas fará efeito no próximo ciclo</span>
      </div>
      <div class="cicle-buttons manual-ciclos">
        <i class="sprite spritesheet-ciclos ciclos-manual"></i>
        <span class="bigtitle">Manual dos ciclos de estudo</span>
      </div>
      <div class="cicle-buttons orientacoes-ciclos">
        <i class="sprite spritesheet-ciclos ciclos-orientacoes"></i>
        <span class="bigtitle">Orientações gerais<br> Como estudar?</span>
      </div>
      <div class="cicle-buttons ebook-ciclos">
        <i class="sprite spritesheet-ciclos ciclos-ebook"></i>
        <span class="bigtitle">Ebook - Virei concurseiro! e agora?</span>
      </div>
    </div>


  </div>



  </ion-content>
</ion-view>
