<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">Evolução</h2>

    </div>

    <div class="tabela-tipo1 clearfix">
      <div class="linha-topo clearfix">
        <div class="coluna" style="min-width: 209px !important">
          Período
        </div>
        <div class="coluna">
          Nível de Conhecimento
        </div>
      </div>
      <div class="linha odd clearfix">
        <div class="coluna">
          Português
        </div>
        <div class="coluna">
          <select>
            <option>
              Básico/Nunca Estudou
            </option>
          </select>
        </div>
      </div>
      <div class="linha even clearfix">
        <div class="coluna">
          Lingua Estrangeira
        </div>
        <div class="coluna">
          <select>
            <option>
              Básico/Nunca Estudou
            </option>
          </select>
        </div>
      </div>
      <div class="linha odd clearfix">
        <div class="coluna">
          Português
        </div>
        <div class="coluna">
          <select>
            <option>
              Básico/Nunca Estudou
            </option>
          </select>
        </div>
      </div>
      <div class="linha even clearfix">
        <div class="coluna">
          Lingua Estrangeira
        </div>
        <div class="coluna">
          <select>
            <option>
              Básico/Nunca Estudou
            </option>
          </select>
        </div>
      </div>
    </div>

    <br />
    <div class="clearfix padding">
      <button class="botao botao-azulclaro full center">Voltar</button>
      <button class="botao botao-azulescuro full center margin-top">SALVAR</button>
    </div>

  </div>



  </ion-content>
</ion-view>
