<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">Definição de matérias</h2>

      <p class="center-text text-app text-red">
        ATENÇÃO! <br />
        Após a conclusão desta etapa não será possível alterar esses dados para modificar os ciclos gerados. Qualquer alteração dessas informações após a geração irá cancelar os ciclos e reiniciar todo o processo.
      </p>
      <p class="center-text text-app">
        Por isso, leia atentamente cada campo a ser preenchido e responda de acordo com a sua necessidade e/ou tempo que você já estuda para o concurso desejado.
      </p>
      <br />
      <div class="subitem clearfix">
        <span class="subtitle">QUANTIDADE DE MATÉRIAS NO PRIMEIRO CICLO</span>
        <p class="small-text text-gray">
          Indique a quantidade de matérias que você deseja começar estudando no ciclo inicial.
        </p>
        <input class="full padding" type="text" placeholder="Digite a quantidade desejada"/>
      </div>
      <div class="subitem clearfix">
        <span class="subtitle">NÍVEL DE CONHECIMENTO E ORDEM DAS MATÉRIAS</span>
        <p class="small-text text-gray">
          Selecione o nível de conhecimento em cada matéria e em seguida indique a ordem na qual as matérias serão incluídas nos seus ciclos.
        </p>
        <p class="text-red">
          Clique e arraste as matérias para ordená-las de acordo com sua necessidade de estudo.
        </p>
      </div>


    </div>

    <div class="tabela-tipo1 clearfix">
      <div class="tabela-titulo">
        Matérias do 1º Ciclo
      </div>
      <div class="linha odd clearfix">
        <div class="coluna">
          Português
        </div>
        <div class="coluna">
          <select>
            <option>
              Básico/Nunca Estudou
            </option>
          </select>
        </div>
      </div>
      <div class="linha even clearfix">
        <div class="coluna">
          Lingua Estrangeira
        </div>
        <div class="coluna">
          <select>
            <option>
              Básico/Nunca Estudou
            </option>
          </select>
        </div>
      </div>
      <div class="linha odd clearfix">
        <div class="coluna">
          Português
        </div>
        <div class="coluna">
          <select>
            <option>
              Básico/Nunca Estudou
            </option>
          </select>
        </div>
      </div>
      <div class="linha even clearfix">
        <div class="coluna">
          Lingua Estrangeira
        </div>
        <div class="coluna">
          <select>
            <option>
              Básico/Nunca Estudou
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="tabela-tipo1 clearfix tabela-gray">
      <div class="tabela-titulo">
        Matérias seguintes
      </div>
      <div class="linha odd clearfix">
        <div class="coluna">
          Português
        </div>
        <div class="coluna">
          <select>
            <option>
              Básico/Nunca Estudou
            </option>
          </select>
        </div>
      </div>
      <div class="linha even clearfix">
        <div class="coluna">
          Lingua Estrangeira
        </div>
        <div class="coluna">
          <select>
            <option>
              Básico/Nunca Estudou
            </option>
          </select>
        </div>
      </div>
      <div class="linha odd clearfix">
        <div class="coluna">
          Português
        </div>
        <div class="coluna">
          <select>
            <option>
              Básico/Nunca Estudou
            </option>
          </select>
        </div>
      </div>
      <div class="linha even clearfix">
        <div class="coluna">
          Lingua Estrangeira
        </div>
        <div class="coluna">
          <select>
            <option>
              Básico/Nunca Estudou
            </option>
          </select>
        </div>
      </div>
    </div>

    <br />
    <div class="clearfix padding">
      <i class="sprite spritesheet-ciclos ciclos-seta-direita right"></i>
      <i class="sprite spritesheet-ciclos ciclos-seta-esquerda left"></i>
    </div>

  </div>



  </ion-content>
</ion-view>
