<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <div class="bottom-buttons btn-estatisticas" style="right: 110px; width: 35px; height: 35px;">
    <i class="sprite spritesheet-ciclos ciclos-estatisticas"></i>
  </div>
  <div class="bottom-buttons btn-estatisticas" style="right: 65px; width: 35px; height: 35px;">
    <i class="sprite spritesheet-ciclos ciclos-livros"></i>
  </div>
  <div class="bottom-buttons btn-estatisticas" style="right: 20px; width: 35px; height: 35px;">
    <i class="sprite spritesheet-ciclos ciclos-professores"></i>
  </div>
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">
      <br />


      <div class="left clearfix full relative">
          <h2 class="content-title block no-margin" style="text-align: center; font-size: 35px; width: 100%">CICLO 01</h2>
          <p class="modal-p block no-margin" style="text-align: center; width: 100%">
              Iniciado em 00/00/0000
              <br> Meta para 00/00/0000
          </p>
      </div>
      <div class="left clearfix cronometro full margin-top" >
          <ul class="clearfix left relative option-question no-margin" style="position: absolute !important;left: 50%;width: auto !important;margin-left: -125px !important;">
              <li class="clearfix bottom" style="margin-top: 10px">
                  <a class="sprite sprite4 sprite-play_app"></a>
              </li>
              <li class="clearfix bottom" style="margin-top: 10px">
                  <a class="sprite sprite4 sprite-stop_app"></a>
              </li>
              <li class="clearfix bottom">
                  <a class="sprite sprite4 sprite-relogio_app"></a>
              </li>
              <li class="clearfix bottom">
                  <span style="color: red; font-size: 28px;">00:00:00</span>
              </li>
          </ul>
          <p class="warning" style="text-align: center;width: 100%;font-size: 11px;text-transform: uppercase;font-weight: 400; margin-top: 53px">
              Proxima materia: Matematica financeira
              <br> 1 Hora - Bloco 3 - Questões
          </p>
      </div>

      <div class="tabela-tipo3 clearfix">
        <i class="sprite spritesheet-ciclos ciclos-seta-tabela-esquerda left" style="top: 100px;"></i>
        <i class="sprite spritesheet-ciclos ciclos-seta-tabela-direita right no-margin" style="top: 100px;"></i>
        <div class="tabela-container clearfix">

          <div class="content-coluna clearfix">
            <span class="tab3-title">DADM</span>
            <div class="tabela-tipo4 clearfix">
              <div class="linha active clearfix green">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
            </div>
          </div>
          <div class="content-coluna clearfix">
            <span class="tab3-title">DADM</span>
            <div class="tabela-tipo4 clearfix">
              <div class="linha active clearfix yellow">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
            </div>
          </div>
          <div class="content-coluna clearfix">
            <span class="tab3-title">DADM</span>
            <div class="tabela-tipo4 clearfix">
              <div class="linha active clearfix green half center">
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix half center">
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix half center">
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix half center">
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix half center">
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix half center">
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix half center">
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix half center">
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix half center">
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix half center" >
                <span class="square"></span>
                <span class="square"></span>
              </div>
            </div>
          </div>
          <div class="content-coluna clearfix">
            <span class="tab3-title">DADM</span>
            <div class="tabela-tipo4 clearfix">
              <div class="linha active clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
            </div>
          </div>
          <div class="content-coluna clearfix">
            <span class="tab3-title">DADM</span>
            <div class="tabela-tipo4 clearfix">
              <div class="linha active clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
              <div class="linha clearfix">
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
                <span class="square"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fim da tabela -->

      <div class="tabela-tipo2 table-smallpadding clearfix margin-top">

        <i class="sprite spritesheet-ciclos ciclos-seta-tabela-esquerda left" style="top: 300px;"></i>
        <i class="sprite spritesheet-ciclos ciclos-seta-tabela-direita right no-margin" style="top: 300px;"></i>
        <div class="tabela-container clearfix">

          <div class="linha-topo clearfix">
            <div class="coluna">
              Matéria
            </div>
            <div class="coluna">
              Total de horas
            </div>
            <div class="coluna">
              estudadas
            </div>
            <div class="coluna">
              teoria
            </div>
          </div>
          <div class="linha odd clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              100
            </div>
            <div class="coluna">
              60
            </div>
            <div class="coluna">
              60
            </div>
          </div>
          <div class="linha even clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha odd clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha even clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha odd clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha even clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha odd clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha even clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha odd clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha even clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha odd clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha even clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha odd clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha even clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha odd clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha even clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha odd clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
          <div class="linha even clearfix">
            <div class="coluna">
              DAD
            </div>
            <div class="coluna">
              20
            </div>
            <div class="coluna">
              10
            </div>
            <div class="coluna">
              20
            </div>
          </div>
        </div>
      </div>

      <!-- fim tabela -->
    </div>

    <div class="cicle-resume clearfix">
      <h3 class="sub-title uppercase center margin-top margin-bottom">Resumo do ciclo 01</h3>
      <div class="top-destaque clearfix">
          <div class="materias-cadastradas clearfix fnd-azulescuro">
            <span class="materias no-margin-top">Matérias <span class="seta-direita"></span></span>
            <span class="qtd-cadastrada">10</span>
          </div>
          <div class="materias-cadastradas clearfix fnd-azulsemiescuro">
            <span class="materias no-margin-top">Total de horas <span class="seta-direita"></span></span>
            <span class="qtd-cadastrada">10</span>
          </div>
          <div class="materias-cadastradas clearfix fnd-azulclaro" style="background-color: transparent">
            <span class="materias no-margin-top">Horas estudadas <span class="seta-direita"></span></span>
            <span class="qtd-cadastrada">10</span>
          </div>
          <div class="materias-cadastradas clearfix fnd-verde">
            <span class="materias no-margin-top half" style="left: 70px;">Teoria <span class="seta-direita"></span></span>
            <span class="qtd-cadastrada">10</span>
          </div>
          <div class="materias-cadastradas clearfix fnd-amarelo" style="background-color: transparent">
            <span class="materias no-margin-top half" style="left: 70px;">Revisão <span class="seta-direita"></span></span>
            <span class="qtd-cadastrada">10</span>
          </div>
          <div class="materias-cadastradas clearfix fnd-laranja">
            <span class="materias no-margin-top half" style="left: 70px;">Questões <span class="seta-direita"></span></span>
            <span class="qtd-cadastrada">10</span>
          </div>
      </div>
    </div>

    <div class="clearfix center margin-top" style="width: 80%">
        <div class="grafico-porcentagem left margin-right">
          <div class="cento_25"></div>
          <div class="num_cento" style="color: #9acd00; width: 80px; height: 80px;">25%</div>
        </div>
        <div class="grafico-porcentagem left margin-left" style="background-color: #9acd00">
          <div class="meio-circulo" style="height: 60px;    width: 54px;    border-radius: 0px 90px 90px 0;    -moz-border-radius: 90px 90px 0 0;    -webkit-border-radius: 90px 0px 0 0px;    background: green;">
          </div>
        </div>

    </div>
  </div>



  </ion-content>
</ion-view>
