<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix">

      <br />
      <h2 class="content-title full block">Blocos cadastrados para nome da matéria</h2>

      <button class="botao btn-cadastrar botao-azulclaro half center">CADASTRAR NOVO BLOCO</button>

      <ul class="ul-tipo2 clearfix">
        <span class="titulo-bloco">Blocos</span>
        <li class="clearfix">
          <span class="numero-bloco">Bloco 1 - Teoria</span>
          <ul class="subbloco clearfix">
            <li class="odd">
              Revisão 10h - Blocos : 1
            </li>
            <li class="even">
              Resoluções de 20 questões - Blocos: 1
            </li>
          </ul>
        </li>
      </ul>

    </div>


  </div>



  </ion-content>
</ion-view>
