<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">Blocos de estudos</h2>

      <p class="center-text text-app">
        Você deverá dividir o conteúdo teórico de cada matéria em blocos teóricos dos assuntos você irá estudar. Recomendamos que cada bloco tenha de 2 a 5 assuntos a serem estudados.
        <br /><br />
        A cada bloco teórico que você criar, iremos inserir blocos de revisão, sugerindo a quantidade de horas e de resolução de questões, com indicação do número de questões a serem resolvidas.
      </p>

    </div>

    <div class="tabela-tipo2 clearfix">
      <i class="sprite spritesheet-ciclos ciclos-seta-tabela-esquerda left"></i>
      <i class="sprite spritesheet-ciclos ciclos-seta-tabela-direita right no-margin"></i>
      <div class="tabela-container clearfix">

        <div class="linha-topo clearfix">
          <div class="coluna">
            Matérias
          </div>
          <div class="coluna">
            Blocos
          </div>
          <div class="coluna">
            Teoria
          </div>
          <div class="coluna">
            Horas
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            Português
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            MATEMÁTICA FINANCEIRA
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            Português
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            MATEMÁTICA FINANCEIRA
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
      </div>
    </div>


    <br />
    <div class="clearfix padding">
      <i class="sprite spritesheet-ciclos ciclos-seta-direita right"></i>
      <i class="sprite spritesheet-ciclos ciclos-seta-esquerda left"></i>
    </div>

  </div>



  </ion-content>
</ion-view>
