<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding input-alterados">

      <br />
      <h2 class="content-title full block">ALTERAR QUANTIDADE DE HORAS</h2>

      <p class="center-text text-app text-red">Atenção! O e-concurseiro irá ajudá-lo a controlar e organizar o seu estudo individual. Por isso, trabalhamos sempre com as informações referentes ao seu estudo pessoal, ou seja, desconsiderando o estudo efetuado em cursinhos presenciais.
      </p>
      <p class="center-text text-app">
        Por isso, ao responder as perguntas, considere apenas o estudo individual, realizado na sua residência ou em bibliotecas, por exemplo.
      </p>
      <p class="center-text text-app text-red">
        Essa alteração irá suspender o ciclco atual e gerar um novo, impactando incluse nas metas.
      </p>
      <p class="center-text text-app">
        Informe no quadro ao lado quantas horas por dia, em média, você dedicará à sua preparação.
      </p>

      <div class="content-input clearfix">
        <label>Segunda-Feira</label>
        <input type="text" placeholder="00:00" />
      </div>
      <div class="content-input clearfix">
        <label>Terça-Feira</label>
        <input type="text" placeholder="00:00" />
      </div>
      <div class="content-input clearfix">
        <label>Quarta-Feira</label>
        <input type="text" placeholder="00:00" />
      </div>
      <div class="content-input clearfix">
        <label>Quinta-Feira</label>
        <input type="text" placeholder="00:00" />
      </div>
      <div class="content-input clearfix">
        <label>Sexta-Feira</label>
        <input type="text" placeholder="00:00" />
      </div>
      <div class="content-input clearfix">
        <label>Sábado</label>
        <input type="text" placeholder="00:00" />
      </div>
      <div class="content-input clearfix">
        <label>Domingo</label>
        <input type="text" placeholder="00:00" />
      </div>
      <div class="content-input clearfix">
        <label style="top: -2px">Total de horas da semana</label>
        <input type="text" placeholder="00:00" class="total-input"/>
      </div>
      <br />
      <i class="sprite spritesheet-ciclos ciclos-seta-direita right"></i>
      <i class="sprite spritesheet-ciclos ciclos-seta-esquerda left"></i>
    </div>


  </div>



  </ion-content>
</ion-view>
