<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">CADASTRO DE MATÉRIAS</h2>

      <div class="content-input-other clearfix">
        <label>NOME</label>
        <input type="text" placeholder="Texto sendo digitado" />
      </div>
      <div class="content-input-other tam-70 clearfix">
        <label>ABREVIADA</label>
        <input type="text" placeholder="AAAA" />
      </div>

      <div class="content-input-other tam-20 clearfix margin-left">
        <label>PESO</label>
        <input type="text" placeholder="20" />
      </div>

      <div class="content-input-other clearfix">
        <label>NÍVEL DE DIFICULDADE</label>
        <select>
          <option selected="selected">
            Fácil
          </option>
          <option selected="selected">
            Moderado
          </option>
          <option selected="selected">
            Difícil
          </option>
        </select>
      </div>

      <button class="botao botao-salvar botao-azulclaro full">SALVAR</button>
      <span class="action-desc">Cadastro efetuado com sucesso!</span>
    </div>


  </div>



  </ion-content>
</ion-view>
