<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <div class="bottom-buttons btn-edit" style="right: 135px;">
    <i class="sprite spritesheet-ciclos ciclos-edit"></i>
  </div>
  <div class="bottom-buttons btn-pdf" style="right: 75px;">
    <i class="sprite spritesheet-ciclos ciclos-gen-pdf"></i>
  </div>
  <div class="bottom-buttons btn-trilha" >
    <i class="sprite spritesheet-ciclos ciclos-trilha"></i>
  </div>
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">Meus ciclos</h2>

    </div>

    <div class="tabela-tipo2 table-smallpadding clearfix">

      <i class="sprite spritesheet-ciclos ciclos-seta-tabela-esquerda left" style="top: 300px;"></i>
      <i class="sprite spritesheet-ciclos ciclos-seta-tabela-direita right no-margin" style="top: 300px;"></i>
      <div class="tabela-container clearfix">

        <div class="linha-topo clearfix fundo-azul">
          <div class="coluna">
            CICLO
          </div>
          <div class="coluna">
            HORAS
          </div>
          <div class="coluna">
            ESTUDADO
          </div>
          <div class="coluna">
            %
          </div>
        </div>
        <div class="linha active clearfix">
          <div class="coluna">
            CICLO 6
          </div>
          <div class="coluna">
            100
          </div>
          <div class="coluna">
            60
          </div>
          <div class="coluna">
            60
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            CICLO 5
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            CICLO 4
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            CICLO 3
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            CICLO 4
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            CICLO 3
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            CICLO 4
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            CICLO 3
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            CICLO 4
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            CICLO 3
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            CICLO 4
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            CICLO 3
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            CICLO 4
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            CICLO 3
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            CICLO 4
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            CICLO 3
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            CICLO 4
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            CICLO 3
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
      </div>
    </div>




    <br />
    <div class="clearfix padding">
      <button class="botao btn-voltar botao-azulclaro full center">VOLTAR</button>
    </div>

  </div>



  </ion-content>
</ion-view>
