<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <div class="bottom-buttons btn-edit" style="right: 135px;">
    <i class="sprite spritesheet-ciclos ciclos-edit"></i>
  </div>
  <div class="bottom-buttons btn-pdf" style="right: 75px;">
    <i class="sprite spritesheet-ciclos ciclos-gen-pdf"></i>
  </div>
  <div class="bottom-buttons btn-trilha" >
    <i class="sprite spritesheet-ciclos ciclos-trilha"></i>
  </div>
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">Meus ciclos</h2>

    </div>

    <div class="clearfix margin-top margin-bottom" style="margin-top: 50px !important;">
        <span class="subtitle padding" style="color: #949494"></span>
        <div class="tabela-tab clearfix margin-top">
          <div class="tab-linha clearfix">
            <ul class="tab-menu clearfix" style="background-color: #949494">
              <!-- <li class="tab-menu-item balizador">Matérias</li> -->
              <li class="tab-menu-item" ng-click="tabClick('t1')" ng-class="{'active' : tabActive == 't1' || tabActive == ''}"><span>Horas</span></li>
              <li class="tab-menu-item" ng-click="tabClick('t2')" ng-class="{'active' : tabActive == 't2'}"><span>Estudado</span></li>  
              <li class="tab-menu-item" ng-click="tabClick('t3')" ng-class="{'active' : tabActive == 't3'}"><span>%</span></li>  
            </ul>
          </div>
          <div class="tab-content">
            <div class="coluna coluna-fixed" id="col-materia">
              <div class="linha odd active">Ciclo 6</div>
              <div class="linha even">Ciclo 5</div>
              <div class="linha odd">Ciclo 4</div>
              <div class="linha even">Ciclo 3</div>
              <div class="linha odd">Ciclo 2</div>
              <div class="linha even">Ciclo 1</div>
            </div>
            <div class="coluna coluna-movel" id="t1" ng-show="tabActive == 't1' || tabActive == ''">
              <div class="linha odd active">100h</div>
              <div class="linha even">20h</div>
              <div class="linha odd">10h</div>
              <div class="linha even">20h</div>
              <div class="linha odd">20h</div>
              <div class="linha even">20h</div>
            </div>
            <div class="coluna coluna-movel" id="t2" ng-show="tabActive == 't2'">
              <div class="linha odd active">10h</div>
              <div class="linha even">10h</div>
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
            </div>
            <div class="coluna coluna-movel" id="t3" ng-show="tabActive == 't3'">
              <div class="linha odd active">10h</div>
              <div class="linha even">10h</div>
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
            </div>
          </div>
        </div>
      </div>

    




    <br />
    <div class="clearfix padding">
      <button class="botao btn-voltar botao-azulclaro full center">VOLTAR</button>
    </div>

  </div>



  </ion-content>
</ion-view>
