<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">Conclusão</h2>

      <span class="super-text center-text block">24h</span>
      <p class="center-text smalltext">
        QUANTIDADE DE HORAS<br /> ESTUDADAS POR SEMANA
      </p>
    </div>
    <div class="clearfix margin-top margin-bottom">
        <span class="subtitle padding">Matérias do 1º Ciclo</span>
        <div class="tabela-tab clearfix margin-top">
          <div class="tab-linha clearfix">
            <ul class="tab-menu clearfix">
              <!-- <li class="tab-menu-item balizador">Matérias</li> -->
              <li class="tab-menu-item" ng-click="tabClick('t1')" ng-class="{'active' : tabActive == 't1'}"><span>Bloco</span></li>
              <li class="tab-menu-item" ng-click="tabClick('t2')" ng-class="{'active' : tabActive == 't2'}"><span>Teoria</span></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="coluna coluna-fixed" id="col-materia">
              <div class="linha odd">Português</div>
              <div class="linha even">Matemática Financeira</div>
              <div class="linha odd">Português</div>
              <div class="linha even">Matemática Financeira</div>
              <div class="linha odd">Português</div>
              <div class="linha even">Matemática Financeira</div>
            </div>
            <div class="coluna coluna-movel" id="t1" ng-show="tabActive == 't1' || tabActive == ''">
              <div class="linha odd">20</div>
              <div class="linha even">20</div>
              <div class="linha odd">20</div>
              <div class="linha even">20</div>
              <div class="linha odd">20</div>
              <div class="linha even">20</div>
            </div>
            <div class="coluna coluna-movel" id="t2" ng-show="tabActive == 't2'">
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix margin-top margin-bottom" style="margin-top: 50px !important;">
        <span class="subtitle padding" style="color: #949494">Matérias Seguintes</span>
        <div class="tabela-tab clearfix margin-top">
          <div class="tab-linha clearfix">
            <ul class="tab-menu clearfix" style="background-color: #949494">
              <!-- <li class="tab-menu-item balizador">Matérias</li> -->
              <li class="tab-menu-item" ng-click="tabClick2('t3')" ng-class="{'active' : tabActive2 == 't3'}"><span>Bloco</span></li>
              <li class="tab-menu-item" ng-click="tabClick2('t4')" ng-class="{'active' : tabActive2 == 't4'}"><span>Teoria</span></li> 
            </ul>
          </div>
          <div class="tab-content">
            <div class="coluna coluna-fixed" id="col-materia">
              <div class="linha odd">Português</div>
              <div class="linha even">Matemática Financeira</div>
              <div class="linha odd">Português</div>
              <div class="linha even">Matemática Financeira</div>
              <div class="linha odd">Português</div>
              <div class="linha even">Matemática Financeira</div>
            </div>
            <div class="coluna coluna-movel" id="t3" ng-show="tabActive2 == 't3' || tabActive2 == ''">
              <div class="linha odd">20</div>
              <div class="linha even">20</div>
              <div class="linha odd">20</div>
              <div class="linha even">20</div>
              <div class="linha odd">20</div>
              <div class="linha even">20</div>
            </div>
            <div class="coluna coluna-movel" id="t4" ng-show="tabActive2 == 't4'">
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
              <div class="linha odd">10h</div>
              <div class="linha even">10h</div>
            </div>
          </div>
        </div>
      </div>
    


    <br />
    <div class="clearfix padding">
      <button class="botao btn-voltar botao-azulclaro full center">VOLTAR E CORRIGIR</button>
      <button class="botao btn-voltar botao-azulescuro full center margin-top">CONFIRMAR CADASTRO</button>
    </div>

  </div>



  </ion-content>
</ion-view>
