<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">
      <i class="sprite spritesheet-ciclos ciclos-logo_grande"></i>

      <h2 class="content-title full block">Bem Vindo(a) aos ciclos de estudo</h2>

      <p class="center-text text-app">A partir de agora você terá acesso ao aplicativo que irá te ajudar a planejar, organizar e controlar toda a sua preparação. <br><br>
      Porém, antes de iniciar será necessário o preenchimento do seu cadastro, mais precisamente a determinação do seu perfil e a escolha das disciplinas que irá estudar. <br><br>
      Por isso, preste bastante atenção às perguntas que serão feitas e as responda corretamente, pois delas dependem os ciclos de estudo que serão montados para você. <br><br>
      A determinação do seu perfil ocorrerá ao longo de 5 etapas, todas bem curtas, mas muito importantes.<br><br>
      Preste bastante atenção aos avisos em vermelho no inicio de cada bloco de questões.
      </p>

      <h3 class="center-text content-destaque">Pronto para começar? Então, vamos lá.</h3>

      <i class="sprite spritesheet-ciclos ciclos-seta-direita"></i>
    </div>


  </div>



  </ion-content>
</ion-view>
