<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix">

      <br />
      <h2 class="content-title full block">MATÉRIAS</h2>

      <p class="center-text text-app text-red">ATENÇÃO! <br />
        Esta etapa é de extrama importância para a definição dos seus ciclos de estudo.
      </p>

      <div class="top-destaque clearfix">
          <div class="materias-cadastradas clearfix">
            <span class="materias">Matérias cadastradas <span class="seta-direita"></span></span>
            <span class="qtd-cadastrada">10</span>
          </div>
          <div class="inserir-materias padding">
            <i class="sprite spritesheet-ciclos ciclos-add"></i>
            <span class="">INSERIR MATÉRIAS</span>
          </div>
      </div>

      <h3 class="sub-title padding">MATÉRIAS</h3>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="clearfix padding">
        <i class="sprite spritesheet-ciclos ciclos-seta-direita right"></i>
        <i class="sprite spritesheet-ciclos ciclos-seta-esquerda left"></i>
      </div>


    </div>


  </div>



  </ion-content>
</ion-view>
