<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">

  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">Escolha por período completo ou insira uma data</h2>

    </div>
    <div class="content-input padding clearfix">
      <select class="full" style="padding: 10px 10px">
        <option>
          Data
        </option>
        <option>
          Por Período
        </option>
      </select>

      <div class="data-content clearfix">
        <div class="data-inicial clearfix">
          <span class="label-title">DATA INICIAL</span>
          <div class="inputs">
            <i class="sprite spritesheet-ciclos ciclos-calendar"></i>
            <input type="date" />
          </div>
        </div>

        <div class="data-inicial margin-top clearfix">
          <span class="label-title">DATA FINAL</span>
          <div class="inputs">
            <i class="sprite spritesheet-ciclos ciclos-calendar"></i>
            <input type="date" />
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix padding">
      <button class="botao btn-voltar botao-azulescuro full center">GERAR RELATÓRIO</button>
    </div>

  </div>



  </ion-content>
</ion-view>
