<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">Conclusão</h2>

      <span class="super-text center-text block">24h</span>
      <p class="center-text smalltext">
        QUANTIDADE DE HORAS<br /> ESTUDADAS POR SEMANA
      </p>
    </div>

    <div class="tabela-tipo2 clearfix">
      <div class="tabela-titulo">
        Matérias do 1º Ciclo
      </div>
      <i class="sprite spritesheet-ciclos ciclos-seta-tabela-esquerda left"></i>
      <i class="sprite spritesheet-ciclos ciclos-seta-tabela-direita right no-margin"></i>
      <div class="tabela-container clearfix">

        <div class="linha-topo clearfix fundo-azul">
          <div class="coluna">
            Matérias
          </div>
          <div class="coluna">
            Blocos
          </div>
          <div class="coluna">
            Teoria
          </div>
          <div class="coluna">
            Horas
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            Português
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            MATEMÁTICA FINANCEIRA
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            Português
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            MATEMÁTICA FINANCEIRA
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
      </div>
    </div>

    <div class="tabela-tipo2 clearfix tabela-gray">
      <div class="tabela-titulo">
        Matérias Seguintes
      </div>
      <i class="sprite spritesheet-ciclos ciclos-seta-tabela-esquerda left"></i>
      <i class="sprite spritesheet-ciclos ciclos-seta-tabela-direita right no-margin"></i>
      <div class="tabela-container clearfix">
        <div class="linha-topo clearfix fundo-cinza">
          <div class="coluna">
            Matérias
          </div>
          <div class="coluna">
            Blocos
          </div>
          <div class="coluna">
            Teoria
          </div>
          <div class="coluna">
            Horas
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            Português
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            MATEMÁTICA FINANCEIRA
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha odd clearfix">
          <div class="coluna">
            Português
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
        <div class="linha even clearfix">
          <div class="coluna">
            MATEMÁTICA FINANCEIRA
          </div>
          <div class="coluna">
            20
          </div>
          <div class="coluna">
            10
          </div>
          <div class="coluna">
            20
          </div>
        </div>
      </div>
    </div>


    <br />
    <div class="clearfix padding">
      <button class="botao btn-voltar botao-azulclaro full center">VOLTAR E CORRIGIR</button>
      <button class="botao btn-voltar botao-azulescuro full center margin-top">CONFIRMAR CADASTRO</button>
    </div>

  </div>



  </ion-content>
</ion-view>
