<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix padding">

      <br />
      <h2 class="content-title full block">Selecione os assuntos do bloco</h2>

      <ul class="ul-tipo1 clearfix">
        <li class="clearfix">
          <i class="sprite spritesheet-ciclos ciclos-radio"></i>
          <span>Lorem ipsum dolor sit amet, consectetur</span>
        </li>
        <li class="clearfix">
          <i class="sprite spritesheet-ciclos ciclos-radio active"></i>
          <span>Lorem ipsum dolor sit amet, consectetur</span>
        </li>
        <li class="clearfix">
          <i class="sprite spritesheet-ciclos ciclos-radio"></i>
          <span>Lorem ipsum dolor sit amet, consectetur</span>
        </li>
        <li class="clearfix">
          <i class="sprite spritesheet-ciclos ciclos-radio"></i>
          <span>Lorem ipsum dolor sit amet, consectetur</span>
        </li>
      </ul>

      <div class="content-input clearfix">
        <p class="center-text text-app margin-top" style="width: 80%; text-align: justify;">
          Informe quantas horas você dedicará à revisão após concluir o estudo teórico desses assuntos
        </p>
        <input type="text" placeholder="00:00" style="top: 8px; right: 4px;"/>
      </div>
      <button class="botao btn-cadastrar botao-azulclaro full">CADASTRAR</button>
    </div>


  </div>



  </ion-content>
</ion-view>
