<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <div class="bottom-buttons btn-edit" style="right: 75px;">
    <i class="sprite spritesheet-ciclos ciclos-edit"></i>
  </div>
  <div class="bottom-buttons btn-delete" style="right: 15px;">
    <i class="sprite spritesheet-ciclos ciclos-delete"></i>
  </div>
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="header-ciclos clearfix">
    <a id="logo-ciclos" class="sprite spritesheet-ciclos ciclos-ciclos" href="#">ciclos de estudos</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">

    <div class="main-content clearfix">

      <br />
      <h2 class="content-title full block">MATÉRIAS</h2>

      <p class="center-text text-app text-red">ATENÇÃO! <br />
        Se o você editar matérias que já estejam nos seus ciclos, o ciclo atual será suspenso e um novo será gerado com as novas informações.
      </p>

      <div class="top-destaque clearfix">
          <div class="materias-cadastradas clearfix">
            <span class="materias">Matérias cadastradas <span class="seta-direita"></span></span>
            <span class="qtd-cadastrada">10</span>
          </div>
          <div class="inserir-materias padding">
            <i class="sprite spritesheet-ciclos ciclos-add"></i>
            <span class="">INSERIR MATÉRIAS</span>
          </div>
      </div>

      <h3 class="sub-title padding">MATÉRIAS</h3>
      <div class="content-materia selected">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="content-materia">
        Nome da Matéria cadastrada pelo aluno
      </div>
      <div class="clearfix padding">
        <button class="botao botao-azulclaro full center">Voltar</button>
      </div>


    </div>


  </div>



  </ion-content>
</ion-view>
