<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="cursos">
  <!-- <div class="bottom-buttons btn-pdf" style="right: 15px;">
    <i class="sprite spritesheet-resolucao resolucao-lupa-branca"></i>
  </div>
  <div class="bottom-buttons btn-pdf" style="right: 75px; background-color: #fff">
    <i class="sprite spritesheet-resolucao resolucao-professores"></i>
  </div> -->
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="content clearfix padding">
    <div class="top-destaque clearfix">
      <div class="info-user clearfix">
        <div class="img-usr clearfix left">

        </div>
        <div class="infos-usr clearfix left">
          <span class="seta-esquerda"></span>
          <p>
            <b>FULANO DE TAL DA SILVA</b> <br /><br />
            Assinante E-PAPIRO: <b style="color: yellow">SIM</b><br />
            Acesso até: <b style="color: yellow">00/00/0000</b><br />
            Cursos ativos: <b style="color: yellow">326</b>
          </p>
        </div>
        <button class="botao botao-azulescuro full margin-top relative"><i class="sprite spritesheet-resolucao cursos-meus-cursos"></i>Meus cursos</button>
        <button class="botao botao-verde full margin-top">Renovar acesso</button>
      </div>
    </div>

    <div class="spacer-gray"></div>

    <div class="main-content clearfix ">


      <div class="box-conc clearfix">
        <h3 class="greentitle">Detalhes do curso</h3>


        <div class="curso-detalhes clearfix">
          <span class="titulo-grande">Nome do curso cadastrado na área administrativa</span>
          <span class="text-blue">Prof. Nome do professor</span>
          <br />
          <br />
          <div class="box-text clearfix">
            <span class="subtitle text-left margin-top">Descrição do curso</span>
            <p class="text-gray text-indent">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue ligula, finibus eget mi non, venenatis iaculis magna. Mauris eu tincidunt nibh. Maecenas erat lacus, malesuada eu justo eget, porttitor molestie turpis. Phasellus dignissim enim id nibh semper, vel scelerisque enim condimentum. Duis eu elit interdum, consequat lacus vel, euismod velit. Vestibulum nec orci ipsum. Sed elementum eleifend felis, vel finibus leo euismod a. Phasellus eu felis faucibus, dignissim tellus finibus, pretium erat. Nunc lobortis, nisl ut laoreet faucibus, erat dolor maximus eros, nec condimentum nulla velit a ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices pharetra pellentesque. Curabitur justo lacus, interdum at ante et, aliquam rutrum ligula. Morbi mollis
            </p>
            <p class="text-blue center-text text-app margin-top">
              R$ 000,00
            </p>
            <button class="botao botao-verde full ">COMPRAR</button>
            <button class="botao botao-azulescuro full margin-top relative"><i class="sprite spritesheet-resolucao cursos-youtube-white"></i>VIDEO-Aula demonstrativa</button>
            <button class="botao botao-azulescuro full margin-top no-transform relative"><i class="sprite spritesheet-resolucao cursos-aula"></i> AULA GRATUITA | baixe aqui</button>
          </div>
          <div class="box-text clearfix margin-top">
            <span class="subtitle text-left margin-top block">Cronograma das aulas</span>
            <div class="box-cronograma clearfix">
              <div class="info-left clearfix left margin-top">
                <span class="botao-azulescuro block full">AULA 01</span>
                <span class="botao-gray block full">02/11/15</span>
                <span class="botao-transparent block full">Disponivel</span>
              </div>
              <p class="left text-gray">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue ligula, finibus eget mi non, venenatis iaculis magna. Mauris eu tincidunt nibh. Maecenas erat lacus, malesuada eu justo eget, porttitor.

              </p>
              <i class="sprite spritesheet-resolucao cursos-pdf right no-margin-right"></i>
              <i class="sprite spritesheet-resolucao cursos-youtube right relative"><span class="qtd-numeros">2</span></i>
            </div>
            <div class="box-cronograma clearfix">
              <div class="info-left clearfix left margin-top">
                <span class="botao-azulescuro block full">AULA 01</span>
                <span class="botao-gray block full">02/11/15</span>
                <span class="botao-transparent block full">Disponivel</span>
              </div>
              <p class="left text-gray">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue ligula, finibus eget mi non, venenatis iaculis magna. Mauris eu tincidunt nibh. Maecenas erat lacus, malesuada eu justo eget, porttitor.

              </p>
              <i class="sprite spritesheet-resolucao cursos-pdf right no-margin-right"></i>
              <i class="sprite spritesheet-resolucao cursos-youtube right relative"><span class="qtd-numeros">2</span></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content clearfix">
    <div class="full clearfix matriculas">
      <span class="block left no-clear">MATRICULAS ATÉ:<br /><b>00/00/0000</b></span>
      <span class="block center-absolute no-clear" style="width: 100px;">FÓRUM ATÉ:<br /><b>00/00/0000</b></span>
      <span class="block right no-clear no-margin-right">INVESTIMENTO:<br /><b>00/00/0000</b></span>

    </div>
    <button class="botao botao-verde full">COMPRE AGORA</button>
    <div class="box-aviso fnd-amarelo clearfix full">
      <p class="center-text">
        Você pode acessar o conteúdo integral deste curso e de todos os cursos disponíveis no E- Concurseiro, de forma ilimitada, pagando apenas R$xx,xx por mês. Conheça o E-PAPIRO, o plano revolucionário para os seus estudos.
      </p>
    </div>
    <button class="botao botao-azulclaro half left">SAIBA MAIS</button>
    <button class="botao botao-azulescuro half right no-margin-right">SIM, DESEJO ASSINAR!</button>
  </div>



  </ion-content>
</ion-view>
