<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="cursos">
  <!-- <div class="bottom-buttons btn-pdf" style="right: 15px;">
    <i class="sprite spritesheet-resolucao resolucao-lupa-branca"></i>
  </div>
  <div class="bottom-buttons btn-pdf" style="right: 75px; background-color: #fff">
    <i class="sprite spritesheet-resolucao resolucao-professores"></i>
  </div> -->
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <style> 
    .overlay{
      width: 100%
    }
    .overlay .box-feed{
      width: 100%;
      margin-top: 0 !important;
      top: 0
    }
    .overlay p{
      text-align: justify;
    }
    .box-modal-forum{
      margin-bottom: 20px;
      padding: 5px;
    }
    .box-modal-forum p{
      text-align: center;
      color: #fff;
      font-size: 18px;
    }
    .box-modal-forum .desc{
      font-size: 14px;
    }
    .box-modal-forum .valor .bigprice{
      font-size: 30px;
      font-weight: bold;
      width: 100%;
      display: block;
      color: #fff
    }
      .box-modal-forum .valor .pagamento{
          font-size: 18px;
          font-weight: 300;
          color: #fff
        }
    .box-modal-forum p .bold-title{
      width: 100%;
      display: block;
      color: #fff;
      font-size: 18px;
      font-weight: bold;

    }
  </style>
  <div class="content clearfix padding">
    <div class="top-destaque clearfix">
      <div class="info-user clearfix">
        <div class="img-usr clearfix left">

        </div>
        <div class="infos-usr clearfix left">
          <span class="seta-esquerda"></span>
          <p>
            <b>FULANO DE TAL DA SILVA</b> <br /><br />
            Assinante E-PAPIRO: <b style="color: yellow">SIM</b><br />
            Acesso até: <b style="color: yellow">00/00/0000</b><br />
            Cursos ativos: <b style="color: yellow">326</b>
          </p>
        </div>
        <button class="botao botao-azulescuro full margin-top relative"><i class="sprite spritesheet-resolucao cursos-meus-cursos"></i>Meus cursos</button>
        <button class="botao botao-verde full margin-top">Renovar acesso</button>
      </div>
    </div>

    <div class="spacer-gray"></div>

    <div class="main-content clearfix " id="visaoAluno2">


      <div class="box-conc clearfix">
        <div class="overlay block clearfix bloco-forum relative" style="background-color: transparent !important">
          <div class="box-feed clearfix shadow">
            <span class="bigtitle center">CONHEÇA O E-PAPIRO E REVOLUCIONE O SEU ESTUDO!</span>
            <p>
              O E-Papiro é o plano de acesso ilimitado a todo o conteúdo do E-Concurseiro. O Assinante paga um valor mensal a partir de R$xx,xx e tem acesso ilimitado a todos os cursos disponíveis dos professores participantes.
<br /><br />
O acesso se dá por meio do nosso leitor (reader) especifico e o aluno poderá acessar o curso que quiser a qualquer hora que desejar, seja em computadores, tablets ou smartphones.
<br /><br />
Viva esta experiência e dê uma turbinada nos seus estudos. Acesse todos os cursos que desejar e estude com os melhores professores.
<br /><br />
<u class="center-text center">Com o E-Papiro sua vida de concurseiro estará com os dias contados.</u>
            </p>

            <button class="btn full center block" style="background-color: #4ca92b">SIM! Desejo assinar agora o E-PAPIRO!</button>

          </div>
        </div>
      </div>
    </div>
  </div>

  
  </ion-content>
</ion-view>
