<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="cursos">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <style>
    .overlay{
      background-color: transparent;
      width: 100%;
    }
    .overlay .box-feed{
      top: 0;
      margin: 0 !important;
      width: 100%
    }
    .area-duvida{
      width: 100%;
      margin: 10px 0;
      min-height: 250px;
      padding: 10px;
      border: 1px solid #ccc;
      color: #606060
    }
  </style>
  <div class="content clearfix padding">
    <div class="top-destaque clearfix">
      <div class="info-user clearfix">
        <div class="img-usr clearfix left">

        </div>
        <div class="infos-usr clearfix left">
          <span class="seta-esquerda"></span>
          <p>
            <b>FULANO DE TAL DA SILVA</b> <br /><br />
            Assinante E-PAPIRO: <b style="color: yellow">SIM</b><br />
            Acesso até: <b style="color: yellow">00/00/0000</b><br />
            Cursos ativos: <b style="color: yellow">326</b>
          </p>
        </div>
        <button class="botao botao-azulescuro full margin-top">Meus cursos</button>
        <button class="botao botao-verde full margin-top">Renovar acesso</button>
      </div>
    </div>

    <div class="spacer-gray"></div>




  </div>

  <div class="content clearfix">
    <div class="main-content clearfix ">
      <div class="overlay block clearfix bloco-forum1 relative">
          <div class="box-feed clearfix relative">
            <h3 class="greentitle">TÍTULO DA AULA | CURSO</h3>
            
            <p style="font-style: italic">
              Barra de edição de texto será inserida no desenvolvimento
            </p>
            <p>
              <textarea class="area-duvida left">Mensagem digitada pelo aluno...</textarea>
              <button class="btn btn-enviar_msg left full" style="background-color: #e60611">Enviar mensagem</button>
            </p>
        </div>
    </div>
  </div>


  </ion-content>
</ion-view>
