<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="cursos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">


  <div class="content clearfix">

    <div class="main-content clearfix padding">
      <p class="center-text text-app">
        Seja muito bem-vindo(a) ao <b>Ambiente Virtual de Ensino</b> do E-Concurseiro!
      </p>
      <p class="center-text text-app text-gray">
        Aqui você poderá conhecer e se matricular nos cursos oferecidos pelos professores da rede. Todos os cursos tem a aula inicial totalmente gratuita, para você avaliar a qualidade da cada material e a didática do professor.
        <br /><br />
A partir daí, você poderá adquirir os cursos de forma avulsa, pagando o valor definido pelo professor, ou participar do nosso programa <b>E-PAPIRO</b>, por meio do qual você tem acesso a <b style="color: red">todo o conteúdo do site</b> (isso mesmo, todos os cursos à sua disposição), por meio do nosso leitor (reader), pagando apenas o valor da mensalidade (R$ xx,xx). Saiba mais sobre o E-PAPIRO clicando aqui.
      </p>

      <div class="content-input clearfix">
        <div class="input-checkbox left clearfix">
          <input type="checkbox" name="dificuldade" value="erro" id="check01">
          <label for="check01"><span class="checkbox-name sprite spritesheet-resolucao resolucao-checkbox">Não mostrar essa mensagem novamente</span></label>
        </div>
      </div>
      <button class="botao botao-azulclaro full">Avançar</button>
    </div>


  </div>



  </ion-content>
</ion-view>
