<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="cursos">
  <div class="bottom-buttons btn-pdf botao-vermelho" style="right: 15px;">
    <i class="sprite spritesheet-resolucao resolucao-questao"></i>
  </div>
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="content clearfix padding">
    <div class="top-destaque clearfix">
      <div class="info-user clearfix">
        <div class="img-usr clearfix left">

        </div>
        <div class="infos-usr clearfix left">
          <span class="seta-esquerda"></span>
          <p>
            <b>FULANO DE TAL DA SILVA</b> <br /><br />
            Assinante E-PAPIRO: <b style="color: yellow">SIM</b><br />
            Acesso até: <b style="color: yellow">00/00/0000</b><br />
            Cursos ativos: <b style="color: yellow">326</b>
          </p>
        </div>
        <button class="botao botao-azulescuro full margin-top">Meus cursos</button>
        <button class="botao botao-verde full margin-top">Renovar acesso</button>
      </div>
    </div>

    <div class="spacer-gray"></div>




  </div>

  <div class="content clearfix">
    <div class="main-content clearfix ">


      <div class="box-conc clearfix">
        <h3 class="greentitle">Fórum de dúvidas<br />Aula 00 | NOME DO CURSO</h3>

        <div class="box-duvida clearfix">
          <div class="box-pergunta clearfix left">
            <div class="header clearfix">
              <p class="text-white text-left left">
                Dúvida enviada em <b>00/00/0000 Às 00:00h</b> por<br />
                <b>NOME DO ALUNO FULANO DA SILVA CICLANO</b>
              </p>
              <p class="text-green text-right right no-margin-right">
                RESPONDIDA
              </p>
            </div>
            <div class="content clearfix no-margin-top">
              <p class="text-left text-gray">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper leo vitae venenatis accumsan. In hac habitasse platea dictumst. Fusce a aliquet magna, accumsan posuere dolor. Vivamus vitae aliquam tortor, sed euismod massa. Nullam sit amet sapien tortor. Curabitur varius tellus ac neque sollicitudin, in suscipit erat consectetur. Morbi finibus quam eleifend turpis gravida, at vestibulum lectus euismod. Curabitur ut suscipit tellus. Quisque ultrices lacus a felis eleifend venenatis. Nam accumsan vitae magna vel dapibus. Vivamus vel feugiat erat.
              </p>
            </div>
          </div>
          <div class="box-pergunta box-respostas clearfix right no-margin-right relative">
            <i class="sprite spritesheet-resolucao resolucao-forum absolute"></i>
            <div class="header clearfix">
              <p class="text-white text-left left">
                Resposta enviada por <b>NOME DO ALUNO FULANO DA SILVA CICLANO</b> em
                <b>00/00/0000</b>
              </p>
            </div>
            <div class="content clearfix">
              <p class="text-left text-gray">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper leo vitae venenatis accumsan. In hac habitasse platea dictumst. Fusce a aliquet magna, accumsan posuere dolor. Vivamus vitae aliquam tortor, sed euismod massa. Nullam sit amet sapien tortor. Curabitur varius tellus ac neque sollicitudin, in suscipit erat consectetur. Morbi finibus quam eleifend turpis
              </p>
            </div>
          </div>

          <div class="box-pergunta clearfix left">
            <div class="header clearfix">
              <p class="text-white text-left left">
                Dúvida enviada em <b>00/00/0000 Às 00:00h</b> por<br />
                <b>NOME DO ALUNO FULANO DA SILVA CICLANO</b>
              </p>
              <p class="text-amarelo text-right right no-margin-right" style="line-height: 13px">
                AGUARDANDO<br />RESPOSTA
              </p>
            </div>
            <div class="content clearfix no-margin-top">
              <p class="text-left text-gray">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper leo vitae venenatis accumsan. In hac habitasse platea dictumst. Fusce a aliquet magna, accumsan posuere dolor. Vivamus vitae aliquam tortor, sed euismod massa. Nullam sit amet sapien tortor. Curabitur varius tellus ac neque sollicitudin, in suscipit erat consectetur. Morbi finibus quam eleifend turpis gravida, at vestibulum lectus euismod. Curabitur ut suscipit tellus. Quisque ultrices lacus a felis eleifend venenatis. Nam accumsan vitae magna vel dapibus. Vivamus vel feugiat erat.
              </p>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>


  </ion-content>
</ion-view>
