<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="cursos">
  <!-- <div class="bottom-buttons btn-pdf" style="right: 15px;">
    <i class="sprite spritesheet-resolucao resolucao-lupa-branca"></i>
  </div>
  <div class="bottom-buttons btn-pdf" style="right: 75px; background-color: #fff">
    <i class="sprite spritesheet-resolucao resolucao-professores"></i>
  </div> -->
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="content clearfix padding">
    <div class="top-destaque clearfix">
      <div class="info-user clearfix">
        <div class="img-usr clearfix left">

        </div>
        <div class="infos-usr clearfix left">
          <span class="seta-esquerda"></span>
          <p>
            <b>FULANO DE TAL DA SILVA</b> <br /><br />
            Assinante E-PAPIRO: <b style="color: yellow">SIM</b><br />
            Acesso até: <b style="color: yellow">00/00/0000</b><br />
            Cursos ativos: <b style="color: yellow">326</b>
          </p>
        </div>
        <button class="botao botao-azulescuro full margin-top">Meus cursos</button>
        <button class="botao botao-verde full margin-top">Renovar acesso</button>
      </div>
    </div>

    <div class="spacer-gray"></div>

    <div class="main-content clearfix ">


      <div class="box-conc clearfix padding">
        <h3 class="greentitle">Estude da forma mais completa que existe</h3>
        <p class="text-gray text-app text-left">
          Aqui no E-Concurseiro o aluno pode se preparar com acesso direto a todos os materiais disponibilizados pelos professores.
          <br /><br />
          Com o E-Papiro, você paga uma mensalidade fixa e acessa todos os cursos em PDF ou videoaulas de forma ilimitada, por meio do nosso leitor/player.
          <br /><br />
          Basta escolher um dos planos e usufruir de todos os aulas, de todas as matérias de todos os professores participantes, sem limites de visualizações, em até 3 dispositivos.
          <br /><br />
          Confira abaixo os planos oferecidos e e escolha já o seu.
        </p>

      </div>
    </div>


  </div>

  <div class="content clearfix">
    <div class="box-card-tabela clearfix full left">
      <span class="card-title full block no-clear center-text fnd-azulclaro">BÁSICO</span>
      <span class="card-subtitle full block no-clear center-text fnd-cinza">PDF</span>
      <div class="col1 clearfix">
        <span class="info-papiro left">Acesso a todas as aulas em PDF</span>
      </div>
      <div class="col1 clearfix">
        <span class="info-papiro left">Acesso ilimitado às aulas</span>
      </div>
      <div class="col1 clearfix">
        <span class="info-papiro left">Acesso ao conteúdo em até 3 dispositivos</span>
      </div>
      <div class="col1 clearfix">
        <span class="info-papiro left">Atualização das aulas</span>
      </div>
      <div class="box-periodo left clearfix">
        <span class="block full fnd-azulclaro">30 Dias</span>
        <span class="block full fnd-cinza">R$ 50,00</span>
      </div>
      <div class="box-periodo left clearfix">
        <span class="block full fnd-azulclaro">90 Dias</span>
        <span class="block full fnd-cinza">R$ 140,00</span>
      </div>
      <div class="box-periodo left clearfix">
        <span class="block full fnd-azulclaro">180 Dias</span>
        <span class="block full fnd-cinza">R$ 240,00</span>
      </div>
      <div class="box-periodo left clearfix">
        <span class="block full fnd-azulclaro">1 ANO</span>
        <span class="block full fnd-cinza">R$ 450,00</span>
      </div>
    </div>

    <div class="box-card-tabela clearfix full left">
      <span class="card-title full block no-clear center-text btn-oceanblue">INTERMEDIARIO</span>
      <span class="card-subtitle full block no-clear center-text fnd-cinza">PDF</span>
      <div class="col1 clearfix">
        <span class="info-papiro left">Acesso a todas as VIDEOAULAS</span>
      </div>
      <div class="col1 clearfix">
        <span class="info-papiro left">Acesso ilimitado às aulas</span>
      </div>
      <div class="col1 clearfix">
        <span class="info-papiro left">Acesso ao conteúdo em até 3 dispositivos</span>
      </div>
      <div class="col1 clearfix">
        <span class="info-papiro left">Atualização das aulas</span>
      </div>
      <div class="box-periodo left clearfix">
        <span class="block full btn-oceanblue">30 Dias</span>
        <span class="block full fnd-cinza">R$ 65,00</span>
      </div>
      <div class="box-periodo left clearfix">
        <span class="block full btn-oceanblue">90 Dias</span>
        <span class="block full fnd-cinza">R$ 175,00</span>
      </div>
      <div class="box-periodo left clearfix">
        <span class="block full btn-oceanblue">180 Dias</span>
        <span class="block full fnd-cinza">R$ 320,00</span>
      </div>
      <div class="box-periodo left clearfix">
        <span class="block full btn-oceanblue">1 ANO</span>
        <span class="block full fnd-cinza">R$ 600,00</span>
      </div>
    </div>

    <div class="box-card-tabela clearfix full left">
      <span class="card-title full block no-clear center-text btn-laranja">VIP</span>
      <span class="card-subtitle full block no-clear center-text fnd-cinza">PDF</span>
      <div class="col1 clearfix">
        <span class="info-papiro left">Acesso a todas as aulas em PDF</span>
      </div>
      <div class="col1 clearfix">
        <span class="info-papiro left">Acesso a todas as VIDEOAULAS</span>
      </div>
      <div class="col1 clearfix">
        <span class="info-papiro left">Acesso ilimitado às aulas</span>
      </div>
      <div class="col1 clearfix">
        <span class="info-papiro left">Acesso ao conteúdo em até 3 dispositivos</span>
      </div>
      <div class="col1 clearfix">
        <span class="info-papiro left">Atualização das aulas</span>
      </div>
      <div class="box-periodo left clearfix">
        <span class="block full btn-laranja">30 Dias</span>
        <span class="block full fnd-cinza">R$ 80,00</span>
      </div>
      <div class="box-periodo left clearfix">
        <span class="block full btn-laranja">90 Dias</span>
        <span class="block full fnd-cinza">R$ 210,00</span>
      </div>
      <div class="box-periodo left clearfix">
        <span class="block full btn-laranja">180 Dias</span>
        <span class="block full fnd-cinza">R$ 390,00</span>
      </div>
      <div class="box-periodo left clearfix">
        <span class="block full btn-laranja">1 ANO</span>
        <span class="block full fnd-cinza">R$ 750,00</span>
      </div>
    </div>

    <div class="btn-choose cleafix left fnd-azulclaro">
      PDF
    </div>
    <div class="btn-choose cleafix left fnd-azulclaro">
      VÍDEOS
    </div>
    <div class="btn-choose active cleafix left fnd-azulclaro">
      PDF + VÍDEOS
    </div>

    <div class="content-input clearfix margin-top padding no-margin left">
      <select class="margin-top">
        <option>
          Selecionar o período desejado
        </option>
      </select>
    </div>

    <button class="botao botao-verde full no-margin-top">ASSINAR O E-PAPIRO</button>
  </div>





  </ion-content>
</ion-view>
