<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="cursos">
  <div class="bottom-buttons btn-pdf" style="right: 15px;">
    <i class="sprite spritesheet-resolucao resolucao-lupa-branca"></i>
  </div>
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <style>
    #cursos .usuario{
      margin-right: 20px;
    }
    .curso{
      padding: 10px;
      background-color: #fff;
      margin: 10px 0;
      border: 1px solid #ccc
    }
    .curso .book-desc span{
      color: #1e9ec5;
      font-size: 12px;
    }
    .sliderVideos{
          padding: 20px;
    background-color: #1e9ec5;
    }
    .professores-rede .sliderVideos{
          padding: 20px;
    background-color: #dadada !important;
    }
    .professores-rede .box-videos span{
      color: #666;
    }
    .box-videos{
      border-bottom: 1px solid #fff
    }
    .box-videos span{
      width: 100%;
      color: #fff;
      display: block;
      font-size: 17px
    }
  </style>
  <div class="content clearfix padding">
    <div class="top-destaque clearfix">
      <div class="info-user clearfix">
        <div class="img-usr clearfix left">

        </div>
        <div class="infos-usr clearfix left">
          <span class="seta-esquerda"></span>
          <p>
            <b>FULANO DE TAL DA SILVA</b> <br /><br />
            Assinante E-PAPIRO: <b style="color: yellow">SIM</b><br />
            Acesso até: <b style="color: yellow">00/00/0000</b><br />
            Cursos ativos: <b style="color: yellow">326</b>
          </p>
        </div>
        <button class="botao botao-azulescuro full margin-top">Meus cursos</button>
        <button class="botao botao-verde full margin-top">Renovar acesso</button>
      </div>
    </div>

    <div class="spacer-gray"></div>

    <div class="main-content clearfix ">
      <div class="content-input clearfix no-margin-top no-margin-bottom">
        <span class="subtitle block full text-left">Exibir cursos por:</span>
        <select class="margin-top">
          <option>
            Concurso
          </option>
        </select>
      </div>

      <div class="box-conc clearfix">
        <h3 class="greentitle">Concursos em destaque</h3>
        <div class="content-input clearfix margin-top no-margin-bottom">
          <select class="margin-top">
            <option>
              Concursos com inscrições abertas
            </option>
          </select>
        </div>

        <div class="box-conc-resultados clearfix">
          <p class="uppercase">
            Nome do concurso cadastrado no ADMIN
          </p>
          <div class="circle-cursos">
            <b>52</b><br />
            <span>Cursos</span>
          </div>
        </div>
        <div class="box-conc-resultados clearfix">
          <p class="uppercase">
            Nome do concurso cadastrado no ADMIN
          </p>
          <div class="circle-cursos">
            <b>52</b><br />
            <span>Cursos</span>
          </div>
        </div>
      </div>

      <div class="box-conc clearfix">
        <h3 class="greentitle">Publicações em Destaque na rede</h3>
        <div class="listaCursos clearfix publicacoesDestaque">
                <div class="col-md-12">
                    <div class="curso clearfix">
                      <div class="usuario p75 clearfix small">
                          <div class="usr-alert">10</div>
                          <div class="quarter-circle" style="background-color: transparent"></div>
                          <span class="usr-img border-blue" style="background-image: url('img/user.png');"><span class="alterar-foto">atualizar foto</span></span>
                      </div>
                      <span class="menu-name"><b>George Firmino</b></span>
                      <br />
                      <span class="book-desc">
                        <span class="shared-time">Título da Publicação, pode ocupar até 2 linhas desta área.
                          <br />
                          Ao clicar expande o post.
                        </span>
                      </span>
                    </div>
                    <div class="curso clearfix">
                      <div class="usuario p75 clearfix small">
                          <div class="usr-alert">10</div>
                          <div class="quarter-circle" style="background-color: transparent"></div>
                          <span class="usr-img border-blue" style="background-image: url('img/user.png');"><span class="alterar-foto">atualizar foto</span></span>
                      </div>
                      <span class="menu-name"><b>George Firmino</b></span>
                      <br />
                      <span class="book-desc">
                        <span class="shared-time">Título da Publicação, pode ocupar até 2 linhas desta área.
                          <br />
                          Ao clicar expande o post.
                        </span>
                      </span>
                    </div>

                    <div class="curso clearfix">
                      <div class="usuario p75 clearfix small">
                          <div class="usr-alert">10</div>
                          <div class="quarter-circle" style="background-color: transparent"></div>
                          <span class="usr-img border-blue" style="background-image: url('img/user.png');"><span class="alterar-foto">atualizar foto</span></span>
                      </div>
                      <span class="menu-name"><b>George Firmino</b></span>
                      <br />
                      <span class="book-desc">
                        <span class="shared-time">Título da Publicação, pode ocupar até 2 linhas desta área.
                          <br />
                          Ao clicar expande o post.
                        </span>
                      </span>
                    </div>
                    <div class="curso clearfix">
                      <div class="usuario p75 clearfix small">
                          <div class="usr-alert">10</div>
                          <div class="quarter-circle" style="background-color: transparent"></div>
                          <span class="usr-img border-blue" style="background-image: url('img/user.png');"><span class="alterar-foto">atualizar foto</span></span>
                      </div>
                      <span class="menu-name"><b>George Firmino</b></span>
                      <br />
                      <span class="book-desc">
                        <span class="shared-time">Título da Publicação, pode ocupar até 2 linhas desta área.
                          <br />
                          Ao clicar expande o post.
                        </span>
                      </span>
                    </div>
                    <div class="curso clearfix">
                      <div class="usuario p75 clearfix small">
                          <div class="usr-alert">10</div>
                          <div class="quarter-circle" style="background-color: transparent"></div>
                          <span class="usr-img border-blue" style="background-image: url('img/user.png');"><span class="alterar-foto">atualizar foto</span></span>
                      </div>
                      <span class="menu-name"><b>George Firmino</b></span>
                      <br />
                      <span class="book-desc">
                        <span class="shared-time">Título da Publicação, pode ocupar até 2 linhas desta área.
                          <br />
                          Ao clicar expande o post.
                        </span>
                      </span>
                    </div>
                </div>
            </div>



        
      </div>

      <div class="box-conc clearfix">
        <h3 class="greentitle">VÍDEOS EM DESTAQUE DO CANAL PAPO DE CONCURSEIRO</h3>
        <div class="sliderVideos clearfix col-md-12">
              
              <div class="box-videos col-md-3">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/9MrEFTBZAcQ" frameborder="0" allowfullscreen></iframe>
                <span class="date">00/00/0000</span>
                <span class="desc">Nome da publicação do canal papo de concurseiro.</span>
              </div>
              <div class="box-videos col-md-3">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/9MrEFTBZAcQ" frameborder="0" allowfullscreen></iframe>
                <span class="date">00/00/0000</span>
                <span class="desc">Nome da publicação do canal papo de concurseiro.</span>
              </div>
              <div class="box-videos col-md-3">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/9MrEFTBZAcQ" frameborder="0" allowfullscreen></iframe>
                <span class="date">00/00/0000</span>
                <span class="desc">Nome da publicação do canal papo de concurseiro.</span>
              </div>
              
            </div>
      </div>

      <div class="box-conc clearfix professores-rede">
        <h3 class="greentitle">VÍDEOS EM DESTAQUE DOS PROFESSORES DA REDE</h3>
        <div class="sliderVideos clearfix col-md-12">
              <div class="box-videos col-md-3">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/9MrEFTBZAcQ" frameborder="0" allowfullscreen></iframe>
                <span class="date">00/00/0000</span>
                <span class="desc">Nome da publicação do canal papo de concurseiro.</span>
              </div>
              <div class="box-videos col-md-3">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/9MrEFTBZAcQ" frameborder="0" allowfullscreen></iframe>
                <span class="date">00/00/0000</span>
                <span class="desc">Nome da publicação do canal papo de concurseiro.</span>
              </div>
              <div class="box-videos col-md-3">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/9MrEFTBZAcQ" frameborder="0" allowfullscreen></iframe>
                <span class="date">00/00/0000</span>
                <span class="desc">Nome da publicação do canal papo de concurseiro.</span>
              </div>
              
            </div>
      </div>
    </div>


  </div>



  </ion-content>
</ion-view>
