<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="cursos">
  <!-- <div class="bottom-buttons btn-pdf" style="right: 15px;">
    <i class="sprite spritesheet-resolucao resolucao-lupa-branca"></i>
  </div>
  <div class="bottom-buttons btn-pdf" style="right: 75px; background-color: #fff">
    <i class="sprite spritesheet-resolucao resolucao-professores"></i>
  </div> -->
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <style> 
    .overlay{
      width: 100%
    }
    .overlay .box-feed{
      width: 100%;
      margin-top: 0 !important;
      top: 0
    }
    .box-modal-forum{
      margin-bottom: 20px;
      padding: 5px;
    }
    .box-modal-forum p{
      text-align: center;
      color: #fff;
      font-size: 18px;
    }
    .box-modal-forum .desc{
      font-size: 14px;
    }
    .box-modal-forum .valor .bigprice{
      font-size: 30px;
      font-weight: bold;
      width: 100%;
      display: block;
      color: #fff
    }
      .box-modal-forum .valor .pagamento{
          font-size: 18px;
          font-weight: 300;
          color: #fff
        }
    .box-modal-forum p .bold-title{
      width: 100%;
      display: block;
      color: #fff;
      font-size: 18px;
      font-weight: bold;

    }
  </style>
  <div class="content clearfix padding">
    <div class="top-destaque clearfix">
      <div class="info-user clearfix">
        <div class="img-usr clearfix left">

        </div>
        <div class="infos-usr clearfix left">
          <span class="seta-esquerda"></span>
          <p>
            <b>FULANO DE TAL DA SILVA</b> <br /><br />
            Assinante E-PAPIRO: <b style="color: yellow">SIM</b><br />
            Acesso até: <b style="color: yellow">00/00/0000</b><br />
            Cursos ativos: <b style="color: yellow">326</b>
          </p>
        </div>
        <button class="botao botao-azulescuro full margin-top relative"><i class="sprite spritesheet-resolucao cursos-meus-cursos"></i>Meus cursos</button>
        <button class="botao botao-verde full margin-top">Renovar acesso</button>
      </div>
    </div>

    <div class="spacer-gray"></div>

    <div class="main-content clearfix " id="visaoAluno2">


      <div class="box-conc clearfix">
        <div class="overlay block clearfix bloco-forum relative" style="background-color: transparent !important">
          <div class="box-feed relative clearfix shadow">
            <div class="box-modal-forum bgr-oceanblue clearfix full">
              <p class="option">
                OPÇÃO 1
                <span class="bold-title">COM FÓRUM DE DÚVIDAS</span>
              </p>
              <p class="desc">
                Acesso ao conteúdo das aulas e interação com o professor por meio do fórum de dúvidas.
              </p>
              <p class="valor">
                <span class="bigprice">R$ 0.000,00</span>
                <span class="pagamento">EM ATÉ 10X DE R$ 00,00</span>
              </p>
              <p>
                <button class="btn half center" style="background-color: #4ca92b">COMPRE AQUI</button>
              </p>
            </div>

            <div class="box-modal-forum btn-oceanblue clearfix full">
              <p class="option">
                OPÇÃO 1
                <span class="bold-title">SEM FÓRUM DE DÚVIDAS</span>
              </p>
              <p class="desc">
                Acesso apenas ao conteúdo das aulas. <b>40% de desconto</b> em relação ao valor do curso.
              </p>
              <p class="valor">
                <span class="bigprice">R$ 0.000,00</span>
                <span class="pagamento">EM ATÉ 10X DE R$ 00,00</span>
              </p>
              <p>
                <button class="btn half center " style="background-color: #4ca92b">COMPRE AQUI</button>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  
  </ion-content>
</ion-view>
