<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="cursos">
  <div class="bottom-buttons btn-pdf" style="right: 15px;">
    <i class="sprite spritesheet-resolucao resolucao-lixeira"></i>
  </div>
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="content clearfix padding">
    <div class="top-destaque clearfix">
      <div class="info-user clearfix">
        <div class="img-usr clearfix left">

        </div>
        <div class="infos-usr clearfix left">
          <span class="seta-esquerda"></span>
          <p>
            <b>FULANO DE TAL DA SILVA</b> <br /><br />
            Assinante E-PAPIRO: <b style="color: yellow">SIM</b><br />
            Acesso até: <b style="color: yellow">00/00/0000</b><br />
            Cursos ativos: <b style="color: yellow">326</b>
          </p>
        </div>
        <button class="botao botao-azulescuro full margin-top">Meus cursos</button>
        <button class="botao botao-verde full margin-top">Renovar acesso</button>
      </div>
    </div>

    <div class="spacer-gray"></div>

    <div class="main-content clearfix ">


      <div class="box-conc clearfix">
        <h3 class="greentitle">CARRINHO DE COMPRAS</h3>

        <div class="box-conc-resultados clearfix full margin-top margin-bottom">
          <p class="uppercase full text-big">
            Nome do curso cadastrado na area administrativa
          </p>
          <div class="curso-info clearfix">
            <span class="text-blue block right no-margin-right text-right">R$ 0.000,00</span>
          </div>
        </div>
        <div class="box-conc-resultados clearfix full margin-top margin-bottom">
          <p class="uppercase full text-big">
            Nome do curso cadastrado na area administrativa
          </p>
          <div class="curso-info clearfix">
            <span class="text-blue block right no-margin-right text-right">R$ 0.000,00</span>
          </div>
        </div>

        <div class="box-total fnd-azulclaro clearfix right no-margin-right" style="width: 70%">
          <span class="left">VALOR TOTAL</span>
          <span class="right">R$ 0.000,00</span>
        </div>

        <div class="box-desconto clearfix left full">
          <span class="subtitle">DESCONTO PERCENTUAL</span>

          <div class="box-total fnd-azulclaro clearfix full relative">
            <span class="left">Nivel 1</span>
            <span class="center-absolute block no-clear" style="width: 32px">30%</span>
            <span class="right">R$ 0.000,00</span>
          </div>

          <div class="box-total btn-oceanblue clearfix full relative">
            <span class="left">TOTAL A PAGAR</span>
            <span class="right">R$ 0.000,00</span>
          </div>

          <button class="botao botao-azulclaro half left">VOLTAR AO SITE</button>
          <button class="botao botao-vermelho half right no-margin-right">CONCLUIR COMPRA</button>
        </div>
      </div>
    </div>


  </div>



  </ion-content>
</ion-view>
