<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="cursos">
  <div class="bottom-buttons btn-pdf" style="right: 15px;">
    <i class="sprite spritesheet-resolucao resolucao-lupa-branca"></i>
  </div>
  <div class="bottom-buttons btn-pdf" style="right: 75px; background-color: #fff">
    <i class="sprite spritesheet-resolucao resolucao-professores"></i>
  </div>
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="content clearfix padding">
    <div class="top-destaque clearfix">
      <div class="info-user clearfix">
        <div class="img-usr clearfix left">

        </div>
        <div class="infos-usr clearfix left">
          <span class="seta-esquerda"></span>
          <p>
            <b>FULANO DE TAL DA SILVA</b> <br /><br />
            Assinante E-PAPIRO: <b style="color: yellow">SIM</b><br />
            Acesso até: <b style="color: yellow">00/00/0000</b><br />
            Cursos ativos: <b style="color: yellow">326</b>
          </p>
        </div>
        <button class="botao botao-azulescuro full margin-top">Meus cursos</button>
        <button class="botao botao-verde full margin-top">Renovar acesso</button>
      </div>
    </div>

    <div class="spacer-gray"></div>

    <div class="main-content clearfix ">


      <div class="box-conc clearfix">
        <h3 class="greentitle">Conheça os<br />professores da rede</h3>
        <div class="content-input clearfix margin-top no-margin-bottom">
          <span class="subtitle text-left full block no-clear">ORDENAR POR:</span>
          <select class="margin-top">
            <option>
              Nome
            </option>
          </select>
        </div>


      </div>
    </div>


  </div>

  <div class="content clearfix">
    <div class="box-professor clearfix relative">
      <div class="user-details clearfix">
        <div class="usuario p75 clearfix left">
          <span class="usr-img" style="background-image: url('img/user.png');position: absolute;top: -3px;left: -3px;"></span>
        </div>
        <h3 class="usr-name left relative">George Firmino <i class="sprite spritesheet-resolucao resolucao-mensagem"></i></h3>
        <span class="usr-nivel left">Nível 5</span>
        <p>
          Direito tributário, Legislação Tributária
        </p>
      </div>
      <div class="buttons-professor clearfix left">
        <button class="botao botao-amarelo left relative">CURSOS <i class="sprite spritesheet-resolucao resolucao-cursos absolute"></i></button>
        <button class="botao botao-azulclaro left relative" style="margin: 0 2%;">SEGUIR <i class="sprite spritesheet-resolucao resolucao-seguir absolute"></i></button>
        <button class="botao botao-azulclaro left relative">PÁGINA <i class="sprite spritesheet-resolucao resolucao-pagina absolute"></i></button>
      </div>
      <i class="sprite spritesheet-resolucao resolucao-mais absolute"></i>
    </div>

    <div class="box-professor clearfix relative">
      <div class="user-details clearfix">
        <div class="usuario p75 clearfix left">
          <span class="usr-img" style="background-image: url('img/user.png');position: absolute;top: -3px;left: -3px;"></span>
        </div>
        <h3 class="usr-name left relative">George Firmino <i class="sprite spritesheet-resolucao resolucao-mensagem"></i></h3>
        <span class="usr-nivel left">Nível 5</span>
        <p>
          Direito tributário, Legislação Tributária
        </p>
      </div>
      <div class="buttons-professor clearfix left">
        <button class="botao botao-amarelo left relative">CURSOS <i class="sprite spritesheet-resolucao resolucao-cursos absolute"></i></button>
        <button class="botao botao-azulclaro left relative" style="margin: 0 2%;">SEGUIR <i class="sprite spritesheet-resolucao resolucao-seguir absolute"></i></button>
        <button class="botao botao-azulclaro left relative">PÁGINA <i class="sprite spritesheet-resolucao resolucao-pagina absolute"></i></button>
      </div>
      <i class="sprite spritesheet-resolucao resolucao-menos absolute"></i>
    </div>
    <div class="content-professor clearfix left">
      <ul class="prof-estatistica clearfix">
        <li>
          <p>
            <b>10.123</b><br />
            seguidores
          </p>
        </li>
        <li>
          <p>
            <b>58</b><br />
            cursos
          </p>
        </li>
        <li>
          <p>
            <b>234</b><br />
            eventos
          </p>
        </li>
        <li>
          <p>
            <b>12</b><br />
            vídeos
          </p>
        </li>
        <li>
          <p>
            <b>45</b><br />
            medalhas
          </p>
        </li>
      </ul>
      <div class="prof-avaliacao clearfix">
        <i class="sprite spritesheet-resolucao resolucao-avaliacao left"></i><span class="subtitle left block no-clear">350 avaliações de alunos</span>
        <ul class="box-avaliacao clearfix full left">
          <li>
            <span class="center-text text-gray">Média Geral</span>
            <div class="box-nota clearfix fnd-azulclaro">8,2</div>
          </li>
          <li>
            <span class="center-text text-gray">Qualidade</span>
            <div class="box-nota clearfix">8,2</div>
          </li>
          <li>
            <span class="center-text text-gray">Pontualidade</span>
            <div class="box-nota clearfix">8,2</div>
          </li>
          <li>
            <span class="center-text text-gray">Fórum</span>
            <div class="box-nota clearfix">8,2</div>
          </li>
          <li>
            <span class="center-text text-gray">Aceitação</span>
            <div class="box-nota clearfix" style="width: 61px; background-color: transparent; color: #60a727">100%</div>
          </li>
        </ul>
      </div>
      <div class="box-sobre clearfix">
        <i class="sprite spritesheet-resolucao resolucao-sobre left"></i><span class="subtitle left block no-clear">Sobre George Firmino</span>
        <p class="text-indent left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum sodales pharetra. Suspendisse potenti. Aenean suscipit enim in arcu placerat condimentum. Pellentesque fermentum nulla leo, ac tempus lorem feugiat et. Proin mi tortor, sollicitudin ut sollicitudin commodo, pretium ac est. Aenean bibendum enim sit amet massa aliquet molestie at at nisi. Integer a tincidunt erat, eu faucibus elit. Nunc at justo ligula.
        </p>
      </div>
    </div>
  </div>



  </ion-content>
</ion-view>
