<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="cursos">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <style>
    .overlay .box-feed{
      width: 100%;
      top: 0;
      margin: 0 !important;
    }
  </style>
  <div class="content clearfix padding">
    <div class="top-destaque clearfix">
      <div class="info-user clearfix">
        <div class="img-usr clearfix left">

        </div>
        <div class="infos-usr clearfix left">
          <span class="seta-esquerda"></span>
          <p>
            <b>FULANO DE TAL DA SILVA</b> <br /><br />
            Assinante E-PAPIRO: <b style="color: yellow">SIM</b><br />
            Acesso até: <b style="color: yellow">00/00/0000</b><br />
            Cursos ativos: <b style="color: yellow">326</b>
          </p>
        </div>
        <button class="botao botao-azulescuro full margin-top">Meus cursos</button>
        <button class="botao botao-verde full margin-top">Renovar acesso</button>
      </div>
    </div>

    <div class="spacer-gray"></div>




  </div>

  <div class="content clearfix">
    <div class="main-content clearfix ">

    <div class="overlay bloco-aulas block clearfix">
          <div class="box-feed clearfix clearfix">
            <h3 class="greentitle">Como publicar na rede</h3>
            <div class="box-videos full">
              <iframe width="100%" height="300" src="https://www.youtube.com/embed/2RpfqqOwltU" frameborder="0" allowfullscreen></iframe>

            </div>
          </div>
        </div>
      
    </div>
  </div>


  </ion-content>
</ion-view>
