<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="cursos">
  <div class="bottom-buttons btn-pdf" style="right: 135px;">
    <i class="sprite spritesheet-resolucao resolucao-duvida"></i>
  </div>
  <div class="bottom-buttons btn-pdf" style="right: 75px;">
    <i class="sprite spritesheet-resolucao resolucao-video"></i>
  </div>
  <div class="bottom-buttons btn-pdf" style="right: 15px;">
    <i class="sprite spritesheet-resolucao resolucao-download"></i>
  </div>
  <div class="bottom-buttons btn-pdf" style="right: 195px; background-color: #fff">
    <span class="num-qlqr-coisa">10</span>
  </div>
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="content clearfix padding">
    <div class="top-destaque clearfix">
      <div class="info-user clearfix">
        <div class="img-usr clearfix left">

        </div>
        <div class="infos-usr clearfix left">
          <span class="seta-esquerda"></span>
          <p>
            <b>FULANO DE TAL DA SILVA</b> <br /><br />
            Assinante E-PAPIRO: <b style="color: yellow">SIM</b><br />
            Acesso até: <b style="color: yellow">00/00/0000</b><br />
            Cursos ativos: <b style="color: yellow">326</b>
          </p>
        </div>
        <button class="botao botao-azulescuro full margin-top">Meus cursos</button>
        <button class="botao botao-verde full margin-top">Renovar acesso</button>
      </div>
    </div>

    <div class="spacer-gray"></div>




  </div>

  <div class="content clearfix">
    <div class="main-content clearfix ">


      <div class="box-conc clearfix">
        <h3 class="greentitle">AULAS<br />NOME DO CURSO</h3>

        <div class="box-conc-resultados clearfix full margin-top margin-bottom relative box-aula-curso" style="min-height: 82px;">
          <span class="left-absolute middle-absolute absolute block no-clear text-gray" style="height: 25px;">NOME DA AULA</span>
          <span class="center-absolute middle-absolute text-green center-text" style="width: 100px; height: 25px; ">DISPONIVEL</span>
          <div class="right-absolute absolute">
            <p class="text-gray full text-right no-bold">
              <b>PREVISTA PARA</b><br />
              00/00/0000<br />
              <b>LIBERADA EM</b><br />
              00/00/0000<br />
              <b>ATUALIZADA EM</b><br />
              00/00/0000<br />
            </p>
          </div>
        </div>
        <div class="box-conc-resultados clearfix full margin-top margin-bottom relative box-aula-curso" style="min-height: 82px;">
          <span class="left-absolute middle-absolute absolute block no-clear text-gray" style="height: 25px;">NOME DA AULA</span>
          <span class="center-absolute middle-absolute text-green center-text" style="width: 100px; height: 25px;">DISPONIVEL</span>
          <div class="right-absolute absolute">
            <p class="text-gray full text-right no-bold">
              <b>PREVISTA PARA</b><br />
              00/00/0000<br />
              <b>LIBERADA EM</b><br />
              00/00/0000<br />
              <b>ATUALIZADA EM</b><br />
              00/00/0000<br />
            </p>
          </div>
        </div>
        <div class="box-conc-resultados clearfix full margin-top margin-bottom relative box-aula-curso fnd-vermelho" style="min-height: 82px;">
          <span class="left-absolute middle-absolute absolute block no-clear text-gray" style="height: 25px;">NOME DA AULA</span>
          <span class="center-absolute middle-absolute text-red center-text" style="width: 100px; height: 25px;">DISPONIVEL</span>
          <div class="right-absolute absolute">
            <p class="text-gray full text-right no-bold">
              <b>PREVISTA PARA</b><br />
              00/00/0000<br />
              <b>LIBERADA EM</b><br />
              00/00/0000<br />
              <b>ATUALIZADA EM</b><br />
              00/00/0000<br />
            </p>
          </div>
        </div>
        <div class="box-conc-resultados clearfix full margin-top margin-bottom relative box-aula-curso fnd-azulpiscina" style="min-height: 82px;">
          <span class="left-absolute middle-absolute absolute block no-clear text-gray" style="height: 25px;">NOME DA AULA</span>
          <span class="center-absolute middle-absolute text-blue center-text" style="width: 100px; height: 25px;">DISPONIVEL</span>
          <div class="right-absolute absolute">
            <p class="text-gray full text-right no-bold">
              <b>PREVISTA PARA</b><br />
              00/00/0000<br />
              <b>LIBERADA EM</b><br />
              00/00/0000<br />
              <b>ATUALIZADA EM</b><br />
              00/00/0000<br />
            </p>
          </div>
        </div>


        <button class="botao botao-verde half left">AVALIAR CURSO</button>
        <button class="botao botao-azulclaro half right no-margin-right">GERAR CERTIFICADO</button>
      </div>
    </div>
  </div>


  </ion-content>
</ion-view>
