<ion-view title="Desafios" hide-nav-bar="false" id="page3">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div class="box-expand shadow" id="desafio">
      <ul class="desafio clearfix">
        <li>
          <a href="" class="clearfix nivel1"><i class="sprite sprite2 sprite-desafio"></i><span class="menu-name"><b>Desafio Nível 1 - Nome do Desafio</b> disponível. <br /> Jogar!</span> </a>
        </li>
        <li>
          <a href="" class="clearfix nivel2"><i class="sprite sprite2 sprite-desafio"></i><span class="menu-name"><b>Desafio Nível 2 - Nome do Desafio</b> disponível. <br /> Jogar!</span></a>
        </li>
        <li>
          <a href="" class="clearfix nivel3"><i class="sprite sprite2 sprite-desafio"></i><span class="menu-name"><b>Desafio Nível 3 - Nome do Desafio</b> disponível. <br /> Jogar!</span></a>
        </li>
        <li>
          <a href="" class="clearfix nivel4"><i class="sprite sprite2 sprite-desafio"></i><span class="menu-name"><b>Desafio Nível 4 - Nome do Desafio</b> disponível. <br /> Jogar!</span></a>
        </li>
        <li>
          <a href="" class="clearfix nivel1"><i class="sprite sprite2 sprite-desafio"></i><span class="menu-name"><b>Desafio Nível 1 - Nome do Desafio</b> disponível. <br /> Jogar!</span> </a>
        </li>
        <li>
          <a href="" class="clearfix nivel2"><i class="sprite sprite2 sprite-desafio"></i><span class="menu-name"><b>Desafio Nível 2 - Nome do Desafio</b> disponível. <br /> Jogar!</span></a>
        </li>
        <li>
          <a href="" class="clearfix nivel3"><i class="sprite sprite2 sprite-desafio"></i><span class="menu-name"><b>Desafio Nível 3 - Nome do Desafio</b> disponível. <br /> Jogar!</span></a>
        </li>
        <li>
          <a href="" class="clearfix nivel4"><i class="sprite sprite2 sprite-desafio"></i><span class="menu-name"><b>Desafio Nível 4 - Nome do Desafio</b> disponível. <br /> Jogar!</span></a>
        </li>
        <li>
          <a href="" class="clearfix nivel1"><i class="sprite sprite2 sprite-desafio"></i><span class="menu-name"><b>Desafio Nível 1 - Nome do Desafio</b> disponível. <br /> Jogar!</span> </a>
        </li>
        <li>
          <a href="" class="clearfix nivel2"><i class="sprite sprite2 sprite-desafio"></i><span class="menu-name"><b>Desafio Nível 2 - Nome do Desafio</b> disponível. <br /> Jogar!</span></a>
        </li>
        <li>
          <a href="" class="clearfix nivel3"><i class="sprite sprite2 sprite-desafio"></i><span class="menu-name"><b>Desafio Nível 3 - Nome do Desafio</b> disponível. <br /> Jogar!</span></a>
        </li>
        <li>
          <a href="" class="clearfix nivel4"><i class="sprite sprite2 sprite-desafio"></i><span class="menu-name"><b>Desafio Nível 4 - Nome do Desafio</b> disponível. <br /> Jogar!</span></a>
        </li>

      </ul>
      <button ui-sref="desafios_home" class="button button-full button-positive">Ver todos os DESAFIOS</button>
      <br />
      <br />
    </div>
  </ion-content>
</ion-view>
