<ion-view title="Dicas" hide-nav-bar="false" id="boatos" class="pg-interna">
  <ion-content padding="false" class="manual-ios-statusbar-padding" id="content-middle">
    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down">
    </ion-refresher>
    <div class="publicacao clearfix padding">
      <h4>O que encontro nesta página?</h4>
      <p>
  Em DICAS DE ESTUDO você terá acesso a dicas postadas por concurseiros e professores, podendo servir para uma matéria específica ou para um concurso.<br />
  Você também pode postar suas dicas. Basta clicar no botão abaixo.
      </p>
      <button class="btn btn-indicar btn-cleanblue">Publicar</button>
    </div>

    <div class="box-feed clearfix block no-padding" id="published-indicacao">
      <fieldset class="clearfix">
        <span class="title-text">Filtrar Dicas</span>

        <span class="label">Concursos</span>
        <input type="text"  placeholder="Texto sendo digitado" class="interesses"/> <i class="sprite sprite-plus"></i>
        <span class="label">Concursos</span>
        <input type="text"  placeholder="Texto sendo digitado" class="interesses"/> <i class="sprite sprite-plus"></i>
      </fieldset>
      <fieldset class="clearfix">

        <span class="title-text">Interesses vinculados</span>
        <div class="interesses">
          <div class="interesse i0">
            <span class="text-interesse left">Dicas de estudo</span>
            <i class="sprite sprite2 sprite-close_gray"></i>
          </div>
          <div class="interesse i0">
            <span class="text-interesse left">Auditor Fiscal da Receita Federal</span>
            <i class="sprite sprite2 sprite-close_gray"></i>
          </div>
          <div class="interesse i0">
            <span class="text-interesse left">Direito Administrativo</span>
            <i class="sprite sprite2 sprite-close_gray"></i>
          </div>
          <div class="interesse i0">
            <span class="text-interesse left">Atos Administrativos</span>
            <i class="sprite sprite2 sprite-close_gray"></i>
          </div>
        </div>
      </fieldset>
      <button class="btn btn-blue btn-voltar left quarter">Buscar</button><span class="qtd-encontrada">(2.500 publicações encontradas)</span>
    </div>

    <div class="box-feed shadow clearfix">
      <div class="box-top">
        <span class="box-title clearfix"><i class="sprite sprite3 sprite-dicas_gd"></i><span class="title-publicacao">Dicas de estudo</span><span class="publish-up">Publicado em 25/10/2015 19:25</span></span>
      </div>
      <div class="box-content">
        <div class="feed-details clearfix">
          <div class="usuario p75 clearfix small" style="position: relative">
            <div class="usr-alert">10</div>
            <div class="quarter-circle"></div>
            <span class="usr-img" style="background-image: url('img/user.png');"></span>
          </div>
          <div class="user-details peq">
            <h3 class="usr-name">George Firmino <i class="sprite sprite-plus_pq right"></i></h3>
            <ul class="clearfix">
              <li>
                <a href="#" class="sprite sprite5 sprite-user_icon_pq">Perfil</a>
              </li>
              <li>
                <a href="#" class="sprite sprite5 sprite-lib_icon_pq">Perfil</a>
              </li>
              <li>
                <a href="#" class="perfil-porcentagem">75%</a>
              </li>
              <li>
                <a href="#" class="sprite sprite5 sprite-medal_icon_pq">Perfil</a>
              </li>
            </ul>
          </div>
          <div class="feed-info">

            <span class="publish-accepted">Esta publicação tem 98,5% de aceitação.</span>
          </div>
        </div>
        <div class="feed-text clearfix">
          <h2>Titulo da publicação, caso exista</h2>
          <p class="feed">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales semper mauris, eget commodo sapien luctus sit amet. Integer vel justo mollis, pellentesque risus nec, congue enim. Mauris cursus rhoncus lectus, cursus aliquam nibh venenatis ac. Nam ut nisl egestas, lacinia elit ut, pharetra arcu.
          </p>
          <span class="expand">expandir</span>
        </div>
        <div class="feed-tags">
          <span>TAGS: bibliografia, Auditor Fiscal, Direito Administrativo</span>
        </div>
      </div>
      <div class="box-approve clearfix">
        <div class="box-button button-aprovar quarter">
            <button class="btn btn-ok btn-aprova"><span class="menu-name">Aprovar</span></button>
            <!-- <span class="clearfix">Você e <b>1.200 Aprovaram</b></span> -->
        </div>
        <div class="box-button button-reprovar quarter">
            <button class="btn btn-danger btn-reprovar"><span class="menu-name">Reprovar</span></button>
            <!-- <span class="clearfix">Você e <b>1.200 Aprovaram</b></span> -->
        </div>
        <div class="box-button button-share quarter">
            <button class="btn btn-blue btn-share"><span class="menu-name">Compartilhar</span></button>
            <!-- <span class="clearfix">Você e <b>1.200 Aprovaram</b></span> -->
        </div>
        <div class="box-button button-comment quarter">
            <button class="btn btn-alert btn-comment"><span class="menu-name">Comentar</span></button>
            <!-- <span class="clearfix">Você e <b>1.200 Aprovaram</b></span> -->
        </div>
      </div>

      <div class="publish-details-list">
        <span class="details-container">por <b>George Firmino</b> - <span class="perfil">Professor</span> - <span class="nivel"> Nível 10</span> - <span class="porcentagem">75%</span></span>
        <span class="desapprove-list"><i class="sprite sprite3 sprite-close_blue2"></i>1.234</span>
        <span class="desapprove-list"><i class="sprite sprite3 sprite-accepted_blue"></i>1.234</span>
      </div>
    </div>


    <br />
  </ion-content>
</ion-view>
