<ion-view title="Favoritos" hide-nav-bar="false" id="interesses" class="pg-interna" >
  <ion-content padding="false" class="manual-ios-statusbar-padding" id="content-middle">
    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down">
    </ion-refresher>
    <div class="publicacao clearfix padding">
      <h4>O que encontro nesta página?</h4>
      <p>
        Nesta página estão agrupadas as publicações que você marcou como favoritas, permitindo localizá-las mais facilmente. Você poderá, a qualquer momento, marcar ou desmarcar uma publicação como favorita.
      </p>
    </div>

    <div class="box-feed shadow clearfix">
      <div class="box-top">
        <span class="box-title clearfix"><i class="sprite sprite-indicacao"></i>
          <span class="title-publicacao">Indicação de Bibliografia</span>
          <span class="publish-up">Publicado em 25/10/2015 19:25</span>
        </span>
      </div>
      <div class="box-content">
        <div class="feed-details clearfix">
          <div class="usuario p75 clearfix small" style="position: relative">
            <div class="usr-alert">10</div>
            <div class="quarter-circle"></div>
            <span class="usr-img" style="background-image: url('img/user.png');"></span>
          </div>
          <div class="user-details peq">
            <h3 class="usr-name" ui-sref="visualizar_usuario">George Firmino <i class="sprite sprite-plus_pq right"></i></h3>
            <ul class="clearfix">
              <li>
                <a href="#" class="sprite sprite5 sprite-user_icon_pq">Perfil</a>
              </li>
              <li>
                <a href="#" class="sprite sprite5 sprite-lib_icon_pq">Perfil</a>
              </li>
              <li>
                <a href="#" class="perfil-porcentagem">75%</a>
              </li>
              <li>
                <a href="#" class="sprite sprite5 sprite-medal_icon_pq">Perfil</a>
              </li>
            </ul>
          </div>
          <div class="feed-info">
            <span class="publish-accepted">Esta publicação tem 98,5% de aceitação.</span>
          </div>
        </div>
        <div class="feed-text clearfix">
          <h2>Titulo da publicação, caso exista</h2>
          <p class="feed">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales semper mauris, eget commodo sapien luctus sit amet. Integer vel justo mollis, pellentesque risus nec, congue enim. Mauris cursus rhoncus lectus, cursus aliquam nibh venenatis ac. Nam ut nisl egestas, lacinia elit ut, pharetra arcu.
          </p>
          <span class="expand">expandir</span>
        </div>
        <div class="feed-tags">
          <span>TAGS: bibliografia, Auditor Fiscal, Direito Administrativo</span>
        </div>
      </div>
      <div class="box-approve clearfix">
        <div class="box-button button-aprovar quarter">
          <button class="btn btn-ok btn-aprova"><i class="sprite sprite-aprovar"></i>
            <span class="menu-name">Aprovar</span>
          </button>
        </div>
        <div class="box-button button-reprovar quarter">
          <button class="btn btn-danger btn-reprovar"><i class="sprite sprite-reprovar"></i>
            <span class="menu-name">Reprovar</span>
          </button>
        </div>
        <div class="box-button button-share quarter">
          <button class="btn btn-blue btn-share"><i class="sprite sprite-share"></i>
            <span class="menu-name">Compartilhar</span>
          </button>
        </div>
        <div class="box-button button-comment quarter">
          <button class="btn btn-alert btn-comment"><i class="sprite sprite-comentar"></i>
            <span class="menu-name">Comentar</span>
          </button>
        </div>
      </div>
      <div class="publish-details-list">
        <span class="details-container">por <b>George Firmino</b> -
          <span class="perfil">Professor</span> -
          <span class="nivel"> Nível 10</span> -
          <span class="porcentagem">75%</span>
        </span>
        <span class="desapprove-list"><i class="sprite sprite3 sprite-close_blue2"></i>1.234</span>
        <span class="desapprove-list"><i class="sprite sprite3 sprite-accepted_blue"></i>1.234</span>
      </div>
    </div>
    <div class="box-feed shadow clearfix pub-papo">
      <div class="box-top bgr-oceanblue">
        <span class="box-title clearfix"><i class="sprite sprite2 sprite-papo_concurseiro"></i>
          <span class="title-publicacao" ui-sref="papo_home">Papo de Concurseiro</span>
          <span class="publish-up">Publicado em 25/10/2015 19:25</span>
        </span>
      </div>
      <div class="box-content">
        <div class="feed-text clearfix">
          <h2>Titulo da publicação, caso exista</h2>
          <div class="banner-publish" style="background-image: url('banners/banner.jpg')">
          </div>
          <p class="feed">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales semper mauris, eget commodo sapien luctus sit amet.
          </p>
          <span class="expand">expandir</span>
        </div>
        <div class="feed-tags">
          <span>TAGS: bibliografia, Auditor Fiscal, Direito Administrativo</span>
        </div>
      </div>
      <div class="box-approve clearfix">
        <div class="box-button button-aprovar quarter">
          <button class="btn btn-ok btn-aprova"><i class="sprite sprite-aprovar"></i>
            <span class="menu-name">Aprovar</span>
          </button>
        </div>
        <div class="box-button button-reprovar quarter">
          <button class="btn btn-danger btn-reprovar"><i class="sprite sprite-reprovar"></i>
            <span class="menu-name">Reprovar</span>
          </button>
        </div>
        <div class="box-button button-share quarter">
          <button class="btn btn-blue btn-share"><i class="sprite sprite-share"></i>
            <span class="menu-name">Compartilhar</span>
          </button>
        </div>
        <div class="box-button button-comment quarter">
          <button class="btn btn-alert btn-comment"><i class="sprite sprite-comentar"></i>
            <span class="menu-name">Comentar</span>
          </button>
        </div>
      </div>
      <div class="publish-details-list">
        <span class="details-container">por <b>George Firmino</b> -
          <span class="perfil">Professor</span> -
          <span class="nivel"> Nível 10</span> -
          <span class="porcentagem">75%</span>
        </span>
        <span class="desapprove-list"><i class="sprite sprite3 sprite-close_blue2"></i>1.234</span>
        <span class="desapprove-list"><i class="sprite sprite3 sprite-accepted_blue"></i>1.234</span>
      </div>
    </div>

    <br />
  </ion-content>
</ion-view>
