<ion-view title="Header 2" id="page1" controller="scripts">
  <ion-tabs class="tabs-stable tabs-icon-only tabs-color-light fade-in" id="header2-tabs1">
    <ion-tab title="Feed" icon-on="icons icon-feed" icon-off="icons icon-feed" href="#/header2/feed" id="header2-tab6">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Papo" icon-on="icons icon-papo" icon-off="icons icon-papo" href="#/header2/papo" id="header2-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Desafios" icon-on="icons icon-desafio" icon-off="icons icon-desafio" href="#/header2/desafios" id="header2-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <div class="alert-icon">10</div>
    <ion-tab title="Notificacoes" icon-on="icons icon-notificacoes" icon-off="icons icon-notificacoes" href="#/header2/notificacoe" id="header2-tab3" class="teste">
      <ion-nav-view name="tab3"></ion-nav-view> 
    </ion-tab>
    <ion-tab title="Chats" icon-on="icons icon-msg" icon-off="icons icon-msg" href="#/header2/chats" id="header2-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
