<ion-view title="Mapa dos Concursos" hide-nav-bar="false" id="mapa_concursos3" class="pg-interna">
  <ion-content padding="false" class="manual-ios-statusbar-padding" id="content-middle">
    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down">
    </ion-refresher>
    <br />
    <div class="list padding">

      <label class="item item-input item-select">
        <div class="input-label">
          Localizar concursos Por:
        </div>
        <select>
          <option>Área</option>
          <option selected>Região</option>
          <option>Situação</option>
        </select>
      </label>

    </div>



    <div class="box-interesses clearfix mapa-concursos padding">
      <h5 class="bigtitle">Nome da área selecionada</h5>
      <div class="box-interesse clearfix " style="margin: 0 !important">
        <div class="list" style="margin: 21px 0">

          <label class="item item-input item-select">
            <div class="input-label">
              Filtrar Por:
            </div>
            <select>
              <option>Todos</option>
              <option selected>Inscrições Abertas</option>
              <option>Previstos</option>
              <option>Em adandamento</option>
              <option>Finalizados</option>
            </select>
          </label>

        </div>
      </div>
      <div class="box-concurso clearfix box-concurso2">
        <h6>Nome do curso cadastrado no admin</h6>
        <div class="more-details">
          <i class="sprite sprite-details"></i>
          <span class="menu-name">Detalhes</span>
        </div>
      </div>
      <div class="box-concurso clearfix box-concurso2">
        <h6>Nome do curso cadastrado no admin</h6>
        <div class="more-details">
          <i class="sprite sprite-details"></i>
          <span class="menu-name">Detalhes</span>
        </div>
      </div>
    </div>

    <br />
  </ion-content>
</ion-view>
