<ion-view title="Medalhas" hide-nav-bar="false" id="medalhas" class="pg-interna">
    <ion-content padding="false" class="manual-ios-statusbar-padding" id="content-middle">
        <ion-refresher pulling-text="Solte para atualizar..." on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down">
        </ion-refresher>
        <br />
        <div class="publicacao clearfix padding">
            <h4>Sala de Troféus</h4>
            <div class="info-medal">
                <div class="usr-img-status clearfix">
                    <div class="c100 p75 small">
                        <span class="usr-img" style="background-image: url('../img/user.png');"></span>

                    </div>
                </div>
                <div class="status clearfix" style="position: relative">
                    <div class="box-ballon bgr-red" style="width: 72px;left: 175px;top: -17px;">45/200<span class="arrow-down" style="border-top: 5px solid red"></span></div>
                    <div class="status-bar-container">
                        <div class="status-bar-preenchimento p4 bgr-red"></div>
                    </div>
                    <i class="sprite sprite3 sprite-cao"></i>
                </div>

            </div>
        </div>

        <div class="box-feed shadow clearfix medalhas">
            <div class="box-top bgr-mental">
                <span class="box-title clearfix"><span class="title-publicacao">Mental</span><span class="data-publicacao-list">00/00/0000</span></span>
                <div class="msg-total right">
                    Medalhas Ganhas:
                    <span class="menu-alert">1</span>
                </div>
            </div>
            <div class="box-content medals clearfix">
                <div class="info-medal">
                    <i class="sprite sprite3 sprite-mental1 left"></i>
                    <div class="status clearfix" style="position: relative">

                        <div class="status-bar-container">
                            <div class="status-bar-preenchimento p1 bgr-oceanblue"></div>
                        </div>
                        <i class="sprite sprite3 sprite-mental2 right"></i>
                    </div>
                    <div class="medalhas_conquistadas clearfix">
                        <i class="sprite sprite3 sprite-mental_medal1"></i>
                        <i class="sprite sprite3 sprite-mental_medal2"></i>
                        <i class="sprite sprite3 sprite-mental_medal3"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-feed shadow clearfix medalhas">
            <div class="box-top bgr-perseveranca">
                <span class="box-title clearfix"><span class="title-publicacao">Perseverança</span><span class="data-publicacao-list">00/00/0000</span></span>
                <div class="msg-total right">
                    Medalhas Ganhas:
                    <span class="menu-alert" style="color: #2aa245">1</span>
                </div>
            </div>
            <div class="box-content medals clearfix">
                <div class="info-medal">
                    <i class="sprite sprite3 sprite-perseveranca1 left"></i>
                    <div class="status clearfix">
                        <div class="status-bar-container">
                            <div class="status-bar-preenchimento p2 bgr-perseveranca"></div>
                        </div>
                        <i class="sprite sprite3 sprite-perseveranca2 right no-margin"></i>
                    </div>
                    <div class="medalhas_conquistadas clearfix">
                        <i class="sprite sprite3 sprite-perseveranca_medal1"></i>
                        <i class="sprite sprite3 sprite-perseveranca_medal2"></i>
                        <i class="sprite sprite3 sprite-perseveranca_medal3"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-feed shadow clearfix medalhas">
            <div class="box-top bgr-emocional">
                <span class="box-title clearfix"><span class="title-publicacao">Emocional</span><span class="data-publicacao-list">00/00/0000</span></span>
                <div class="msg-total right">
                    Medalhas Ganhas:
                    <span class="menu-alert" style="color: #e6515b">1</span>
                </div>
            </div>
            <div class="box-content medals clearfix">
                <div class="info-medal">
                    <i class="sprite sprite3 sprite-emocional1 left"></i>
                    <div class="status clearfix">
                        <div class="status-bar-container">
                            <div class="status-bar-preenchimento p4 bgr-emocional"></div>
                        </div>
                        <i class="sprite sprite3 sprite-emocional2 right no-margin"></i>
                    </div>
                    <div class="medalhas_conquistadas clearfix">
                        <i class="sprite sprite3 sprite-emocional_medal1"></i>
                        <i class="sprite sprite3 sprite-emocional_medal2"></i>
                        <i class="sprite sprite3 sprite-emocional_medal3"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-feed shadow clearfix medalhas">
            <div class="box-top bgr-newyellow">
                <span class="box-title clearfix"><span class="title-publicacao">Social</span><span class="data-publicacao-list">00/00/0000</span></span>
                <div class="msg-total right">
                    Medalhas Ganhas:
                    <span class="menu-alert" style="color: #ddae18">1</span>
                </div>
            </div>
            <div class="box-content medals clearfix">
                <div class="info-medal social">
                    <i class="sprite sprite3 sprite-social1 left"></i>
                    <div class="status clearfix">
                        <div class="status-bar-container">
                            <div class="status-bar-preenchimento p1 bgr-newyellow"></div>
                        </div>
                        <i class="sprite sprite3 sprite-social2 right no-margin"></i>
                    </div>
                    <div class="medalhas_conquistadas clearfix">
                        <i class="sprite sprite3 sprite-social_medal1"></i>
                        <i class="sprite sprite3 sprite-social_medal2"></i>
                        <i class="sprite sprite3 sprite-social_medal3"></i>
                        <i class="sprite sprite3 sprite-social_medal4"></i>
                        <i class="sprite sprite3 sprite-social_medal5"></i>
                        <i class="sprite sprite3 sprite-social_medal6"></i>
                    </div>
                </div>
            </div>
        </div>

        <br />
    </ion-content>
</ion-view>