<ion-view title="Historias" hide-nav-bar="false" id="interesses" class="pg-interna" ng-controller="scripts">
  <ion-content padding="false" class="manual-ios-statusbar-padding" id="content-middle">
    <div class="box-feed shadow clearfix no-margin-top private-msg">
      <div class="box-top">
        <i class="ion-arrow-left-c" ng-click="myGoBack()"></i>
        <div class="usr-img-status clearfix">
          <div class="c100 p75 small">
              <span class="usr-img" style="background-image: url('../img/user.png');"></span>
          </div>

        </div>
        <span class="details-msg bold-blue">George Firmino</span>
      </div>
      <div class="box-content mensagens clearfix">


        <div class="right-content right no-margin" id="msg-recebidas">

          <div class="box-msg msg-user" id="user-0">
            <span class="msg-time">10:44 AM</span>
            <p class="msg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          </div>

          <div class="box-msg msg-user" id="user-0">
            <span class="msg-time">10:44 AM</span>
            <p class="msg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          </div>

          <div class="box-msg msg-user" id="user-0">
            <span class="msg-time">10:44 AM</span>
            <p class="msg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          </div>

          <div class="box-msg my-msg" id="user-0">
            <span class="msg-time">10:44 AM</span>
            <p class="msg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          </div>
        </div>
      </div>
    </div>


    <br />
  </ion-content>
</ion-view>
