<ion-view title="Notificacoes" hide-nav-bar="false" id="page4">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div class="box-expand shadow nivel1" id="perfil">
      <ul class="book clearfix">
        <li>
          <a href="" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> compartilhou a publicação de <b>Fulano da Silva</b></span>
            <span class="book-desc"><i class="sprite sprite2 sprite-shared_blue"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

        <li>
          <a href="" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> compartilhou a publicação de <b>Fulano da Silva</b></span>
            <span class="book-desc"><i class="sprite sprite2 sprite-shared_blue"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

        <li>
          <a href="" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> compartilhou a publicação de <b>Fulano da Silva</b></span>
            <span class="book-desc"><i class="sprite sprite2 sprite-shared_blue"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

        <li>
          <a href="" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> compartilhou a publicação de <b>Fulano da Silva</b></span>
            <span class="book-desc"><i class="sprite sprite2 sprite-shared_blue"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

        <li>
          <a href="" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> compartilhou a publicação de <b>Fulano da Silva</b></span>
            <span class="book-desc"><i class="sprite sprite2 sprite-shared_blue"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

        <li>
          <a href="" class="clearfix">
            <div class="usuario p75 clearfix small" style="position: relative">
              <div class="usr-alert">10</div>

              <span class="usr-img" style="background-image: url('img/user.png');"></span>
            </div>
            <span class="menu-name"><b>George Firmino</b> compartilhou a publicação de <b>Fulano da Silva</b></span>
            <span class="book-desc"><i class="sprite sprite2 sprite-shared_blue"></i><span class="shared-time">há 2 horas atrás</span></span>

          </a>
        </li>

      </ul>
      <br />
      <br />
    </div>
  </ion-content>
</ion-view>
