<ion-view title="Papo de Concurseiro" hide-nav-bar="false" id="papo-concurseiro" class="pg-interna">
  <ion-content padding="false" class="manual-ios-statusbar-padding" id="content-middle">
    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down">
    </ion-refresher>
    <div class="grid_12 no-margin">
      <div class="grid_100">
        <div class="img-topo" style="background-image: url('banners/topo-img.jpg')">
        </div>
      </div>
      <div class="grid_4" id="content-left">

        <div class="channel-info shadow">
          <div class="profile-img" style="background-image: url('img/profile_img_papo.jpg')"></div>
          <div class="info-numbers">
            <span class="box-number"><b>10.123</b> seguidores</span>
            <span class="box-number"><b>58</b> eventos</span>
            <span class="box-number"><b>234</b> vídeos</span>
          </div>
          <div class="text-info">
            <h5>Sobre o canal</h5>
            <p>
              Pellentesque vel nisl accumsan, mattis odio non, sodales est. Ut in nulla facilisis, pretium turpis at, ullamcorper urna. Cras non dictum libero, at condimentum felis. Morbi id dictum tellus. Vestibulum vel neque et enim dignissim finibus. In sit amet rhoncus lectus, vitae vehicula felis. Sed facilisis, nisi sed laoreet viverra
            </p>
          </div>
        </div>
      </div>
      <div class="grid_8" id="content-middle">

        <div class="pag-option clearfix">
          <button class="btn btn-blue btn-follow"><i class="sprite sprite2 sprite-follow"></i><span class="menu-name">Seguir</span></button>
          <button class="btn btn-blue btn-msg"><i class="sprite sprite2 sprite-msg-pq"></i><span class="menu-name">Mensagem</span></button>
          <button class="btn btn-blue btn-msg"><i class="sprite sprite2 sprite-eventos"></i><span class="menu-name">Eventos</span></button>
        </div>



      <div class="box-feed shadow clearfix pub-papo">
        <div class="box-top bgr-oceanblue">
          <span class="box-title clearfix"><i class="sprite sprite2 sprite-papo_concurseiro"></i><span class="title-publicacao" ui-sref="papo_home">Papo de Concurseiro</span><span class="data-publicacao-list papo-title">Título da publicação cadastrado no admin</span></span>

        </div>
        <div class="box-content">
          <div class="feed-text clearfix">
            <h2>Titulo da publicação, caso exista</h2>
            <div class="banner-publish" style="background-image: url('banners/banner.jpg')">

            </div>
            <p class="feed">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales semper mauris, eget commodo sapien luctus sit amet.
            </p>
            <span class="expand">expandir</span>
          </div>
          <div class="feed-tags">
            <span>TAGS: bibliografia, Auditor Fiscal, Direito Administrativo</span>
          </div>
        </div>
        <div class="box-approve">
          <div class="box-button button-share half">
              <button class="btn btn-blue btn-share"><i class="sprite sprite-share"></i>Compartilhar</button>
              <span><b>1.200 Aprovaram</b></span>
          </div>
          <div class="box-button button-comment half">
              <button class="btn btn-alert btn-comment"><i class="sprite sprite-comentar"></i>Comentar</button>
              <span><b>1.200 Aprovaram</b></span>
          </div>
        </div>
        <div class="publish-details-list papo-list">
          <span class="details-container">00/00/0000</span>
          <span class="desapprove-list"><i class="sprite sprite3 sprite-compartilhar_blue"></i>1.234</span>
          <span class="desapprove-list"><i class="sprite sprite3 sprite-chat_blue"></i>1.234</span>
        </div>
      </div>

      <div class="box-feed shadow clearfix pub-papo">
        <div class="box-top bgr-oceanblue">
          <span class="box-title clearfix"><i class="sprite sprite2 sprite-papo_concurseiro"></i><span class="title-publicacao">Aulão ao vivo</span><span class="data-publicacao-list papo-title">Título da publicação cadastrado no admin</span></span>

        </div>
        <div class="box-content">
          <div class="feed-text clearfix">
            <h2>Titulo da publicação, caso exista</h2>
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/ueRm3WgSNRA" frameborder="0" allowfullscreen style="margin-bottom: 20px"></iframe>
            <p class="feed">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales semper mauris, eget commodo sapien luctus sit amet. Integer vel justo mollis, pellentesque risus nec, congue enim. Mauris cursus rhoncus lectus, cursus aliquam nibh venenatis ac. Nam ut nisl egestas, lacinia elit ut, pharetra arcu. Integer vitae nibh imperdiet, ornare magna eget, rutrum leo. Duis sollicitudin, sapien nec facilisis fringilla, magna nunc ultricies purus, maximus feugiat risus sapien in tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In laoreet mi nulla, sit amet condimentum metus aliquet vel. Vivamus odio mi, varius vitae lacus et, posuere pulvinar purus. Nunc mattis risus et commodo scelerisque.
            </p>
            <span class="expand">expandir</span>
          </div>
          <div class="feed-tags">
            <span>TAGS: bibliografia, Auditor Fiscal, Direito Administrativo</span>
          </div>
        </div>
        <div class="box-approve">
          <div class="box-button button-share half">
              <button class="btn btn-blue btn-share"><i class="sprite sprite-share"></i>Compartilhar</button>
              <span><b>1.200 Aprovaram</b></span>
          </div>
          <div class="box-button button-comment half">
              <button class="btn btn-alert btn-comment"><i class="sprite sprite-comentar"></i>Comentar</button>
              <span><b>1.200 Aprovaram</b></span>
          </div>
        </div>
        <div class="publish-details-list papo-list">
          <span class="details-container">00/00/0000</span>
          <span class="desapprove-list"><i class="sprite sprite3 sprite-compartilhar_blue"></i>1.234</span>
          <span class="desapprove-list"><i class="sprite sprite3 sprite-chat_blue"></i>1.234</span>
        </div>
      </div>

      <div class="anuncio">
        <h4 class="padding">Anúncio Patrocinado</h4>
        <div class="banner-patrocinio" style="background-image: url('banners/banner.jpg')"></div>
        <span class="name-anunciantes padding">Nome do anunciante</span>
        <span class="site-anunciante padding">www.nomedoanunciante.com.br</span>
        <p class="text-anunciantes padding">
          Texto do anúncio enviado pelo anunciante, com quantidade limitada de caracteres, de modo que ocupe até 3 linhas de texto (Muli 12). Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales semper mauris, eget commodo sapien luctus sit amet. Integer vel justo mollis, pellentesque risus nec.
        </p>
      </div>




      </div>
    </div>

    <br />
  </ion-content>
</ion-view>
