<ion-view title="Papo" hide-nav-bar="false" id="page2">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div class="box-expand shadow clearfix" id="wifi">
      <ul class="wifi clearfix">
        <div class="intro-text clearfix">
          <i class="sprite sprite2 sprite-logo_nome"></i>
          <p>
            Publicações oficiais do página<br />
            PAPO DE CONCURSEIRO
          </p>
        </div>
        <li>
          <a href="" class="clearfix">
            <i class="sprite sprite2 sprite-publicacao"></i>
            <span class="data-publicacao">00/00/0000</span>
            <span class="menu-name">Tipo da publicação</span>
            <span class="pub-title">Título da publicação cadastrada no admin, pode ocupar até duas linhas</span>
          </a>
        </li>
        <li>
          <a href="" class="clearfix">
            <i class="sprite sprite2 sprite-publicacao"></i>
            <span class="data-publicacao">00/00/0000</span>
            <span class="menu-name">Tipo da publicação</span>
            <span class="pub-title">Título da publicação cadastrada no admin, pode ocupar até duas linhas</span>
          </a>
        </li>
        <li>
          <a href="" class="clearfix">
            <i class="sprite sprite2 sprite-publicacao"></i>
            <span class="data-publicacao">00/00/0000</span>
            <span class="menu-name">Tipo da publicação</span>
            <span class="pub-title">Título da publicação cadastrada no admin, pode ocupar até duas linhas</span>
          </a>
        </li>
        <li>
          <a href="" class="clearfix">
            <i class="sprite sprite2 sprite-publicacao"></i>
            <span class="data-publicacao">00/00/0000</span>
            <span class="menu-name">Tipo da publicação</span>
            <span class="pub-title">Título da publicação cadastrada no admin, pode ocupar até duas linhas</span>
          </a>
        </li>
        <li>
          <a href="" class="clearfix">
            <i class="sprite sprite2 sprite-publicacao"></i>
            <span class="data-publicacao">00/00/0000</span>
            <span class="menu-name">Tipo da publicação</span>
            <span class="pub-title">Título da publicação cadastrada no admin, pode ocupar até duas linhas</span>
          </a>
        </li>

      </ul>
      <button ui-sref="papo_home" class="button button-full button-positive">Ver a página Papo de Concurseiro</button>
      <br />
      <br />
    </div>
    <br /><br />
  </ion-content>
</ion-view>
