<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <div class="header-ciclos clearfix">
            <a id="logo-resolucao" class="sprite spritesheet-resolucao resolucao-logo" href="#">resolucao de questoes</a>
            <i class="sprite spritesheet-ciclos ciclos-info right"></i>
            <i class="sprite spritesheet-ciclos ciclos-power right"></i>
        </div>

        <div class="content clearfix">

            <div class="main-content clearfix padding">

                <br />
                <h2 class="content-title full block left">RANKING DE QUESTÕES</h2>
                <p class="center-text text-app" style="    font-size: 12px;    line-height: 11px;    text-align: left;    font-weight: bold;">
                    1.350 CONCURSEIROS PARTICIPANDO <br />
                </p>
                <button class="botao botao-ver-posicao botao-azulclaro right margin-bottom" style="    position: absolute;
    top: 143px;
    right: 0;
    font-size: 10px;
    line-height: 10px;
    padding: 0px 22px;
    height: 38px;">Mostrar</button>

                <div class="posicao-atual clearfix left">
                    <span class="left block">RANKING ATUAL</span>
                    <i class="sprite spritesheet-ciclos ciclos-posicao right">13º</i>
                </div>


            </div>

            <div class="tabela-tipo5 clearfix left">
                <i class="sprite spritesheet-ciclos ciclos-seta-tabela-esquerda left" style="top: 250px;"></i>
                <i class="sprite spritesheet-ciclos ciclos-seta-tabela-direita right no-margin" style="top: 250px;"></i>
                <div class="tabela-container clearfix">
                    <div class="linha-topo clearfix">
                        <div class="coluna">
                            Concurseiro
                        </div>
                        <div class="coluna">
                            Total de horas estudadas
                        </div>
                        <div class="coluna">
                            Horas de Teoria
                        </div>
                        <div class="coluna">
                            Horas
                        </div>
                    </div>
                    <div class="linha first clearfix">
                        <div class="coluna clearfix">
                            <span class="primeiro left">1º <i class="sprite spritesheet-ciclos ciclos-crown right"></i></span>
                            <div class="user left clearfix">
                                <div class="user-img">

                                </div>
                            </div>
                            <span class="name-user left">George Firmino</span>
                            <i class="sprite spritesheet-ciclos ciclos-icon left"></i>
                            <span class="user-pct left">75%</span>
                            <i class="sprite spritesheet-ciclos ciclos-add left"></i>
                        </div>
                        <div class="coluna">
                            235
                        </div>
                        <div class="coluna">
                            235
                        </div>
                        <div class="coluna">
                            235
                        </div>
                    </div>
                    <div class="linha even clearfix">
                        <div class="coluna clearfix">
                            <div class="user left clearfix">
                                <div class="user-img">

                                </div>
                            </div>
                            <span class="name-user left">George Firmino</span>
                            <i class="sprite spritesheet-ciclos ciclos-icon left"></i>
                            <span class="user-pct left">75%</span>
                            <i class="sprite spritesheet-ciclos ciclos-add left"></i>
                        </div>
                        <div class="coluna">
                            20
                        </div>
                        <div class="coluna">
                            10
                        </div>
                        <div class="coluna">
                            20
                        </div>
                    </div>
                    <div class="linha odd clearfix">
                        <div class="coluna clearfix">
                            <div class="user left clearfix">
                                <div class="user-img">

                                </div>
                            </div>
                            <span class="name-user left">George Firmino</span>
                            <i class="sprite spritesheet-ciclos ciclos-icon left"></i>
                            <span class="user-pct left">75%</span>
                            <i class="sprite spritesheet-ciclos ciclos-add left"></i>
                        </div>
                        <div class="coluna">
                            20
                        </div>
                        <div class="coluna">
                            10
                        </div>
                        <div class="coluna">
                            20
                        </div>
                    </div>
                    <div class="linha active clearfix">
                        <div class="coluna clearfix">
                            <div class="user left clearfix">
                                <div class="user-img">

                                </div>
                            </div>
                            <span class="name-user left">George Firmino</span>
                            <i class="sprite spritesheet-ciclos ciclos-icon left"></i>
                            <span class="user-pct left">75%</span>
                            <i class="sprite spritesheet-ciclos ciclos-add left"></i>
                        </div>
                        <div class="coluna">
                            20
                        </div>
                        <div class="coluna">
                            10
                        </div>
                        <div class="coluna">
                            20
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </ion-content>
</ion-view>