<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="resolucao">

  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
  <div class="header-ciclos clearfix">
    <a id="logo-resolucao" class="sprite spritesheet-resolucao resolucao-logo" href="#">resolucao de questoes</a>
    <i class="sprite spritesheet-ciclos ciclos-info right"></i>
    <i class="sprite spritesheet-ciclos ciclos-power right"></i>
  </div>

  <div class="content clearfix">



    <div class="main-content clearfix padding">




      <div class="content-input clearfix">
        <input class="procure-input" placeholder="Procurar questões"/><i class="spritesheet-resolucao sprite resolucao-lupa"></i>
        <p class="text-gray text-left">
          Para encontrar rapidamente uma questão, digite parte do enunciado no quadro acima
        </p>
      </div>

      <h2 class="content-title full block" style="text-align: left !important; margin-top: 10px !important;">Resultado da busca - <b class="no-transform">12 questões encontradas</b></h2>

    </div>

    <div class="box-resultado clearfix">
      <span class="subtitle no-transform">BANCA | Nome do Concurso | Ano</span>
      <p class="enunciado clearfix">
        Aqui vai o enunciado da questão com quantidade limitada de caracteres, ao clicar abre o caderno ...
      </p>
      <i class="sprite spritesheet-resolucao resolucao-estatistica left"></i>
      <span class="right no-margin right block">adicionar aos favoritos</span>
      <i class="sprite spritesheet-resolucao resolucao-fav right"></i>
      <p class="text-green left block">
        Você respondeu essa questão 10 vezes. Seu desempenho é de 60%
      </p>
      <p class="text-gray left block">
        <b>2.356 concurseiros</b> já resolveram essa questão. Desempenho médio: <b>85%</b>
      </p>
      <p class="text-gray left block">
        <b>45 dos seus amigos</b> já resolveram essa questão. Desempenho médio: <b>85%</b>
      </p>
      <p class="text-gray left block">
        <b>1.200 concorrentes diretos</b> já resolveram essa questão. Desempenho médio: <b>85%</b>
      </p>
    </div>

    <div class="box-resultado clearfix">
      <span class="subtitle no-transform">BANCA | Nome do Concurso | Ano</span>
      <p class="enunciado clearfix">
        Aqui vai o enunciado da questão com quantidade limitada de caracteres, ao clicar abre o caderno ...
      </p>
      <i class="sprite spritesheet-resolucao resolucao-estatistica left"></i>
      <span class="right no-margin right block">adicionar aos favoritos</span>
      <i class="sprite spritesheet-resolucao resolucao-fav right"></i>
      <p class="text-green left block">
        Você respondeu essa questão 10 vezes. Seu desempenho é de 60%
      </p>
      <p class="text-gray left block">
        <b>2.356 concurseiros</b> já resolveram essa questão. Desempenho médio: <b>85%</b>
      </p>
      <p class="text-gray left block">
        <b>45 dos seus amigos</b> já resolveram essa questão. Desempenho médio: <b>85%</b>
      </p>
      <p class="text-gray left block">
        <b>1.200 concorrentes diretos</b> já resolveram essa questão. Desempenho médio: <b>85%</b>
      </p>
    </div>

  </div>



  </ion-content>
</ion-view>
