<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="ciclos">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div class="header-ciclos clearfix">
      <a id="logo-resolucao" class="sprite spritesheet-resolucao resolucao-logo" href="#">resolucao de questoes</a>
      <i class="fa fa-share fa-share-branco right" aria-hidden="true" style="font-size: 30px; color: transparent; margin: 10px 0 0 20px"></i>
      <i class="sprite spritesheet-ciclos ciclos-power right"></i>
    </div>
    <div class="content clearfix">
      <div class="main-content clearfix padding">
        <br />
        <h2 class="content-title full block left">RANKING DE QUESTÕES</h2>
        <p class="center-text text-app" style="    font-size: 12px;    line-height: 11px;    text-align: left;    font-weight: bold;">
          1.350 CONCURSEIROS PARTICIPANDO
          <br />
        </p>
        <button class="botao botao-ver-posicao botao-azulclaro right margin-bottom" style="    position: absolute;
    top: 143px;
    right: 0;
    font-size: 10px;
    line-height: 10px;
    padding: 0px 22px;
    height: 38px;">Mostrar</button>
        <div class="posicao-atual clearfix left">
          <span class="left block">RANKING ATUAL</span>
          <i class="sprite spritesheet-ciclos ciclos-posicao right">13º</i>
        </div>
      </div>
      <div class="clearfix margin-top margin-bottom" style="margin-top: 50px !important;">
        <!-- <span class="subtitle padding">Metas Parciais</span> -->
        <div class="tabela-tab clearfix margin-top tabela11">
          <div class="tab-linha clearfix">
            <ul class="tab-menu clearfix">
              <!-- <li class="tab-menu-item balizador">Matérias</li> -->
              <li class="tab-menu-item" ng-click="tabClick('t1')" ng-class="{'active' : tabActive == 't1' || tabActive == ''}"><span class="twolines">Total de Horas Estudadas</span></li>
              <li class="tab-menu-item" ng-click="tabClick('t2')" ng-class="{'active' : tabActive == 't2'}"><span>Horas de Teoria</span></li>
              <li class="tab-menu-item" ng-click="tabClick('t3')" ng-class="{'active' : tabActive == 't3'}"><span>Horas</span></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="coluna coluna-fixed" id="col-materia" style="width: calc(100% - 116px) !important">
              <div class="linha odd clearfix fnd-yellow">
                <span class="primeiro left">1º <i class="sprite spritesheet-ciclos ciclos-crown right"></i></span>
                <div class="user left clearfix">
                  <div class="user-img">
                  </div>
                </div>
                <span class="name-user left">George Firmino</span>
                <i class="sprite spritesheet-ciclos ciclos-icon left"></i>
                <span class="user-pct left">75%</span>
                <i class="sprite spritesheet-ciclos ciclos-add left"></i>
              </div>
              <div class="linha clearfix even">
                <span class="primeiro left">12º</span>
                <div class="user left clearfix">
                  <div class="user-img">
                  </div>
                </div>
                <span class="name-user left">George Firmino</span>
                <i class="sprite spritesheet-ciclos ciclos-icon left"></i>
                <span class="user-pct left">75%</span>
                <i class="sprite spritesheet-ciclos ciclos-add left"></i>
              </div>
              <div class="linha clearfix odd">
                <span class="primeiro left">12º</span>
                <div class="user left clearfix">
                  <div class="user-img">
                  </div>
                </div>
                <span class="name-user left">George Firmino</span>
                <i class="sprite spritesheet-ciclos ciclos-icon left"></i>
                <span class="user-pct left">75%</span>
                <i class="sprite spritesheet-ciclos ciclos-add left"></i>
              </div>
              <div class="linha clearfix even">
                <span class="primeiro left">12º</span>
                <div class="user left clearfix">
                  <div class="user-img">
                  </div>
                </div>
                <span class="name-user left">George Firmino</span>
                <i class="sprite spritesheet-ciclos ciclos-icon left"></i>
                <span class="user-pct left">75%</span>
                <i class="sprite spritesheet-ciclos ciclos-add left"></i>
              </div>
              <div class="linha clearfix odd">
                <span class="primeiro left">12º</span>
                <div class="user left clearfix">
                  <div class="user-img">
                  </div>
                </div>
                <span class="name-user left">George Firmino</span>
                <i class="sprite spritesheet-ciclos ciclos-icon left"></i>
                <span class="user-pct left">75%</span>
                <i class="sprite spritesheet-ciclos ciclos-add left"></i>
              </div>
              <div class="linha clearfix even">
                <span class="primeiro left">12º</span>
                <div class="user left clearfix">
                  <div class="user-img">
                  </div>
                </div>
                <span class="name-user left">George Firmino</span>
                <i class="sprite spritesheet-ciclos ciclos-icon left"></i>
                <span class="user-pct left">75%</span>
                <i class="sprite spritesheet-ciclos ciclos-add left"></i>
              </div>
            </div>
            <div class="coluna coluna-movel" id="t1" style="width: 116px !important" ng-show="tabActive == 't1' || tabActive == ''">
              <div class="linha odd fnd-yellow">235</div>
              <div class="linha even">152</div>
              <div class="linha odd">152</div>
              <div class="linha even">152</div>
              <div class="linha odd">152</div>
              <div class="linha even">152</div>
            </div>
            <div class="coluna coluna-movel" id="t2" style="width: 116px !important" ng-show="tabActive == 't2'">
              <div class="linha odd fnd-yellow">235</div>
              <div class="linha even">12</div>
              <div class="linha odd">15</div>
              <div class="linha even">2</div>
              <div class="linha odd">12</div>
              <div class="linha even">2</div>
            </div>
            <div class="coluna coluna-movel" id="t3" style="width: 116px !important" ng-show="tabActive == 't3'">
              <div class="linha odd fnd-yellow">235</div>
              <div class="linha even">152</div>
              <div class="linha odd">20</div>
              <div class="linha even">20</div>
              <div class="linha odd">15</div>
              <div class="linha even">52</div>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
