<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="resolucao">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="true">
    <div class="header-ciclos clearfix">
      <a id="logo-resolucao" class="sprite spritesheet-resolucao resolucao-logo" href="#">resolucao de questoes</a>
      <i class="fa fa-share fa-share-branco right" aria-hidden="true" style="font-size: 30px; color: transparent; margin: 10px 0 0 20px"></i>
      <i class="sprite spritesheet-ciclos ciclos-power right"></i>
    </div>
    <div class="content clearfix">
      <div class="main-content clearfix padding">
        <h2 class="content-title full block">Estatísticas</h2>
        <div class="content-input clearfix">
          <select>
            <option>Média dos usuários</option>
          </select>
        </div>
      </div>
      <ul class="ul-aba clearfix">
        <li class="active">
          POR MATÉRIA
        </li>
        <li>
          POR PERIODO
        </li>
        <li>
          POR BANCA
        </li>
        <li>
          POR CADERNO
        </li>
      </ul>
      <div class="box-abas clearfix shadow margin-bottom">
        <div class="aba-content clearfix margin-top">
          <span class="subtitle block left">NOME DA MATÉRIA</span>
          <div class="spacer left"></div>
          <i class="sprite spritesheet-resolucao resolucao-down right no-margin-right" style="margin-top: 4px;"></i>
          <div class="top-destaque clearfix left full margin-top">
            <div class="materias-cadastradas clearfix ">
              <span class="materias no-margin-top fnd-oceanblue">Quantidade de questões resolvidas
                <span class="seta-direita"></span>
              </span>
              <span class="qtd-cadastrada">10 questões</span>
            </div>
            <div class="materias-cadastradas clearfix ">
              <span class="materias no-margin-top fnd-green">Quantidade de acertos
                <span class="seta-direita"></span>
              </span>
              <span class="qtd-cadastrada">10 questões</span>
            </div>
            <div class="materias-cadastradas clearfix fnd-azulescuro">
              <span class="materias no-margin-top fnd-red">Quantidade de erros
                <span class="seta-direita"></span>
              </span>
              <span class="qtd-cadastrada">10 questões</span>
            </div>
            <div class="materias-cadastradas clearfix fnd-azulsemiescuro">
              <span class="materias no-margin-top">% de desempenho (acertos/total)
                <span class="seta-direita"></span>
              </span>
              <span class="qtd-cadastrada">10 questões</span>
            </div>
          </div>
        </div>
        <div class="aba-content clearfix margin-top">
          <span class="subtitle block left">NOME DA MATÉRIA</span>
          <div class="spacer left"></div>
          <i class="sprite spritesheet-resolucao resolucao-top right no-margin-right" style="margin-top: 4px;"></i>
          <!-- <div class="top-destaque clearfix left full margin-top">
            <div class="materias-cadastradas clearfix ">
              <span class="materias no-margin-top fnd-oceanblue">Quantidade de questões resolvidas<span class="seta-direita"></span></span>
              <span class="qtd-cadastrada">10 questões</span>
            </div>
            <div class="materias-cadastradas clearfix ">
              <span class="materias no-margin-top fnd-green">Quantidade de acertos <span class="seta-direita"></span></span>
              <span class="qtd-cadastrada">10 questões</span>
            </div>
            <div class="materias-cadastradas clearfix fnd-azulescuro">
              <span class="materias no-margin-top fnd-red">Quantidade de erros <span class="seta-direita"></span></span>
              <span class="qtd-cadastrada">10 questões</span>
            </div>
            <div class="materias-cadastradas clearfix fnd-azulsemiescuro">
              <span class="materias no-margin-top">% de desempenho (acertos/total) <span class="seta-direita"></span></span>
              <span class="qtd-cadastrada">10 questões</span>
            </div>
        </div> -->
        </div>
        <div class="aba-content clearfix margin-top">
          <span class="subtitle block left">NOME DA MATÉRIA</span>
          <div class="spacer left"></div>
          <i class="sprite spritesheet-resolucao resolucao-top right no-margin-right" style="margin-top: 4px;"></i>
          <!-- <div class="top-destaque clearfix left full margin-top">
            <div class="materias-cadastradas clearfix ">
              <span class="materias no-margin-top fnd-oceanblue">Quantidade de questões resolvidas<span class="seta-direita"></span></span>
              <span class="qtd-cadastrada">10 questões</span>
            </div>
            <div class="materias-cadastradas clearfix ">
              <span class="materias no-margin-top fnd-green">Quantidade de acertos <span class="seta-direita"></span></span>
              <span class="qtd-cadastrada">10 questões</span>
            </div>
            <div class="materias-cadastradas clearfix fnd-azulescuro">
              <span class="materias no-margin-top fnd-red">Quantidade de erros <span class="seta-direita"></span></span>
              <span class="qtd-cadastrada">10 questões</span>
            </div>
            <div class="materias-cadastradas clearfix fnd-azulsemiescuro">
              <span class="materias no-margin-top">% de desempenho (acertos/total) <span class="seta-direita"></span></span>
              <span class="qtd-cadastrada">10 questões</span>
            </div>
        </div> -->
        </div>
      </div>
      <div class="box-balao clearfix margin-top left">
        <button class="botao botao-amarelo half left">Questões
          <br />Favoritas</button>
        <button class="botao botao-amarelo half right no-margin-right">Leaderboard</button>
        <div class="balao-div clearfix left half">
          <div class="ballao clearfix">
            <div class="ballao-content clearfix azulescuro">
              <span class="num-ballao">235</span>
              <div class="spacer-white"></div>
              <span class="seta-baixo"></span>
            </div>
            <button class="botao azulescuro full">QuestÕES
              <br />Respondidas</button>
          </div>
        </div>
        <div class="balao-div clearfix right no-margin-right half">
          <div class="ballao clearfix">
            <div class="ballao-content clearfix verdeclaro">
              <span class="num-ballao">235</span>
              <div class="spacer-white"></div>
              <span class="seta-baixo"></span>
            </div>
            <button class="botao verdeclaro full">QuestÕES
              <br />Respondidas</button>
          </div>
        </div>
        <div class="balao-div clearfix left half">
          <div class="ballao clearfix">
            <div class="ballao-content clearfix vermelho">
              <span class="num-ballao">235</span>
              <div class="spacer-white"></div>
              <span class="seta-baixo"></span>
            </div>
            <button class="botao vermelho full">QuestÕES
              <br />Respondidas</button>
          </div>
        </div>
        <div class="balao-div clearfix right no-margin-right half margin-bottom">
          <div class="ballao clearfix">
            <div class="ballao-content clearfix azulclaro">
              <span class="num-ballao">235</span>
              <div class="spacer-white"></div>
              <span class="seta-baixo"></span>
            </div>
            <button class="botao azulclaro full">QuestÕES
              <br />Respondidas</button>
          </div>
        </div>
        <button class="botao azulclaro full margin-top">voltar</button>
      </div>
    </div>
  </ion-content>
</ion-view>
