<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="resolucao">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <div class="header-ciclos clearfix">
            <a id="logo-resolucao" class="sprite spritesheet-resolucao resolucao-logo" href="#">resolucao de questoes</a>
            <i class="fa fa-share fa-share-branco right" aria-hidden="true" style="font-size: 30px; color: transparent; margin: 10px 0 0 20px"></i>
      <i class="sprite spritesheet-ciclos ciclos-power right"></i>
        </div>

        <div class="content clearfix">
            <div class="top-destaque clearfix padding">
                <i class="sprite spritesheet-resolucao resolucao-cabeca center margin-top"></i>
                <p class="text-green center-text">
                    600.000 questões de concursos
                </p>
            </div>

            <div class="main-content clearfix padding">
                <p class="center-text text-app">
                    Bem-vindo(a) ao aplicativo de resolução de questões. Nele é possível resolver e comentar questões, além de aprender por meio dos comentários de professores e outros concurseiros.
                </p>
                <div class="content-input">
                    <input class="procure-input" placeholder="Procurar questões" /><i class="spritesheet-resolucao sprite resolucao-lupa"></i>
                    <p class="text-gray text-left">
                        Para encontrar rapidamente uma questão, digite parte do enunciado no quadro acima
                    </p>
                    <button class="botao botao-azulescuro left half">MONTAR SIMULADO</button>
                    <button class="botao botao-azulclaro right no-margin-right half">VER MINHAS ESTATISTICAS</button>
                </div>
            </div>


        </div>



    </ion-content>
</ion-view>