<ion-view title="ciclos-de-estudos" hide-nav-bar="false" id="resolucao" class="resolucao21">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <ion-scroll delegate-handle="scroller" on-scroll="checkScroll()" direction="y" style="width: 100%; height: 100%">
      <div class="header-ciclos clearfix">
        <a id="logo-resolucao" class="sprite spritesheet-resolucao resolucao-logo" href="#">resolucao de questoes</a>
        <i class="sprite spritesheet-ciclos ciclos-info right"></i>
        <i class="sprite spritesheet-ciclos ciclos-power right"></i>
      </div>
      <div class="content clearfix">
        <div class="main-content clearfix padding">
          <h2 class="content-title full block">Caderno de questões <br />Nome do simulado</h2>
          <div class="left clearfix cronometro" style="width: 100%;">
            <ul class="clearfix left relative option-question no-margin full">
              <li class="clearfix bottom" style="margin-top: 10px">
                <a class="sprite sprite4 sprite-play_app"></a>
              </li>
              <li class="clearfix bottom" style="margin-top: 10px">
                <a class="sprite sprite4 sprite-stop_app"></a>
              </li>
              <li class="clearfix bottom">
                <a class="sprite sprite4 sprite-relogio_app"></a>
              </li>
              <li class="clearfix bottom">
                <span style="color: #1e9ec5; font-size: 28px;">00:00:00</span>
              </li>
            </ul>
            <p class="text-gray" style="text-align: center;font-size: 11px;text-transform: uppercase;font-weight: 400;">
              Você respondeu 20 de 100 questões.
            </p>
          </div>
          <!-- <p class="center-text text-app">
        Bem-vindo(a) ao aplicativo de resolução de questões. Nele é possível resolver e comentar questões, além de aprender por meio dos comentários de professores e outros concurseiros.
      </p> -->
        </div>
        <div class="box-questao clearfix">
          <div class="topo-questao clearfix padding">
            <span class="subtitle block left">QUESTÃO 1 de 100</span>
            <i class="sprite spritesheet-resolucao resolucao-fav left"></i>
            <i class="sprite spritesheet-resolucao resolucao-chart left"></i>
            <i class="sprite spritesheet-resolucao resolucao-face right"></i>
            <i class="sprite spritesheet-resolucao resolucao-twitter right"></i>
            <i class="sprite spritesheet-resolucao resolucao-linkedin right"></i>
            <i class="sprite spritesheet-resolucao resolucao-google right"></i>
          </div>
          <div class="question-content clearfix">
            <div class="clearfix padding">
              <p class="uppercase text-app text-gray">
                Matéria: <b>NOME DA MATéria</b>
                <br /> Assunto: <b>NOME Do assunto</b>
                <br />
                <br /> BANCA | 2010 | <b>NOME DO CONCURSO CADASTRADO</b>
              </p>
              <p class="text-question text-gray text-indent">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget odio lacinia, semper purus sit amet, tempor mi. Donec eu cursus libero, eu malesuada odio. Ut dapibus odio quis odio tincidunt dapibus. Nulla ut auctor diam. Etiam pellentesque enim turpis, ut finibus velit dapibus in. Integer egestas velit sit amet lectus maximus, non facilisis tortor vehicula.
                <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget odio lacinia, semper purus sit amet, tempor mi. Donec eu cursus libero, eu malesuada odio. Ut dapibus odio quis odio tincidunt dapibus. Nulla ut auctor diam. Etiam pellentesque enim turpis, ut finibus velit dapibus in. Integer egestas velit sit amet lectus maximus, non facilisis tortor vehicula.
              </p>
              <div class="option-group sexo full">
                <ul class="payment-methods clearfix left">
                  <li class="payment-method certo clearfix">
                    <input name="payment_methods" type="radio" id="certo">
                    <label for="certo">
                      <i class="sprite sprite4 sprite-radio_button left"></i>
                      <span class="block left">Certo</span>
                    </label>
                  </li>
                  <li class="payment-method errado clearfix">
                    <input name="payment_methods" type="radio" id="errado">
                    <label for="errado">
                      <i class="sprite sprite4 sprite-radio_button left"></i>
                      <span class="block left">Errado</span>
                    </label>
                  </li>
                </ul>
              </div>
              <button class="botao botao-azulclaro half left">Responder</button>
              <button class="botao botao-darkgreen right no-margin no-transform">Gabarito: B</button>
              <button class="botao botao-darkgreen right no-margin no-transform">Você acertou!</button>
              <div class="buttons-group clearfix">
                <div class="bottom-buttons btn-pdf" style="right: 15px;">
                  <i class="sprite spritesheet-resolucao resolucao-check"></i>
                </div>
                <div class="bottom-buttons btn-pdf botao-azulescuro" style="right: 75px;">
                  <i class="sprite spritesheet-resolucao resolucao-seta-direita"></i>
                </div>
                <div class="bottom-buttons btn-pdf botao-azulescuro" style="right: 135px;">
                  <i class="sprite spritesheet-resolucao resolucao-seta-esquerda"></i>
                </div>
                <div class="bottom-buttons btn-pdf botao-vermelho" style="left: 15px;">
                  <i class="sprite spritesheet-resolucao resolucao-warning"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
