<ion-view title="Tutoriais" hide-nav-bar="false" id="tutoriais" class="pg-interna">
  <ion-content padding="false" class="manual-ios-statusbar-padding" id="content-middle">
    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down">
    </ion-refresher>
    <div class="box-interesses clearfix">
      <h5 class="bigtitle">Tutoriais em vídeo</h5>
      <p class="main-text padding">
        Aprenda a utilizar todas as funcionalidades do e-concurseiro de forma rápida e simples: por meio de vídeos explicativos. Tods os elementos, aplicativos e formas de interação da nossa rede social são esclarecidas de forma prática.</br></br>
        Você encontra nossos vídeos tutoriais espalhados em vários pontos da rede, identificados pelo ícone.</br></br>
        Tem alguma dúvida? Assista aos vídeos correspondente e ela deixará de existir!

      </p>
      <div class="search" style="margin: 0; position: relative; width: 100%">
        <input placeholder="Digite o assunto da sua dúvida" type="text" style="width: 269px;">
        <i class="sprite sprite-lupa" style="width: 27px;height: 27px;background-position: -232px -279px;position: absolute;top: 14px;left: 253px;"></i>
      </div>
      <div class="box-interesse clearfix ">
        <span class="subtitle padding">Como publicar na rede</span>
        <div class="box-videos">
          <iframe width="100%" height="258" src="https://www.youtube.com/embed/2RpfqqOwltU" frameborder="0" allowfullscreen></iframe>
          <span class="video-number">01</span>
          <span class="video-name">Aprendendo a publicar de forma rápida.</span>
        </div>
        <div class="box-videos">
          <iframe width="100%" height="258" src="https://www.youtube.com/embed/2RpfqqOwltU" frameborder="0" allowfullscreen></iframe>
          <span class="video-number">01</span>
          <span class="video-name">Aprendendo a publicar de forma rápida.</span>
        </div>
        <div class="box-videos">
          <iframe width="100%" height="258" src="https://www.youtube.com/embed/2RpfqqOwltU" frameborder="0" allowfullscreen></iframe>
          <span class="video-number">01</span>
          <span class="video-name">Aprendendo a publicar de forma rápida.</span>
        </div>
        <div class="box-videos">
          <iframe width="100%" height="258" src="https://www.youtube.com/embed/2RpfqqOwltU" frameborder="0" allowfullscreen></iframe>
          <span class="video-number">01</span>
          <span class="video-name">Aprendendo a publicar de forma rápida.</span>
        </div>
        <div class="box-videos">
          <iframe width="100%" height="258" src="https://www.youtube.com/embed/2RpfqqOwltU" frameborder="0" allowfullscreen></iframe>
          <span class="video-number">01</span>
          <span class="video-name">Aprendendo a publicar de forma rápida.</span>
        </div>
        <div class="box-videos">
          <iframe width="100%" height="258" src="https://www.youtube.com/embed/2RpfqqOwltU" frameborder="0" allowfullscreen></iframe>
          <span class="video-number">01</span>
          <span class="video-name">Aprendendo a publicar de forma rápida.</span>
        </div>
      </div>
    </div>


    <br />
  </ion-content>
</ion-view>
