<ion-view title="Visão Professor" hide-nav-bar="false" id="visao-professor" class="pg-interna visao-visitante">


  <ion-content padding="false" class="manual-ios-statusbar-padding" id="content-middle">
    <ion-refresher pulling-text="Solte para atualizar..." on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down">
    </ion-refresher>
    <div class="grid_12 no-margin">
      <div class="grid_100">
        <div class="img-topo" style="background-image: url('banners/topo-professor.jpg'); position: relative;">
          <i class="sprite sprite-cam_icon_gd"></i>
        </div>
      </div>
      <div class="grid_4" id="content-left">
        <div class="channel-info shadow">
          <div class="profile-img" style="background-image: url('img/adam.jpg')"></div>
          <h3 class="usr-name">George Firmino</h3>
          <span class="usr-nivel">Nível 5</span>
        </div>
      </div>
      <div class="grid_8" id="content-middle">
        <div class="pag-option clearfix">
          <button class="btn bgr-yellow btn-meus_cursos"><i class="sprite sprite2 sprite-btn_cursos"></i>
            <span class="menu-name">Cursos</span>
          </button>
          <button class="btn btn-blue btn-follow"><i class="sprite sprite2 sprite-follow"></i>
            <span class="menu-name">Seguir</span>
          </button>
          <button class="btn btn-blue btn-msg"><i class="sprite sprite2 sprite-msg-pq"></i>
            <span class="menu-name">Mensagem</span>
            <div class="alert-icon">10</div>
          </button>
          <button class="btn btn-blue btn-eventos"><i class="sprite sprite2 sprite-eventos"></i>
            <span class="menu-name">Eventos</span>
          </button>
        </div>
        <div class="box-interesse">
          <h5 class="bigtitle">MEUS CURSOS ONLINE</h5>
          <button class="btn full btn-green">CADASTRAR NOVO CURSO</button>
          <button class="btn full bgr-oceanblue margin-top">Avaliações dos cursos</button>
          <div class="cursos-ativos clearfix full left margin-top margin-bottom">
            <span class="smalltitle padding">Cursos Ativos</span>
            <div class="box-meus-cursos clearfix margin-top">
              <span class="block full bgr-darkgray uppercase">Nome do curso cadastrado na área administrativa</span>
              <span class="block full bgr-lightgray relative">
                <span><b>Alunos:</b> 10.000</span>
                <span><b>Expira em:</b> 00/00/0000</span>
                <i class="sprite sprite2 sprite-aulas" style="    top: 8px;    position: absolute;    right: 15px;"></i>
                <i class="sprite sprite2 sprite-editar " style="    top: 8px;    position: absolute;    right: 45px;"></i>
                <i class="sprite sprite2 sprite-msg_blue" style="    top: 10px;    position: absolute;    right: 90px;"></i>
              </span>
            </div>
            <div class="box-meus-cursos clearfix margin-top">
              <span class="block full bgr-darkgray uppercase">Nome do curso cadastrado na área administrativa</span>
              <span class="block full bgr-lightgray relative">
                <span><b>Alunos:</b> 10.000</span>
                <span><b>Expira em:</b> 00/00/0000</span>
                <i class="sprite sprite2 sprite-aulas" style="    top: 8px;    position: absolute;    right: 15px;"></i>
                <i class="sprite sprite2 sprite-editar " style="    top: 8px;    position: absolute;    right: 45px;"></i>
                <i class="sprite sprite2 sprite-msg_blue" style="    top: 10px;    position: absolute;    right: 90px;"></i>
              </span>
            </div>
            <div class="box-meus-cursos clearfix margin-top">
              <span class="block full bgr-darkgray uppercase">Nome do curso cadastrado na área administrativa</span>
              <span class="block full bgr-lightgray relative">
                <span><b>Alunos:</b> 10.000</span>
                <span><b>Expira em:</b> 00/00/0000</span>
                <i class="sprite sprite2 sprite-aulas" style="    top: 8px;    position: absolute;    right: 15px;"></i>
                <i class="sprite sprite2 sprite-editar " style="    top: 8px;    position: absolute;    right: 45px;"></i>
                <i class="sprite sprite2 sprite-msg_blue" style="    top: 10px;    position: absolute;    right: 90px;"></i>
              </span>
            </div>
          </div>
          <div class="cursos-ativos clearfix full left margin-top expirados margin-bottom">
            <span class="smalltitle padding">Cursos Expirados</span>
            <div class="box-meus-cursos clearfix margin-top">
              <span class="block full bgr-darkred uppercase">Nome do curso cadastrado na área administrativa</span>
              <span class="block full bgr-lightred relative">
                <span><b>Alunos:</b> 10.000</span>
                <span><b>Expira em:</b> 00/00/0000</span>
                <i class="sprite sprite2 sprite-alert_blue" style="    top: 10px;   position: absolute;    right: 14px;"></i>
                <i class="sprite sprite2 sprite-aulas " style="    top: 8px;    position: absolute;    right: 45px;"></i>
              </span>
            </div>
            <div class="box-meus-cursos clearfix margin-top">
              <span class="block full bgr-darkred uppercase">Nome do curso cadastrado na área administrativa</span>
              <span class="block full bgr-lightred relative">
                <span><b>Alunos:</b> 10.000</span>
                <span><b>Expira em:</b> 00/00/0000</span>
                <i class="sprite sprite2 sprite-alert_blue" style="    top: 10px;   position: absolute;    right: 14px;"></i>
                <i class="sprite sprite2 sprite-aulas " style="    top: 8px;    position: absolute;    right: 45px;"></i>
              </span>
            </div>
            <div class="box-meus-cursos clearfix margin-top">
              <span class="block full bgr-darkred uppercase">Nome do curso cadastrado na área administrativa</span>
              <span class="block full bgr-lightred relative">
                <span><b>Alunos:</b> 10.000</span>
                <span><b>Expira em:</b> 00/00/0000</span>
                <i class="sprite sprite2 sprite-alert_blue" style="    top: 10px;   position: absolute;    right: 14px;"></i>
                <i class="sprite sprite2 sprite-aulas " style="    top: 8px;    position: absolute;    right: 45px;"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </ion-content>
</ion-view>
