<ion-view title="Visão Professor" hide-nav-bar="false" id="visao-professor" class="pg-interna">
  <ion-content padding="false" class="manual-ios-statusbar-padding" id="content-middle">
    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down">
    </ion-refresher>
    <div class="grid_12 no-margin">
      <div class="grid_100">
        <div class="img-topo" style="background-image: url('banners/topo-professor.jpg'); position: relative;">
          <i class="sprite sprite-cam_icon_gd"></i>
        </div>
      </div>
      <div class="grid_4" id="content-left">
        <div class="channel-info shadow">
          <div class="profile-img" style="background-image: url('img/adam.jpg')"></div>
          <h3 class="usr-name">George Firmino</h3>
          <span class="usr-nivel">Nível 5</span>
          <span class="attribuicoes clearfix"><i class="sprite sprite2 sprite-materias"></i><span class="menu-name">Direito Tributário, Legislação Tributária, Coaching</span></span>
          <i class="sprite sprite5 sprite-minus_gd" ng-show="profExpand == 'true' && profId== 'prof-0'" ng-click='retractProf("prof-0")'></i>
          <i class="sprite sprite5 sprite-plus_gd" ng-show="profExpand == 'false' || profId != 'prof-0'" ng-click='expandProf("prof-0")'></i>
          <div class="box-lista-professor clearfix expandido professor no-padding" ng-show="profId == 'prof-0' && profExpand == 'true'">
            <div class="info-numbers clearfix">
                <span class="box-number no-padding-left"><b>10.123</b> seguidores</span>
                <span class="box-number"><b>58</b> eventos</span>
                <span class="box-number"><b>234</b> vídeos</span>
                <span class="box-number"><b>234</b> vídeos</span>
                <span class="box-number no-padding-right"><b>234</b> vídeos</span>
            </div>
            <div class="avaliacao-alunos clearfix">
                <span class="attribuicoes clearfix"><i class="sprite sprite2 sprite-avaliacao"></i><span class="menu-name">350 avaliações de alunos</span></span>
                <ul class="clearfix">
                    <li>
                        <a href="#" class="no-margin-left">
                            <span class="avaliacao-name">Média Geral</span>
                            <span class="avaliacao-nota geral"><span class="vertical-align">8,2</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="avaliacao-name">Qualidade</span>
                            <span class="avaliacao-nota"><span class="vertical-align">10</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="avaliacao-name">Pontualidade</span>
                            <span class="avaliacao-nota"><span class="vertical-align">6,4</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="avaliacao-name">Fórum</span>
                            <span class="avaliacao-nota"><span class="vertical-align">6,4</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="no-margin-right">
                            <span class="avaliacao-name">Aceitação</span>
                            <span class="avaliacao-nota aceitacao"><span class="vertical-align">100%</span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-info">
                <h5 class="clearfix"><i class="sprite sprite2 sprite-sobre"></i><span class="menu-name">Sobre George Firmino</span></h5>
                <p>
                    Pellentesque vel nisl accumsan, mattis odio non, sodales est. Ut in nulla facilisis, pretium turpis at, ullamcorper urna. Cras non dictum libero, at condimentum felis. Morbi id dictum tellus. Vestibulum vel neque et enim dignissim finibus. In sit amet
                    rhoncus lectus, vitae vehicula felis. Sed facilisis, nisi sed laoreet viverra
                    <br />
                    <br /> Pellentesque vel nisl accumsan, mattis odio non, sodales est. Ut in nulla facilisis, pretium turpis at, ullamcorper urna. Cras non dictum libero, at condimentum felis. Morbi id dictum tellus. Vestibulum vel neque et enim dignissim
                    finibus. In sit amet rhoncus lectus, vitae vehicula felis. Sed facilisis, nisi sed laoreet viverra
                </p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid_8" id="content-middle">

        <div class="pag-option clearfix">
          <button class="btn bgr-yellow btn-meus_cursos"><i class="sprite sprite2 sprite-btn_cursos"></i><span class="menu-name">Cursos</span></button>
          <button class="btn btn-blue btn-financeiro"><i class="sprite sprite2 sprite-financeiro"></i><span class="menu-name">Financeiro</span> <div class="alert-icon">10</div></button>
          <button class="btn btn-blue btn-msg"><i class="sprite sprite2 sprite-msg-pq"></i><span class="menu-name">Mensagem</span><div class="alert-icon">10</div></button>
          <button class="btn btn-blue btn-eventos"><i class="sprite sprite2 sprite-eventos"></i><span class="menu-name">Eventos</span></button>
        </div>



        <div class="box-interesse clearfix padding">
            <h5 class="bigtitle align-left"></h5>
            <div class="list">

              <label class="item item-input item-select">
                <div class="input-label">
                  Vendas de cursos:
                </div>
                <select>
                  <option>Vendas por período</option>
                  <option selected>Listar pagamento</option>
                  <option>Demonstrativo Mensal</option>
                </select>
              </label>

            </div>

            <div class="list">

              <label class="item item-input item-select">
                <div class="input-label">
                  Receitas com anúncios:
                </div>
                <select>
                  <option>Ganho por período</option>
                  <option selected>Demonstrativo mensal</option>
                </select>
              </label>

            </div>
        </div>

        <div class="box-interesse padding">
            <h5 class="bigtitle center-text">Receitas com anúncios - Demonstrativo mensal</h5>


            <div class="box-interesse clearfix financeiro">
                <div class="left same-line select-div">
                    <span class="title-interesse">Mês</span>
                    <div class="select-option">
                        <select class="sprite4 sprite-seta_option">
                            <option>
                                MÊS
                            </option>
                            <option>
                                Teste
                            </option>
                        </select>
                    </div>
                </div>
                <div class="left same-line select-div">
                    <span class="title-interesse">Ano</span>
                    <div class="select-option">
                        <select class="sprite4 sprite-seta_option">
                            <option>
                                ANO
                            </option>
                            <option>
                                Teste
                            </option>
                        </select>
                    </div>
                </div>
                <button class="btn bgr-oceanblue left full">Visualizar demonstrativo</button>
            </div>
            <div class="box-interesse clearfix">
                <span class="bluetitle">Período: Jan/2016</span>
                <i class="sprite sprite-relatorio">Salvar Relatório</i>
                <table class="table-professor">
                  <tr class="topo">
                    <th>Data</th>
                    <th>Visualizações</th>
                    <th>Cliques</th>
                    <th>Ganhos</th>
                  </tr>
                  <tr class="linha odd">
                    <td>00/00/0000</td>
                    <td>15</td>
                    <td>15</td>
                    <td>104,30</td>
                  </tr>
                  <tr class="linha">
                    <td>00/00/0000</td>
                    <td>15</td>
                    <td>15</td>
                    <td>104,30</td>
                  </tr>
                  <tr class="linha odd">
                    <td>00/00/0000</td>
                    <td>15</td>
                    <td>15</td>
                    <td>104,30</td>
                  </tr>
                  <tr class="linha">
                    <td>00/00/0000</td>
                    <td>15</td>
                    <td>15</td>
                    <td>104,30</td>
                  </tr>
                  <tr class="footer">
                    <th>Total</th>
                    <th>60</th>
                    <th>60</th>
                    <th>600,00</th>
                  </tr>
                </table>
            </div>


        </div>
      </div>
    </div>

    <br />
  </ion-content>
</ion-view>
