<ion-view title="Visão Professor" hide-nav-bar="false" id="visao-professor" class="pg-interna visao-visitante">
  <ion-content padding="false" class="manual-ios-statusbar-padding" id="content-middle">
    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down">
    </ion-refresher>
    <style> 
      .status{
        position: relative !important;
      }
      .status i.left{
        position: absolute;
        left: -25px;
        top: -18px;
      }
      .status i.right{
        position: absolute;
        right: -4px;
        top: -18px;
      }
      .msg-total .menu-alert{
        right: 5px;
      }
      .info-medal .status-bar-container{
        position: relative !important
      }
     
    </style>
    <div class="grid_12 no-margin">
      <div class="grid_100">
        <div class="img-topo" style="background-image: url('banners/topo-professor.jpg'); position: relative;">
          <i class="sprite sprite-cam_icon_gd"></i>
        </div>
      </div>
      <div class="grid_4" id="content-left">
        <div class="channel-info shadow">
          <div class="profile-img" style="background-image: url('img/adam.jpg')"></div>
          <h3 class="usr-name">George Firmino</h3>
          <span class="usr-nivel">Nível 5</span>
          <span class="attribuicoes clearfix"><i class="sprite sprite2 sprite-materias"></i><span class="menu-name">Direito Tributário, Legislação Tributária, Coaching</span></span>
          <i class="sprite sprite5 sprite-minus_gd" ng-show="profExpand == 'true' && profId== 'prof-0'" ng-click='retractProf("prof-0")'></i>
          <i class="sprite sprite5 sprite-plus_gd" ng-show="profExpand == 'false' || profId != 'prof-0'" ng-click='expandProf("prof-0")'></i>
          <div class="box-lista-professor clearfix expandido professor no-padding" ng-show="profId == 'prof-0' && profExpand == 'true'">
            <div class="info-numbers clearfix">
                <span class="box-number no-padding-left"><b>10.123</b> seguidores</span>
                <span class="box-number"><b>58</b> eventos</span>
                <span class="box-number"><b>234</b> vídeos</span>
                <span class="box-number"><b>234</b> vídeos</span>
                <span class="box-number no-padding-right"><b>234</b> vídeos</span>
            </div>
            <div class="avaliacao-alunos clearfix">
                <span class="attribuicoes clearfix"><i class="sprite sprite2 sprite-avaliacao"></i><span class="menu-name">350 avaliações de alunos</span></span>
                <ul class="clearfix">
                    <li>
                        <a href="#" class="no-margin-left">
                            <span class="avaliacao-name">Média Geral</span>
                            <span class="avaliacao-nota geral"><span class="vertical-align">8,2</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="avaliacao-name">Qualidade</span>
                            <span class="avaliacao-nota"><span class="vertical-align">10</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="avaliacao-name">Pontualidade</span>
                            <span class="avaliacao-nota"><span class="vertical-align">6,4</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="avaliacao-name">Fórum</span>
                            <span class="avaliacao-nota"><span class="vertical-align">6,4</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="no-margin-right">
                            <span class="avaliacao-name">Aceitação</span>
                            <span class="avaliacao-nota aceitacao"><span class="vertical-align">100%</span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-info">
                <h5 class="clearfix"><i class="sprite sprite2 sprite-sobre"></i><span class="menu-name">Sobre George Firmino</span></h5>
                <p>
                    Pellentesque vel nisl accumsan, mattis odio non, sodales est. Ut in nulla facilisis, pretium turpis at, ullamcorper urna. Cras non dictum libero, at condimentum felis. Morbi id dictum tellus. Vestibulum vel neque et enim dignissim finibus. In sit amet
                    rhoncus lectus, vitae vehicula felis. Sed facilisis, nisi sed laoreet viverra
                    <br />
                    <br /> Pellentesque vel nisl accumsan, mattis odio non, sodales est. Ut in nulla facilisis, pretium turpis at, ullamcorper urna. Cras non dictum libero, at condimentum felis. Morbi id dictum tellus. Vestibulum vel neque et enim dignissim
                    finibus. In sit amet rhoncus lectus, vitae vehicula felis. Sed facilisis, nisi sed laoreet viverra
                </p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid_8" id="content-middle">

        <div class="pag-option clearfix">
          <button class="btn bgr-yellow btn-meus_cursos"><i class="sprite sprite2 sprite-btn_cursos"></i><span class="menu-name">Cursos</span></button>
          <button class="btn btn-blue btn-follow"><i class="sprite sprite2 sprite-follow"></i><span class="menu-name">Seguir</span></button>
          <button class="btn btn-blue btn-msg"><i class="sprite sprite2 sprite-msg-pq"></i><span class="menu-name">Mensagem</span><div class="alert-icon">10</div></button>
          <button class="btn btn-blue btn-eventos"><i class="sprite sprite2 sprite-eventos"></i><span class="menu-name">Eventos</span></button>
        </div>

        <div class="grid_12" id="content-middle">

              <div class="publicacao clearfix no-margin-bottom">
                <h4>Sala de Troféus</h4>
                <h5 class="desc-title">Conquistas como professor</h5>
              </div>

              <div class="box-feed shadow clearfix medalhas medalhas-professor">
                <div class="box-top bgr-mestre">
                  <span class="box-title clearfix"><span class="title-publicacao">MESTRE</span></span>
                  <div class="msg-total right">
                    Medalhas Ganhas:
                    <span class="menu-alert">1</span>
                  </div>
                </div>
                <div class="box-content medals clearfix">
                  <div class="info-medal">
                    <div class="medalhas_conquistadas clearfix">
                      <i class="i-medalhas sprite-social_medal10"></i>
                      <i class="i-medalhas sprite-social_medal7"></i>
                      <i class="i-medalhas sprite-social_medal8"></i>
                    </div>
                  </div>
                </div>
              </div>

              <h5 class="desc-title">Conquistas na rede social</h5>

              <div class="box-feed shadow clearfix medalhas medalhas-professor">
                <div class="box-top bgr-mental">
                  <span class="box-title clearfix"><span class="title-publicacao">MENTAL</span></span>
                  <div class="msg-total right">
                    Medalhas Ganhas:
                    <span class="menu-alert">1</span>
                  </div>
                </div>
                <div class="box-content medals clearfix">
                  <div class="info-medal">

                    <div class="status clearfix center">
                      <i class="i-bonecos boneco2 left"></i>
                      <div class="status-bar-container">
                        <div class="status-bar-preenchimento p1 bgr-oceanblue"></div>
                      </div>
                      <i class="i-bonecos boneco3 right"></i>
                    </div>
                    <div class="medalhas_conquistadas clearfix">
                      <i class="i-medalhas sprite-social_medal10"></i>
                      <i class="i-medalhas sprite-social_medal7"></i>
                      <i class="i-medalhas sprite-social_medal8"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="box-feed shadow clearfix medalhas medalhas-professor">
                <div class="box-top bgr-perseveranca">
                  <span class="box-title clearfix"><span class="title-publicacao">Perseverança</span><span class="data-publicacao-list">00/00/0000</span></span>
                  <div class="msg-total right">
                    Medalhas Ganhas:
                    <span class="menu-alert" style="color: #2aa245">1</span>
                  </div>
                </div>
                <div class="box-content medals clearfix">
                  <div class="info-medal">

                    <div class="status clearfix center">
                      <i class="i-bonecos boneco4 left"></i>
                      <div class="status-bar-container">
                        <div class="status-bar-preenchimento p2 bgr-perseveranca"></div>
                      </div>
                      <i class="i-bonecos boneco5 right"></i>
                    </div>
                    <div class="medalhas_conquistadas clearfix">
                      <i class="i-medalhas sprite-social_medal9"></i>
                      <i class="i-medalhas sprite-social_medal11"></i>
                      <i class="i-medalhas sprite-social_medal15"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="box-feed shadow clearfix medalhas medalhas-professor">
                <div class="box-top bgr-emocional">
                  <span class="box-title clearfix"><span class="title-publicacao">Emocional</span><span class="data-publicacao-list">00/00/0000</span></span>
                  <div class="msg-total right">
                    Medalhas Ganhas:
                    <span class="menu-alert" style="color: #e6515b">1</span>
                  </div>
                </div>
                <div class="box-content medals clearfix">
                  <div class="info-medal">

                    <div class="status clearfix center">
                      <i class="i-bonecos boneco6 left"></i>
                      <div class="status-bar-container">
                        <div class="status-bar-preenchimento p4 bgr-emocional"></div>
                      </div>
                      <i class="i-bonecos boneco8 right"></i>
                    </div>
                    <div class="medalhas_conquistadas clearfix">
                      <i class="i-medalhas sprite-social_medal12"></i>
                      <i class="i-medalhas sprite-social_medal13"></i>
                      <i class="i-medalhas sprite-social_medal14"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="box-feed shadow clearfix medalhas medalhas-professor">
                <div class="box-top bgr-newyellow">
                  <span class="box-title clearfix"><span class="title-publicacao">Social</span><span class="data-publicacao-list">00/00/0000</span></span>
                  <div class="msg-total right">
                    Medalhas Ganhas:
                    <span class="menu-alert" style="color: #ddae18">1</span>
                  </div>
                </div>
                <div class="box-content medals clearfix">
                  <div class="info-medal social">

                    <div class="status clearfix center">
                      <i class="i-bonecos boneco7 left" style="left: 0 !important"></i>
                      <div class="status-bar-container" style="    width: calc(100% - 225px) !important; left: 0 !important">
                        <div class="status-bar-preenchimento p1 bgr-newyellow"></div>
                      </div>
                      <i class="i-bonecos boneco9 right"></i>
                    </div>
                    <div class="medalhas_conquistadas clearfix">
                      <i class="i-medalhas sprite-social_medal1"></i>
                      <i class="i-medalhas sprite-social_medal2"></i>
                      <i class="i-medalhas sprite-social_medal3"></i>
                      <i class="i-medalhas sprite-social_medal6"></i>
                      <i class="i-medalhas sprite-social_medal4"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
  

      </div>

    </div>

    <br />
  </ion-content>
</ion-view>
