<ion-view title="Visão Professor" hide-nav-bar="false" id="visao-professor" class="pg-interna visao-visitante">
  <ion-content padding="false" class="manual-ios-statusbar-padding" id="content-middle">
    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down">
    </ion-refresher>
    <style>
      .overlay{
        background-color: #f1f1f1;
      }
      .overlay .box-feed{
        position: relative;
        top: 0 !important;
        margin-top: 0 !important
      }
      .overlay .meus-cursos-editar{
        width: 100%
      }
      .overlay .meus-cursos-editar input[type="text"]{
        width: 100%;
        background-color: #fff
      }
    </style>
    <div class="grid_12 no-margin">
      <div class="grid_100">
        <div class="img-topo" style="background-image: url('banners/topo-professor.jpg'); position: relative;">
          <i class="sprite sprite-cam_icon_gd"></i>
        </div>
      </div>
      <div class="grid_4" id="content-left">
        <div class="channel-info shadow">
          <div class="profile-img" style="background-image: url('img/adam.jpg')"></div>
          <h3 class="usr-name">George Firmino</h3>
          <span class="usr-nivel">Nível 5</span>
        </div> 
      </div>
      <div class="grid_8" id="content-middle">

        <div class="pag-option clearfix">
          <button class="btn bgr-yellow btn-meus_cursos"><i class="sprite sprite2 sprite-btn_cursos"></i><span class="menu-name">Cursos</span></button>
          <button class="btn btn-blue btn-follow"><i class="sprite sprite2 sprite-follow"></i><span class="menu-name">Seguir</span></button>
          <button class="btn btn-blue btn-msg"><i class="sprite sprite2 sprite-msg-pq"></i><span class="menu-name">Mensagem</span><div class="alert-icon">10</div></button>
          <button class="btn btn-blue btn-eventos"><i class="sprite sprite2 sprite-eventos"></i><span class="menu-name">Eventos</span></button>
        </div>

        
        <div class="grid_12 overlay block clearfix relative" id="content-middle">
          <div class="box-feed clearfix meus-cursos-editar">
                <ul id="expand-list" class="clearfix">
                    <li>
                        <a href="#" class="expand">Editar Videos</a>
                    </li>
                    <li>
                        <a href="#" class="list expand">Nome da Aula</a>
                    </li>
                    <li>
                        <a href="#" class="list expand">Nome do Curso</a>
                    </li>
                </ul>
                <div id="editar-videos">
                    <span class="title-text">Título do Video</span>
                    <input type="text" />
                    <span class="title-text">URL</span>
                    <input type="text" />
                    <button class="btn btn-patblue full" style="margin: 20px 0"><i class="sprite sprite-youtube"></i><span class="menu-name">Adicionar Video</span></button>
                    <div class="video-add left clearfix full">
                        <input type="text" placeholder="introducao.mp4" class="padding"/>
                        <div class="video-btns clearfix">
                            <i class="sprite sprite-video_edit"></i>
                            <i class="sprite sprite-video_del"></i>
                        </div>
                    </div>
                    <div class="video-add left clearfix full">
                        <input type="text" placeholder="introducao.mp4" class="padding"/>
                        <div class="video-btns clearfix">
                            <i class="sprite sprite-video_edit"></i>
                            <i class="sprite sprite-video_del"></i>
                        </div>
                    </div>
                    <button class="btn bgr-oceanblue full" style="margin: 20px 0"><span class="menu-name">Salvar</span></button>
                </div>
            </div>
        </div>


      </div>

    </div>

    <br />
  </ion-content>
</ion-view>
