/* Empty. Add your own CSS if you like */

.bar-oceanblue{
  background: #1e9ec5 !important;
}
#page1{
  top: 44px;
}

#customMenu{
  position: absolute;
  z-index: 1001;
  /* background-color: transparent !important; */
  width: 85%;
}
.has-header {
    top: 44px !important;
}

#content-middle ul.desafios li a{
  padding: 39px 25px 19px !important;
  width: 100%;
  text-align: center;
}
.desafios.rede li a i {
    position: absolute;
    left: 49px !important;
    top: 5px;
}
#content-middle.ionic-scroll{
  background: #f1f1f1;
  top: 45px !important;
}
.side-menu .usuario{
  position: absolute;
}
.side-menu .usr-name{
  position: relative;
  left: 110px;
  text-align: left;
  font-size: 17px;
}
.side-menu .usr-nivel{
  text-align: left;
  position: relative;
  left: 110px;
}
.side-menu .status{
  margin: 40px 0 20px;
}
.tabs-top > .tabs, .tabs.tabs-top{
  top: 0 !important;
}
.pane[hide-nav-bar="true"] .has-tabs-top {
    top: 33px;
}
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 12px;
    left: 11px;
    max-width: 52px;
    max-height: 52px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 72px;
    max-height: 116px;
}
.item-avatar.activated{
  background-color: #fff
}
.label-titulo{
  border: 0;
  background-color: transparent
}
.label-titulo input{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 0px;
  position: relative;
  top: -20px;
  color: #696969;
  font-size: 12px
}
.label-titulo input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #696969;
}
.label-textarea{
width: calc(100% - 14px);
margin: 0 !important;
position: relative;
top: -13px;
left: 14px;
border-color: #eaeaea;
background-color: transparent
}
.label-textarea textarea{background-color: transparent}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7bc6dd;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #7bc6dd;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #7bc6dd;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #7bc6dd;
}
.right{
  float: right !important;
}
.left{
  float: left !important;
}
.bar-oceanblue .item-input{
  background-color: #1e9ec5;
  border: 0;
  border-bottom: 1px solid #7bc6dd;
}
.bar-header.bar-oceanblue label{
  width: 180px
}
.bar-header.bar-oceanblue label input{
  color: #7bc6dd
}
.bar-header.bar-oceanblue .ion-search{
  font-size: 25px;
  color: #fff;
  position: relative;
  left: -10px;
}

.menuheader li{
  display: block;
  float: left;
  margin-right: 5px
}
.menuheader li .icon-apps{
  position: relative;
  top: 6px;
  margin-left: 10px
}
.menuheader li .icon-tutoriais{
  position: relative;
  top: 4px;
  margin-left: 10px
}
/* icones */
.icons{ background-image: url('../img/icons.png'); display: block;}

.tab-item .icon-feed{
  background-position: -8px -31px;
  width: 24px;
  height: 23px !important;
  position: relative;
  top: 13px;
  margin-bottom: 10px;
}
.tab-item-active .icon-feed{
  background-position: -8px -6px;
}

.tab-item .icon-papo{
  background-position: -38px -31px;
  width: 21px;
  height: 22px !important;
  position: relative;
  top: 13px;
  margin-bottom: 10px;
}
.tab-item-active .icon-papo{
  background-position: -38px -6px;
}

.tab-item .icon-desafio{
  background-position: -66px -31px;
  width: 24px;
  height: 23px !important;
  position: relative;
  top: 13px;
  margin-bottom: 10px;
}
.tab-item-active .icon-desafio{
  background-position: -66px -6px;
}

.tab-item .icon-notificacoes{
  background-position: -96px -31px;
  width: 19px;
  height: 23px !important;
  position: relative;
  top: 13px;
  margin-bottom: 10px;
}
.tab-item-active .icon-notificacoes{
  background-position: -96px -6px;
}

.tab-item .icon-msg{
  background-position: -122px -31px;
  width: 28px;
  height: 23px !important;
  position: relative;
  top: 13px;
  margin-bottom: 10px;
}
.tab-item-active .icon-msg{
  background-position: -122px -7px;
}
.icon-apps{
  background-position: -158px -10px;
  width: 23px;
  height: 20px !important;
}
.icon-tutoriais{
  background-position: -190px -10px;
  width: 27px;
  height: 26px !important;
}
.icon-menu_profile{
  background-position: -227px -11px;
width: 43px;
min-height: 23px !important;
position: absolute;
top: 6px;
right: 4px;
cursor: pointer;
}
.menuShow.icon-menu_profile{
  background-position: -227px -34px;
}
a.tab-item span.tab-title{
  display: none !important;
}

.third{
  width: 33.3%;
  margin: 0;
  border: 0;
}

.border-bottom{
  border-bottom: 1px solid #eaeaea;
}
.button{
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 0
}

.button .sprite.sprite-img_pq{
  position: relative;
  top: 12px;
  left: 10px;
}
.button .sprite.sprite-video_pq{
  position: relative;
  top: 14px;
  left: 12px;
}
.button .sprite.sprite-plus_pq{
  position: relative;
  top: 7px;
  left: 12px;
}
.icon-menu_profile{
  z-index: 1003;
  -webkit-transition: right 0.3s; /* Safari */
  transition: right 0.3s;
}
.menuHidden{

  position: absolute;
  z-index: 1000;
  width: 80%;
  height: 100%;
  background-color: #f1f1f1;
  right: -80%;
  -webkit-transition: all 0.3s; /* Safari */
  transition: all 0.3s;

}
div.menuShow{
  right: 0 !important;
  -webkit-box-shadow: -5px 0 3px 0 rgba(0,0,0,0.1);
  box-shadow: -5px 0 3px 0 rgba(0,0,0,0.1);
}
button.menuShow{
  right: 67%;
  -webkit-transition: right 0.3s; /* Safari */
  transition: right 0.3s;
  z-index: 1002;
}
.platform-ios .manual-ios-statusbar-padding{
  padding-top: 0 !important
}
.item-checkbox {
    border: 0;
    background-color: #f1f1f1;
}
.box-interesse-app{
  position: relative;
}
.box-interesse-app input{
  width: 100% !important;
}
.status{
  position: relative;
  margin-top: 17px;
}
.multiplicador{
  position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 83px;
}
.has-no-header{
  top: 0 !important;
}
ion-header-bar{
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
}
.bibliografia input[type="text"]{
  width: 100% !important;
  color: #696969;
  margin-bottom: 10px !important;
}

.bibliografia input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #696969;
}
.bibliografia input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #696969;
}
.bibliografia input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #696969;
}
.bibliografia input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #696969;
}
.bibliografia .box-indicacoes{
  padding: 17px !important;
  border: 1px solid #ccc;
  background-color: #fff;
}
.bibliografia .box-indicacoes .title{
  font: 500 14px 'Muli';
  text-transform: uppercase;
  color: #004570;
}
.bibliografia .box-indicacoes p{
  color: #696969;
}
.bibliografia .box-indicacoes .greentitle{
  color: #9cb83f;
  font: 500 14px 'Muli';
}
.bibliografia .box-materiais{
  margin-top: 30px;
}
.bibliografia .box-materiais p.title{
  font: 500 14px 'Muli';
  text-transform: uppercase;
}
.bibliografia .box-materiais .select-title{
  width: 40%;
  display: block;
  float: left;
  position: relative;
  top: 20px;
  padding: 21.5px 10px;
  background-color: #fff;
}
.bibliografia .box-materiais select{
  width: 60% !important;
  border: 0 !important;
  float: right;
}
.bibliografia .box-materiais .materiais-boxes{
  width: 100%;
}
.bibliografia .box-materiais .materiais-box{
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
  width: 100%
}

.bibliografia .box-materiais .materiais-box img.img-professor{
  height: 98px;
  margin-right: 10px;
  border-radius: 100px;
  background-color: #f1f1f1;
  border: 0 !important
}

.bibliografia .box-materiais .materiais-box p{
  float: left;
}
.bibliografia .box-materiais .materiais-box .material-title{
  font-size: 15px;
}
.bibliografia .box-materiais .materiais-box .material-title b{
  font-size: 15px;
}
.bibliografia .box-materiais .materiais-box .avaliacao b{
  color: #1e9ec5;
  text-transform: uppercase;
}

.materiais-boxes-anuncio .materiais-box img{
  width: 100% !important;
  height: 105px !important;
  margin-bottom: 10px;
}
.materiais-boxes-anuncio .materiais-box .material-title{
  font-weight: bold;
}
.materiais-boxes-anuncio .materiais-box .padrao{
  color: #1e9ec5;
}
.fnt-darkgray{
  color: #696969
}
.fnt-green{
  color: #359d2a ;
}
.fnt-yellow{
  color: #ff9c00
}