@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Muli-ExtraLight.ttf');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Muli-Light.ttf');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Muli.ttf');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Muli-SemiBold.ttf');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Muli-Bold.ttf');
}
.no-transform {
  text-transform: none !important;
}
body {
  background-color: #ffffff;
  font: 400 13px 'Muli';
  outline: none;
}
pre {
  font: 400 13px 'Muli';
}
code {
  font: 400 13px 'Muli';
}
hr {
  border-top-width: 1px;
  border: 0 solid #cccccc;
  clear: both;
  height: 0;
}
a,
button,
div,
h1,
h2,
h3,
h4,
h5,
input,
option,
p,
select,
span,
textarea {
  font: 400 13px 'Muli';
  outline: none;
  text-decoration: none;
}
a {
  color: #696969;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
ol {
  list-style: decimal;
}
ul {
  list-style: none;
}
address,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
table,
ul {
  margin-bottom: 10px;
  outline: none;
}
p {
  color: #004570;
}
span {
  color: #004570;
}
label {
  color: #696969;
  text-decoration: none;
}
b {
  font: 600 13px 'Muli';
}
.bold {
  font-size: 15px;
  font-weight: bold;
}
.link-destaque {
  color: #509d12;
}
.logo {
  background-image: url('../img/logo_concurseiro.jpg');
  background-repeat: no-repeat;
  display: block;
  height: 89px;
  margin-top: 10px;
  text-indent: -9999px;
  width: 384px;
}
input {
  border: 1px solid #e5e5e5;
  color: #696969;
  margin: 10px 0;
  padding: 10px;
}
.input-email {
  width: 355px;
}
.input-senha {
  width: 182px;
}
.btn {
  background-color: rgba(200, 200, 200, 0.3);
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: block;
  float: left;
  font: 500 14px 'Muli';
  margin-right: 10px;
  opacity: 1;
  padding: 7px 10px;
  text-transform: uppercase;
}
.btn:hover {
  opacity: 0.8;
}
.btn-block {
  width: 100%;
}
.btn-blue {
  background-color: #1e9ec5 !important;
}
.btn-patblue {
  background-color: #1a678f !important;
}
.btn-darkblue {
  background-color: #3b5998 !important;
}
.btn-clear {
  background-color: transparent;
  color: #555555;
}
.btn-ok {
  background-color: #95b75d !important;
}
.btn-danger {
  background-color: #b64645 !important;
}
.btn-alert {
  background-color: #f8aa33 !important;
}
.btn-warning {
  background-color: #fde200 !important;
}
.btn-orange {
  background-color: #ff5a00 !important;
}
.btn-green {
  background-color: #4da92c !important;
}
.btn-pagina {
  margin-top: 10px;
  position: relative;
}
.btn-pagina .menu-alert {
  background-color: #ffffff;
  color: #4da92c;
  padding: 2px 3px;
  right: 8px;
  top: 8px;
}
.login-details {
  margin-bottom: 8px;
}
.conectado {
  color: #219cc4;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 11px;
  height: 24px;
  margin-right: 30px;
  padding-top: 3px;
}
.conectado.manter {
  background-image: url("../img/manter_conectado.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-left: 35px;
}
.conectado.manter.active {
  background-position: 0 -27px;
}
.btn-entrar {
  text-transform: uppercase;
  width: 150px;
}
.btn-facebook {
  width: 202px;
  text-transform: none;
}
.btn-tour {
  font-size: 12px;
  width: 200px;
  text-transform: none;
  color: #1e9ec5;
}
.wlc-concurseiro {
  margin-top: 27px;
}
.wlc-concurseiro h2 {
  color: #219cc4;
  text-transform: uppercase;
  font: 500 20px 'Muli';
}
.wlc-concurseiro p {
  text-align: justify;
  font-size: 14px;
}
.site-info {
  margin-top: 65px;
}
.site-info ul li {
  background-image: url('../img/site-details.jpg');
  background-position: 12px 0;
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 60px;
  margin: 0 17px;
  padding-top: 70px;
  text-align: center;
  width: 94px;
}
.site-info ul li .num-info {
  color: #219cc4;
  font-size: 18px;
}
.site-info ul li .data-info {
  color: #696969;
  display: block;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
}
.btn-facebook-cadastro {
  margin-bottom: 10px;
  margin-top: 26px;
  text-transform: none;
  padding: 4px 10px;
}
.cadastro {
  display: block;
  float: left;
  width: 464px;
}
.menu-cadastro {
  margin: 0;
}
.menu-cadastro ul li {
  display: block;
}
.menu-cadastro ul li a.active {
  background-color: #ffffff !important;
}
.menu-cadastro ul li a {
  background-image: url('../img/sprites.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  border-left: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  display: block;
  float: left;
  min-height: 49px;
  padding: 10px;
}
.menu-cadastro ul li:last-child a {
  border-right: 1px solid #eaeaea;
}
.no-cadastro a {
  background-position: 1px -377px !important;
  padding: 16px 10px 1px 58px !important;
}
.no-cadastro a.active {
  background-position: 0 8px !important;
}
.no-cadastro a.active .destaque-cadastro {
  color: #1f91cb;
}
.not-user {
  clear: both;
  display: block;
  float: left;
  font-size: 10px;
}
.destaque-cadastro {
  clear: both;
  color: #696969;
  display: block;
  float: left;
  font-size: 15px;
}
.professores a {
  background-position: 23px -69px !important;
  display: block;
  min-height: 0 !important;
  padding-top: 40px !important;
  text-transform: uppercase;
}
.professores a.active {
  background-position: 23px -312px !important;
}
.anunciantes a {
  background-position: 23px -154px !important;
  display: block;
  min-height: 0 !important;
  padding-top: 40px !important;
  text-transform: uppercase;
}
.anunciantes a.active {
  background-position: 23px -238px !important;
}
ul.menu-cadastro li a {
  background-color: #ededed;
}
.content-cadastro {
  border-top: 0;
  border: 1px solid #eaeaea;
  padding: 33px 10px;
}
.content-cadastro input[type="text"] {
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 340px;
}
.content-cadastro input.senha {
  float: left;
  margin: 0 -7px 10px 40px;
  width: 143px;
}
.content-cadastro input.uf {
  float: left;
  margin: 0 3px 10px 40px;
  width: 30px;
}
.content-cadastro input.cidade {
  float: left;
  margin: 0 0 10px 31px;
  width: 256px;
}
.content-cadastro input.nascimento {
  float: left;
  margin: 0 0 10px 40px;
  width: 180px;
}
.content-cadastro input[type="radio"] {
  margin-left: 5px;
}
.acesso-gratuito {
  display: block;
  margin-bottom: 25px;
  text-align: center;
  color: #696969;
}
.acesso-professores {
  color: #696969;
  display: block;
  font-size: 15px;
  margin: 0 auto 25px;
  text-align: center;
  width: 390px;
}
.text-destaque {
  color: #1e9ec5;
}
.option-group {
  display: block;
  float: left;
  margin-left: 0px;
  padding: 5px;
  width: 130px;
}
.alert {
  color: #696969;
  display: block;
  margin: 14px auto;
  text-align: center;
  width: 360px;
}
.btn-cadastras {
  float: none;
  margin: 0 auto;
  width: 365px;
}
.btn-oceanblue {
  background-color: #004570 !important;
}
.btn-cleanblue {
  background-color: #1a678f;
}
footer {
  margin-top: 30px;
  text-align: center;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  left: 0;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001;
}
.flex {
  -ms-align-items: center;
  -ms-justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  align-items: center;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex !important;
  justify-content: center;
}
.lightbox {
  background-color: #219cc5;
  color: #ffffff;
  display: block;
  font-size: 22px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  text-align: center;
  width: 36%;
}
.lightbox .sprite-reprovar {
  position: absolute;
  right: 7px;
  top: 9px;
}
.lightbox#cadastro-sucesso p {
  color: #ffffff;
  margin: 0;
}
.lightbox#cadastro-sucesso p b {
  color: #ffe400;
}
.copyright {
  background-color: #ededed;
  color: #696969;
  padding: 15px;
}
.direitos {
  color: #696969;
}
.anunciantes-form input {
  text-align: center;
}
#professores {
  display: none;
}
#professores input {
  text-align: center;
}
.icon-2 {
  background-position: -108px 0 !important;
}
.icon-3 {
  background-position: -216px 0 !important;
}
.icon-4 {
  background-position: -323px 0 !important;
}
.icon-5 {
  background-position: -417px 0 !important;
}
.icon-6 {
  background-position: -506px 0 !important;
}
#anunciantes {
  display: none;
}
.sprite {
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  float: left;
}
.sprite-anuncie {
  background-position: -10px -10px;
  height: 41px;
  width: 46px;
}
.sprite-aplicativos {
  background-position: -76px -10px;
  height: 25px;
  width: 30px;
}
.sprite-aprovar {
  background-position: -126px -10px;
  height: 26px;
  width: 26px;
}
.sprite-aprove {
  background-position: -172px -10px;
  height: 32px;
  width: 30px;
}
.sprite-biblioteca {
  background-position: -222px -10px;
  height: 31px;
  width: 28px;
}
.sprite-boato {
  background-position: -270px -10px;
  height: 37px;
  width: 44px;
}
.sprite-chat {
  background-position: -334px -10px;
  height: 27px;
  width: 28px;
}
.sprite-comentar {
  background-position: -76px -57px;
  height: 25px;
  width: 33px;
}
.sprite-cursos {
  background-position: -129px -67px;
  height: 44px;
  width: 37px;
}
.sprite-denuncia {
  background-position: -334px -57px;
  height: 28px;
  width: 31px;
}
.sprite-denuncia_choose {
  background-position: -10px -105px;
  height: 19px;
  width: 21px;
}
.sprite-denuncie {
  background-position: -51px -105px;
  height: 34px;
  width: 29px;
}
.sprite-descontrair {
  background-position: -186px -105px;
  height: 23px;
  width: 25px;
}
.sprite-dicas {
  background-position: -231px -105px;
  height: 26px;
  width: 25px;
}
.sprite-e-books {
  background-position: -276px -105px;
  height: 41px;
  width: 43px;
}
.sprite-editais {
  background-position: -339px -105px;
  height: 25px;
  width: 25px;
}
.sprite-editais_gd {
  background-position: -10px -166px;
  height: 44px;
  width: 37px;
}
.sprite-editar {
  background-position: -100px -150px;
  background-position: -587px -24px;
  height: 24px;
  width: 24px;
  width: 30px;
}
.sprite-editar_blue {
  background-position: -144px -150px;
  height: 20px;
  width: 21px;
}
.sprite-espada {
  background-position: -185px -150px;
  height: 27px;
  width: 24px;
}
.sprite-excluir {
  background-position: -339px -150px;
  height: 18px;
  width: 18px;
}
.sprite-excluir_blue {
  background-position: -229px -188px;
  height: 17px;
  width: 15px;
}
.sprite-favorito {
  background-position: -264px -166px;
  height: 32px;
  width: 35px;
}
.sprite-favorito_choose {
  background-position: -319px -188px;
  height: 26px;
  width: 28px;
}
.sprite-favoritos {
  background-position: -10px -234px;
  height: 22px;
  width: 25px;
}
.sprite-feed {
  background-position: -55px -234px;
  height: 27px;
  width: 25px;
}
.sprite-image {
  background-position: -102px -227px;
  cursor: pointer;
  height: 29px;
  padding: 5px;
  width: 33px;
}
.sprite-indicacao {
  background-position: -153px -234px;
  height: 42px;
  width: 49px;
}
.sprite-indicacoes {
  background-position: -222px -234px;
  height: 19px;
  width: 25px;
}
.sprite-info_boatos {
  background-position: -267px -234px;
  height: 21px;
  width: 25px;
}
.sprite-interesses {
  background-position: -312px -234px;
  height: 24px;
  width: 25px;
}
.sprite-logo-interna {
  background-position: -10px -296px;
  height: 47px;
  width: 197px;
}
.sprite-lupa {
  background-position: -103px -277px;
}
.sprite-mapa {
  background-position: -280px -278px;
  height: 46px;
  width: 39px;
}
.sprite-mapas {
  background-position: -339px -278px;
  height: 24px;
  width: 25px;
}
.sprite-medalha {
  background-position: -385px -10px;
  height: 40px;
  width: 32px;
}
.sprite-minha_rede {
  background-position: -385px -70px;
  height: 26px;
  width: 25px;
}
.sprite-motivacao {
  background-position: -384px -116px;
  height: 28px;
  width: 25px;
}
.sprite-papo {
  background-position: -377px -164px;
  height: 43px;
  width: 42px;
}
.sprite-papo1 {
  background-position: -339px -322px;
  height: 54px;
  width: 54px;
}
.sprite-pdf {
  background-position: -437px -10px;
  height: 44px;
  width: 41px;
}
.edital .sprite-pdf {
  color: #16678e;
font-size: 16px;
font-weight: bold;
padding: 9px 9px 9px 40px;
position: relative;
top: 27px;
width: 147px;
left: 11px;
}
.sprite-perfil {
  background-position: -430px -74px;
  height: 27px;
  width: 26px;
}
.sprite-plus {
  background-position: -439px -121px;
  height: 27px;
  width: 33px;
}
.sprite-power {
  background-position: -439px -168px;
  height: 27px;
  width: 23px;
}
.sprite-professore {
  background-position: -384px -227px;
  height: 32px;
  width: 77px;
}
.sprite-provas {
  background-position: -413px -279px;
  height: 25px;
  width: 25px;
}
.sprite-reprovar {
  background-position: -413px -324px;
  height: 26px;
  width: 26px;
}
.sprite-seta {
  background-position: -458px -279px;
  height: 18px;
  width: 21px;
}
.sprite-share {
  background-position: -459px -317px;
  height: 24px;
  width: 23px;
}
.sprite-sino {
  background-position: -227px -361px;
  height: 25px;
  width: 19px;
}
.sprite-sucesso {
  background-position: -10px -370px;
  height: 19px;
  width: 25px;
}
.sprite-wifi {
  background-position: -266px -361px;
  height: 23px;
  width: 24px;
}
.sprite2 {
  background-image: url('../img/spritesheet_2.png');
}
.sprite-aluna_gd {
  background-position: -25px -25px;
  height: 29px;
  width: 27px;
}
.sprite-aluna_pq {
  background-position: -102px -25px;
  height: 22px;
  width: 19px;
}
.sprite-aluno_gd {
  background-position: -171px -25px;
  height: 29px;
  width: 27px;
}
.sprite-aluno_pq {
  background-position: -248px -25px;
  height: 21px;
  width: 22px;
}
.sprite-banco_gd {
  background-position: -320px -25px;
  height: 37px;
  width: 37px;
}
.sprite-banco_pq {
  background-position: -407px -25px;
  height: 23px;
  width: 21px;
}
.sprite-ciclos {
  background-position: -407px -98px;
  height: 34px;
  width: 37px;
}
.sprite-close_blue {
  background-position: -25px -182px;
  height: 30px;
  width: 31px;
}
.sprite-close_gray {
  background-position: -102px -98px;
  height: 14px;
  width: 14px;
}
.sprite-cong_gd {
  background-position: -106px -182px;
  height: 28px;
  width: 38px;
}
.sprite-cong_pq {
  background-position: -194px -182px;
  height: 16px;
  width: 24px;
}
.sprite-desafio {
  background-position: -268px -182px;
  height: 34px;
  width: 34px;
}
.sprite-fed_gd {
  background-position: -352px -182px;
  height: 36px;
  width: 38px;
}
.sprite-fed_pq {
  background-position: -440px -182px;
  height: 27px;
  width: 27px;
}
.sprite-juiz_gd {
  background-position: -440px -259px;
  height: 36px;
  width: 36px;
}
.sprite-juiz_pq {
  background-position: -25px -345px;
  height: 24px;
  width: 26px;
}
.sprite-just_gd {
  background-position: -101px -345px;
  height: 35px;
  width: 37px;
}
.sprite-just_pq {
  background-position: -188px -345px;
  height: 23px;
  width: 28px;
}
.sprite-logo_nome {
  background-position: -266px -345px;
  height: 57px;
  width: 61px;
}
.sprite-msg {
  background-position: -248px -98px;
  height: 14px;
  width: 20px;
}
.sprite-nada_gd {
  background-position: -377px -345px;
  height: 32px;
  width: 18px;
}
.sprite-nada_pq {
  background-position: -194px -259px;
  height: 26px;
  width: 19px;
}
.sprite-oab_gd {
  background-position: -377px -427px;
  height: 18px;
  width: 41px;
}
.sprite-oab_pq {
  background-position: -445px -345px;
  height: 13px;
  width: 31px;
}
.sprite-pesq1_gd {
  background-position: -494px -25px;
  height: 37px;
  width: 29px;
}
.sprite-pesq1_pq {
  background-position: -517px -112px;
  height: 24px;
  width: 19px;
}
.sprite-pesq_gd {
  background-position: -526px -186px;
  height: 32px;
  width: 35px;
}
.sprite-pesq_pq {
  background-position: -25px -268px;
  height: 22px;
  width: 22px;
}
.sprite-pol_gd {
  background-position: -526px -268px;
  height: 36px;
  width: 32px;
}
.sprite-pol_pq {
  background-position: -526px -354px;
  height: 28px;
  width: 25px;
}
.sprite-prof_gd {
  background-position: -25px -432px;
  height: 29px;
  width: 26px;
}
.sprite-prof_pq {
  background-position: -25px -112px;
  height: 20px;
  width: 18px;
}
.sprite-profa_gd {
  background-position: -101px -432px;
  height: 29px;
  width: 26px;
}
.sprite-profa_pq {
  background-position: -97px -268px;
  height: 21px;
  width: 18px;
}
.sprite-publicacao {
  background-position: -166px -112px;
  height: 18px;
  width: 18px;
}
.sprite-questao {
  background-position: -177px -432px;
  height: 35px;
  width: 37px;
}
.sprite-sau_pq {
  background-position: -263px -268px;
  height: 25px;
  width: 26px;
}
.sprite-saud_gd {
  background-position: -468px -432px;
  height: 34px;
  width: 37px;
}
.sprite-shared_blue {
  background-position: -318px -112px;
  height: 16px;
  width: 18px;
}
.sprite-tik_blue {
  background-position: -339px -268px;
  height: 15px;
  width: 18px;
}
.sprite-tik_gray {
  background-position: -25px -516px;
  height: 16px;
  width: 18px;
}
.sprite-video {
  background-position: -93px -516px;
  height: 14px;
  width: 16px;
}
.sprite-video-39 {
  background-position: -264px -516px;
  height: 38px;
  margin-right: 10px;
  width: 40px;
}
.sprite3 {
  background-image: url('../img/spritesheet_3.png');
}
.sprite-accepted_blue {
  background-position: -25px -25px;
  height: 21px;
  width: 22px;
}
.sprite-chat_blue {
  background-position: -97px -25px;
  height: 20px;
  width: 25px;
}
.sprite-close_blue2 {
  background-position: -97px -95px;
  height: 21px;
  width: 21px;
}
.sprite-compartilhar_blue {
  background-position: -172px -25px;
  height: 18px;
  width: 18px;
}
.sprite-open_white {
  background-position: -172px -93px;
  height: 15px;
  width: 22px;
}
.sprite-mail {
  background-position: -168px -143px;
  height: 20px;
  width: 30px;
}
.sprite-happy {
  background-position: -13px -80px;
  height: 44px;
  width: 43px;
}
.sprite-dicas_gd {
  background-position: -16px -148px;
  height: 47px;
  width: 35px;
}
.sprite-procurar {
  background-position: -92px -148px;
  height: 47px;
  width: 35px;
}
.sprite-historias_gd {
  background-position: -160px -203px;
  height: 37px;
  width: 45px;
}
.sprite-maps {
  background-position: -87px -203px;
  height: 37px;
  width: 45px;
}
.sprite-arraste {
  background-position: -232px -25px;
  height: 129px;
  width: 198px;
}
.sprite-adicionar {
  background-position: -324px -200px;
  height: 45px;
  width: 39px;
}
.sprite-perfil-completo {
  background-position: -390px -200px;
  height: 43px;
  width: 41px;
}
.sprite-msg-grande {
  background-position: -388px -258px;
  height: 30px;
  width: 45px;
}
.sprite-amigos-comum {
  background-position: -321px -251px;
  height: 46px;
  width: 46px;
}
.sprite-pag-professor {
  background-position: -262px -258px;
  height: 45px;
  width: 33px;
}
.sprite-medal {
  background-position: -204px -254px;
  height: 50px;
  width: 33px;
}
.sprite-adicionar-amigo {
  background-position: -161px -257px;
  height: 31px;
  width: 28px;
}
.sprite-time {
  background-position: -123px -257px;
  height: 22px;
  width: 24px;
}
.sprite-cao {
  background-position: -324px -310px;
height: 87px;
width: 111px;
position: absolute;
top: -40px;
right: -6px;
}
.sprite-mental1 {
  background-position: -258px -314px;
  height: 86px;
  width: 56px;
}
.sprite-mental2 {
  background-position: -204px -314px;
  height: 86px;
  width: 36px;
}
.sprite-motivacao_gd {
  background-position: -243px -198px;
  height: 46px;
  width: 40px;
}
.sprite-mental_medal1 {
  background-position: -58px -312px;
  height: 125px;
  width: 136px;
}
.sprite-mental_medal2 {
  background-position: -56px -451px;
  height: 122px;
  width: 121px;
}
.sprite-mental_medal3 {
  background-position: -190px -451px;
  height: 122px;
  width: 121px;
}
.sprite-perseveranca1 {
  background-position: -440px -312px;
  height: 90px;
  width: 57px;
}
.sprite-perseveranca2 {
  background-position: -497px -312px;
  height: 93px;
  width: 57px;
}
.sprite-perseveranca_medal1 {
  background-position: -330px -443px;
  height: 125px;
  width: 119px;
}
.sprite-perseveranca_medal2 {
  background-position: -446px -16px;
  height: 116px;
  margin-top: 8px !important;
  width: 116px;
}
.sprite-perseveranca_medal3 {
  background-position: -452px -139px;
  height: 138px;
  margin-top: -14px !important;
  width: 114px;
}
.sprite-emocional1 {
  background-position: -462px -444px;
  height: 77px;
  width: 53px;
}
.sprite-emocional2 {
  background-position: -462px -522px;
  height: 54px;
  position: relative;
  top: 14px;
  width: 66px;
}
.sprite-emocional_medal1 {
  background-position: -574px -16px;
  height: 117px;
  width: 118px;
}
.sprite-emocional_medal2 {
  background-position: -574px -159px;
  height: 117px;
  width: 118px;
}
.sprite-emocional_medal3 {
  background-position: -574px -290px;
  height: 116px;
  width: 116px;
}
.sprite-select {
  background-position: -448px -372px;
  height: 33px;
  width: 35px;
}
.sprite-select.active {
  background-position: -407px -372px;
  height: 33px;
  width: 35px;
}
.sprite-social1 {
  background-position: -547px -422px;
  height: 89px;
  width: 142px;
}
.sprite-social2 {
  background-position: -547px -524px;
  height: 101px;
  width: 132px;
}
.sprite-social_medal1 {
  background-position: -56px -594px;
  height: 116px;
  width: 117px;
}
.sprite-social_medal2 {
  background-position: -186px -595px;
  height: 116px;
  width: 117px;
}
.sprite-social_medal3 {
  background-position: -319px -574px;
  height: 137px;
  width: 118px;
}
.sprite-social_medal4 {
  background-position: -58px -730px;
  height: 118px;
  width: 118px;
}
.sprite-social_medal5 {
  background-position: -457px -629px;
  height: 113px;
  width: 113px;
}
.sprite-social_medal6 {
  background-position: -581px -629px;
  height: 113px;
  width: 113px;
}
.sprite-follow {
  background-position: -336px -522px;
  height: 24px;
  margin-right: 9px;
  width: 23px;
}
.sprite-msg-pq {
  background-position: -413px -524px;
  height: 16px;
  margin-right: 9px;
  position: relative;
  top: 4px;
  width: 23px;
}
.sprite-eventos {
  background-position: -377px -524px;
  height: 17px;
  margin-right: 9px;
  position: relative;
  top: 4px;
  width: 19px;
}
.sprite-materias {
  background-position: -454px -516px;
  height: 27px;
  width: 23px;
}
.sprite-avaliacao {
  background-position: -490px -517px;
  height: 27px;
  width: 32px;
}
.sprite-sobre {
  background-position: -531px -517px;
  height: 27px;
  width: 24px;
}
.sprite-novo_curso {
  background-position: -209px -510px;
  height: 42px;
  margin-right: 9px;
  width: 40px;
}
.sprite-btn_cursos {
  background-position: -146px -512px;
  height: 44px;
  width: 49px;
}
.sprite-financeiro {
  background-position: -338px -483px;
  height: 24px;
  margin-right: 9px;
  width: 14px;
}
.sprite-select_option {
  background-position: -9px -61px;
  height: 18px;
  width: 21px;
}
.sprite-plus_pq {
  background-position: -447px -418px;
  height: 20px;
  margin-left: 5px;
  margin-top: 4px;
  width: 19px;
}
.sprite-video_pq {
  background-position: -419px -421px;
  /* border-right: 1px solid #e5e5e5; */
  cursor: pointer;
  height: 14px;
  /* padding: 8px; */
  width: 17px;
}
.sprite-img_pq {
  background-position: -367px -417px;
  /* border-right: 1px solid #e5e5e5; */
  height: 17px;
  /* padding: 8px; */
  width: 16px;
}
.sprite-file {
  background-position: -386px -415px;
  border-right: 1px solid #e5e5e5;
  cursor: pointer;
  height: 17px;
  padding: 8px;
  width: 16px;
}
.sprite-youtube {
  background-position: -367px -445px;
  height: 15px;
  left: 82px;
  position: absolute;
  top: 5px;
  width: 19px;
}
.sprite-youtube:hover {
  background-position: -367px -467px;
  height: 15px;
  width: 19px;
}
.sprite-home {
  background-position: -393px -447px;
  height: 26px;
  width: 27px;
}
.sprite-details {
  background-position: -320px -411px;
  height: 32px;
  width: 30px;
}
.sprite-youtube_red {
  background-position: -275px -415px;
  height: 23px;
  width: 33px;
}
.sprite-pdf_pq {
  background-position: -236px -412px;
  height: 27px;
  width: 25px;
}
.sprite-config {
  background-position: -549px -24px;
  height: 23px;
  width: 24px;
}
.bad .sprite-arrow {
  background-position: -624px -24px;
  height: 19px;
  width: 17px;
}
.good .sprite-arrow {
  background-position: -649px -24px;
  height: 19px;
  width: 17px;
}
.sprite-aulas {
  background-position: -550px -68px;
  height: 24px;
  width: 21px;
}
.sprite-msg_blue {
  background-position: -586px -68px;
  height: 22px;
  width: 26px;
}
.sprite-alert_blue {
  background-position: -624px -68px;
  height: 19px;
  width: 21px;
}
.sprite-baixar_aula {
  background-position: -549px -111px;
  height: 26px;
  width: 74px;
}
.sprite-excluir_aula {
  background-position: -579px -155px;
  height: 27px;
  width: 91px;
}
.sprite-ver_videos {
  background-position: -580px -196px;
  height: 27px;
  width: 91px;
}
.sprite-editar_videos {
  background-position: -580px -233px;
  height: 37px;
  width: 97px;
}
.sprite-forum {
  background-position: -579px -278px;
  height: 20px;
  width: 63px;
}
.sprite-download {
  background-position: -578px -312px;
  height: 23px;
  width: 18px;
}
.sprite-download_del {
  background-position: -578px -347px;
  height: 33px;
  width: 29px;
}
.sprite-play {
  background-position: -613px -312px;
  height: 19px;
  width: 27px;
}
.sprite-play_edit {
  background-position: -651px -312px;
  height: 30px;
  width: 37px;
}
.sprite-forum_blue {
  background-position: -616px -349px;
  height: 19px;
  width: 12px;
}
.sprite-video_edit {
  background-position: -234px -450px;
  height: 23px;
  width: 24px;
}
.sprite-video_del {
  background-position: -273px -450px;
  height: 25px;
  margin-left: 5px;
  width: 23px;
}
.sprite-resposta {
  background-position: -190px -426px;
  height: 49px;
  width: 37px;
}
.sprite-relatorio {
  background-position: -9px -458px;
  height: 28px;
  margin-right: 15px;
  width: 136px;
  font-style: normal;
  text-transform: uppercase;
  font-size: 10px;
  color: #1e9ec5;
  font-weight: 500;
  padding: 6px 0px 0px 35px;
}
.sprite-demonstrativo {
  background-position: -9px -497px;
  height: 29px;
  width: 182px;
  font-style: normal;
  text-transform: uppercase;
  font-size: 10px;
  color: #1e9ec5;
  font-weight: 500;
  padding: 6px 0px 0px 35px;
}
.sprite-perfil_white {
  background-position: -21px -67px;
  height: 30px;
  width: 21px;
}
.sprite-circle {
  background-position: -50px -67px;
  height: 30px;
  width: 28px;
}
.sprite-medalha_white {
  background-position: -89px -67px;
  height: 34px;
  width: 28px;
}
.sprite-resolucao {
  background-position: -15px -6px;
  height: 54px;
  width: 348px;
}
.sprite4 {
  background-image: url('../img/spritesheet_4.png');
}
.sprite-pdf_app {
  background-position: -20px -114px;
  height: 28px;
  width: 25px;
}
.sprite-link_app {
  background-position: -52px -114px;
  height: 28px;
  width: 30px;
}
.sprite-play_app {
  background-position: -100px -112px;
  height: 31px;
  width: 34px;
}
.sprite-stop_app {
  background-position: -133px -112px;
  height: 31px;
  width: 34px;
}
.sprite-relogio_app {
  background-position: -173px -101px;
  height: 50px;
  width: 50px;
}
.sprite-star_app {
  background-position: -233px -114px;
  height: 28px;
  width: 29px;
}
.sprite-chart_app {
  background-position: -270px -114px;
  height: 28px;
  width: 29px;
}
.sprite-correto_app {
  background-position: -20px -153px;
  height: 40px;
  width: 157px;
}
.sprite-erro_app {
  background-position: -196px -153px;
  height: 40px;
  width: 202px;
}
.sprite-coment_professores {
  background-position: -20px -239px;
  height: 26px;
  width: 55px;
}
.sprite-coment_concurseiros {
  background-position: -80px -239px;
  height: 26px;
  width: 55px;
}
.sprite-anterior_app {
  background-position: -406px -155px;
  height: 38px;
  width: 27px;
}
.sprite-proxima_app {
  background-position: -433px -155px;
  height: 38px;
  width: 27px;
}
.sprite-anwser_right_app {
  background-position: -20px -279px;
  height: 23px;
  width: 72px;
}
.sprite-anwser_wrong_app {
  background-position: -20px -309px;
  height: 23px;
  width: 80px;
}
.sprite-estatistica_app {
  background-position: -20px -397px;
  height: 23px;
  width: 95px;
}
.sprite-favoritos_app {
  background-position: -16px -428px;
  height: 27px;
  width: 161px;
}
.sprite-primeiro_app {
  background-position: -19px -462px;
  height: 27px;
  width: 52px;
}
.bgr-lightblue {
  background-color: #daf2ff !important;
}
.no-padding {
  padding: 0 !important;
}
#published-avancado .sprite-close_blue {
  position: relative;
  right: -21px;
  top: -38px;
}
.relative {
  position: relative !important;
}
.sprite-radio_button {
  background-position: -20px -279px;
  height: 23px;
  width: 22px;
}
.payment-method {
  box-sizing: border-box;
  float: left;
  height: 30px;
  position: relative;
  width: 100%;
}
.payment-method label {
  background-color: #ffffff;
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 12px;
  left: 1px;
  position: absolute;
  right: 1px;
  top: 1px;
}
.payment-method label i {
  margin-left: 5px;
}
.certo label {
  background-position: -20px -279px;
  height: 23px;
  width: 72px;
}
.errado label {
  background-position: -20px -309px;
  height: 23px;
  width: 80px;
}
.payment-methods .certo input:focus + label i {
  background-position: -20px -338px;
}
.payment-methods .certo input:checked + label i {
  background-position: -20px -338px;
  font-weight: bold;
}
.payment-methods .errado input:focus + label i {
  background-position: -20px -368px;
}
.payment-methods .errado input:checked + label {
  font-weight: bold;
}
.payment-methods .errado input:checked + label i {
  background-position: -20px -368px;
}
.block {
  display: block !important;
}
.left {
  float: left;
}
.sexo li {
  width: 40px;
}
.sexo > span {
  margin-right: 10px;
}
.sprite-tutorial {
  background-position: -265px -515px;
  height: 40px;
  width: 40px;
}
.bgr-newyellow {
  background-color: #ddae18 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.right {
  float: right !important;
}
.grid740 {
  width: 740px !important;
}
.sprite-papo_concurseiro {
  background-image: url("http://localhost/concurseiro/img/logo-interna.jpg");
  display: block;
  float: left;
  height: 47px;
  text-indent: -9999px;
  width: 51px;
  background-position: 0 0;
  position: relative;
  top: -6px;
}
.sprite5 {
  background-image: url('../img/spritesheet_icons.png');
}
.sprite-user_icon_gd {
  background-position: -15px -16px;
  width: 30px;
  height: 30px;
}
.sprite-user_icon_pq {
  background-position: -66px -20px;
  width: 22px;
  height: 22px;
}
.sprite-prof_icon_gd {
  background-position: -15px -49px;
  width: 30px;
  height: 30px;
}
.sprite-prof_icon_pq {
  background-position: -65px -54px;
  width: 23px;
  height: 23px;
}
.sprite-prof_f_icon_pq {
  background-position: -65px -91px;
  width: 23px;
  height: 23px;
}
.sprite-user_f_icon_pq {
  background-position: -65px -130px;
  width: 23px;
  height: 23px;
}
.sprite-duvida_icon_pq {
  background-position: -63px -167px;
  width: 18px;
  height: 28px;
}
.sprite-justica_icon_pq {
  background-position: -56px -196px;
  width: 29px;
  height: 28px;
}
.sprite-prancheta_icon_pq {
  background-position: -61px -226px;
  width: 20px;
  height: 25px;
}
.sprite-saude_icon_pq {
  background-position: -59px -255px;
  width: 27px;
  height: 25px;
}
.sprite-martelo_icon_pq {
  background-position: -62px -285px;
  width: 25px;
  height: 25px;
}
.sprite-duvida_icon_gd {
  background-position: -70px -351px;
  width: 22px;
  height: 34px;
}
.sprite-lib_icon_gd {
  background-position: -64px -391px;
  width: 35px;
  height: 37px;
}
.sprite-martelo_icon_gd {
  background-position: -61px -437px;
  width: 38px;
  height: 37px;
}
.sprite-congresso_icon_gd {
  background-position: -61px -484px;
  width: 40px;
  height: 29px;
}
.sprite-justica_icon_gd {
  background-position: -61px -526px;
  width: 40px;
  height: 35px;
}
.sprite-search_icon_gd {
  background-position: -66px -578px;
  width: 35px;
  height: 35px;
}
.sprite-prof_f_icon_gd {
  background-position: -15px -85px;
  width: 30px;
  height: 30px;
}
.sprite-user_f_icon_gd {
  background-position: -15px -127px;
  width: 30px;
  height: 30px;
}
.sprite-lib_icon_pq {
  background-position: -21px -169px;
  width: 24px;
  height: 24px;
}
.sprite-search_icon_pq {
  background-position: -22px -201px;
  width: 24px;
  height: 24px;
}
.sprite-oab_icon_pq {
  background-position: -15px -230px;
  width: 31px;
  height: 16px;
}
.sprite-congresso_icon_pq {
  background-position: -19px -259px;
  width: 27px;
  height: 18px;
}
.sprite-brasao_icon_pq {
  background-position: -19px -283px;
  width: 27px;
  height: 28px;
}
.sprite-policia_icon_pq {
  background-position: -19px -317px;
  width: 27px;
  height: 28px;
}
.sprite-oab_icon_gd {
  background-position: -14px -359px;
  width: 40px;
  height: 18px;
}
.sprite-saude_icon_gd {
  background-position: -14px -397px;
  width: 40px;
  height: 34px;
}
.sprite-brasao_icon_gd {
  background-position: -15px -439px;
  width: 40px;
  height: 36px;
}
.sprite-prancheta_icon_gd {
  background-position: -18px -484px;
  width: 29px;
  height: 36px;
}
.sprite-policia_icon_gd {
  background-position: -15px -530px;
  width: 33px;
  height: 36px;
}
.sprite-medal_icon_pq {
  background-position: -15px -577px;
  width: 33px;
  height: 36px;
}
.sprite-fechar_cinza {
  background-position: -53px -110px;
  height: 27px;
  width: 27px;
}
.sprite-seta_blue {
  background-position: -10px -271px;
  height: 16px;
  width: 23px;
}
.sprite-questoes_fav {
  background-position: -14px -622px;
  width: 37px;
  height: 36px;
}
.sprite-ranking_concurseiros {
  background-position: -65px -632px;
  width: 39px;
  height: 41px;
}
.sprite-medalhao {
  width: 30px;
height: 45px;
background-position: -577px -400px;
position: relative;
left: -7px;
top: -2px;
}
.sprite-plus_gd {
  background-position: -13px -695px;
  width: 31px;
  height: 30px;
}
.sprite-minus_gd {
  background-position: -58px -695px;
  width: 31px;
  height: 30px;
}
.sprite-desfazer_pq {
  background-position: -470px -417px;
  height: 20px;
  width: 19px;
}
.sprite-btn_concurseiro {
  background-position: -9px -736px;
  width: 39px;
  height: 35px;
}
.sprite-btn_professores {
  background-position: -58px -736px;
  width: 48px;
  height: 31px;
}
.sprite-btn_solicitacoes {
  background-position: -8px -783px;
  width: 38px;
  height: 35px;
}
.sprite-provas_gd {
  background-position: -10px -544px;
  height: 44px;
  width: 32px;
}
.sprite-pdf_expand {
  background-position: -52px -546px;
  height: 37px;
  width: 31px;
}
.sprite-youtube_excla {
  background-position: -457px -532px;
  height: 15px;
  position: absolute;
  width: 26px;
}
.sprite-youtube_excla:hover {
  background-position: -457px -549px;
  height: 15px;
  position: absolute;
  width: 26px;
}
.sprite-cam_icon_pq {
  background-position: -428px -530px;
  width: 20px;
  height: 16px;
  left: 32px;
  position: relative;
  top: 2px;
}
.sprite-cam_icon_gd {
  background-position: -392px -529px;
  width: 31px;
  height: 23px;
  right: 14px;
  position: absolute;
  top: 14px;
  display: none;
}
.sprite-img_overlay {
  background-position: -291px -530px;
  width: 22px;
  height: 19px;
  margin-right: 10px;
}
.sprite-video_overlay {
  background-position: -326px -530px;
  width: 27px;
  height: 19px;
  margin-right: 10px;
}
.sprite-pdf_overlay {
  background-position: -365px -529px;
  width: 19px;
  height: 22px;
  margin-right: 10px;
}
.sprite-iniciar_bloco {
  background-position: -291px -497px;
  width: 21px;
  height: 28px;
}
.sprite-aprove_pq {
  background-position: -21px -201px;
  width: 24px;
  height: 24px;
}
.sprite-decline_pq {
  background-position: -48px -201px;
  width: 21px;
  height: 21px;
}
